.well  
  .quick-contact
    %h4 Enquire with this pet provider:
    %form
      %label Your name
      %input.input-xlarge{type: "text"}
      %label Email address
      %input.input-xlarge{type: "email"}
      %label Enquiry message
      %textarea.input-xlarge{rows: "7"}
      %br/
      %button.btn.btn-primary.btn-large Send your message