%h2#reviews Recent Reviews
- if @reviewed_ratings.present?
  %br
  - @reviewed_ratings.slice(0, 2).each do |feedback|
    .well
      %p
        - rating_stars feedback.rating
      %p= feedback.review
      %p= "- #{feedback.user.first_name}"
  - more_reviews = @reviewed_ratings.slice(2, -1)
  - if more_reviews.present?
    .well
      %p Read more reviews
- else
  No reviews yet
