@import "month-table";
@import "calendar-footer";

.datepicker{
  height:80%;
}

.ui-datepicker {
    width: 100%;
    height: 10%;
    padding: 0 15px 0px 15px;
    .ui-datepicker-header {
      position: relative;
      padding: .2em 0;
    }
}

// prev, monthName, next
.ui-datepicker-header{

  >.ui-datepicker-prev{
    position: absolute;
    top:15px;
    left:10px;
  }

  >.ui-datepicker-title{
    text-align: center;
  }

  >.ui-datepicker-next{
    position: absolute;
    top:15px;
    right:10px;

  }
  i{
    color:#00BDA0;
    font-size: 18px;
  }
}




/*

.dp-highlight .ui-state-default {
  background: #484;
  color: #FFF;
}
.ui-datepicker.ui-datepicker-multi  {
  width: 100% !important;
}
.ui-datepicker-multi .ui-datepicker-group {
float:none;
}
#datepicker {
  height: 300px;
  overflow-x: scroll;
}
.ui-widget { font-size: 100% }*/
