- unless message.message_text.blank?
  .well
    %p
      %span.pull-right= message.created_at.strftime('%d/%m/%Y %H:%M %p')
      %span.pull-left
        %i From:
        %strong= (current_user == message.user) ? 'Me' : message.user.first_name.capitalize
    %br
    %p
      %i Message:
      %strong= message.message_text