- profix = "aqua_00A89D/aqua_00A89D_"
#expand-search-bar
  .search-box.advanced-search
    .search-row.mar-btm
      .title find someone who can ...
      .filter-btn
        =image_tag(profix+"walk.png",class: "icon")
        .text Walk
      .filter-btn
        =image_tag(profix+"visit.png", class: "icon")
        .text Visit
      .filter-btn
        =image_tag(profix+"groom.png", class: "icon")
        .text Groom
      .filter-btn
        =image_tag(profix+"training.png", class: "icon")
        .text Train
      .filter-btn
        =image_tag(profix+"pickupdropoff.png", class: "icon")
        .text Pick up drop off
    .search-row
      .title who love pets that are ...
      .filter-btn
        =image_tag(profix+"highenergy.png",class: "icon")
        .text High energy
      .filter-btn
        =image_tag(profix+"lowenergy.png", class: "icon")
        .text Low energy
      .filter-btn
        =image_tag(profix+"small.png", class: "icon")
        .text Small
      .filter-btn
        =image_tag(profix+"medium.png", class: "icon")
        .text Medium
      .filter-btn
        =image_tag(profix+"big.png", class: "icon")
        .text Large