.page-header
  %h1
    Update Your PetHomeStay Listing
= twitter_bootstrap_form_for @homestay, html: {class: 'form-horizontal', multipart: true} do |f|
  = render partial: 'fields', locals: {f: f}
  = f.actions do
    = f.submit 'Update my listing'
