# Ignore bundler config
/.bundle
/.DS_Store

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore .rvmrc
.rvmrc

# Ignore zeus socket files dir
.zeus.sock

# Ignore .env
.env

# Ignore dragonfly images
public/system/dragonfly

# Ignore sass cache
.sass-cache/

coverage/
.idea/

/config/local_env.yml

# Ignore application configuration
/config/application.yml
