- if user_signed_in?
  $('#sign-up-modal').modal('hide')
  $('#request-modal-add-pet').modal('show')
- else
  $('#flash_error_sign_up').text('Please fill require data and try again.')
  $('#flash_error_sign_up').addClass('alert alert-#{ new_flash_class_for(:error) }')