- if user_signed_in?
  $(location).attr('href', "#{@rpath}");
  location.reload();
- else
  $('#flash_error_sign_up').html("#{resource.errors.full_messages.join("<br>").html_safe}")
  $('#flash_error_sign_up').addClass('text-danger')