%p.article-title= "#{@user.first_name}, you successfully updated your PHS password!"
%p.article-content= " #{@user.first_name}, this is to inform you that you successfully changed your password for your account at PetHomeStay. You should be able to use your new password to login to your PHS account."
%p.article-content Thanks!
%p.article-content The PetHomeStay Team
