
= javascript_include_tag 'guest/pet/pet'
= javascript_include_tag 'dropzone'
= stylesheet_link_tag 'dropzone'
= stylesheet_link_tag 'guest/pet/pet'
= hidden_field_tag 'redirect_path', params[:redirect_path]
.parent.phs-tab-header
  .panel-heading.feedback-head
    .panel-title.phs-title 
      span.pull-left style="padding-right:10px"
          i.fa.fa-paw 
      span
        ' Step 1 - Your Pet Profile
      span.hidden-sm.hidden-xs style="padding-right:10px; font-size: 8pt"
        'Please complete all fields    
      span.feedback-icon.pull-right 
          i.fa.fa-chevron-down         
  .panel-body.feedback-body 
    = f.label :profile_photo
    #guest_profile_photo_container
      - if @pet.profile_photo?
        .row.text-center.pad-all
          .col-md-3.col-xs-6.bord-all.bg-info id="pet_profile_photo_box_#{@pet.profile_photo.id}"
              .pad-ver
                =cl_image_tag @pet.profile_photo.public_id, class:'img-lg img-border img-circle' 
              hr.mar-no
              .pad-ver
                a.btn.btn-danger.remove_pet_profile_photo href="#Pet-Profile-Photo" data-id="#{@pet.profile_photo.id}" data-model-id="#{@pet.id}" data-model-type="Pet" data-scope="profile_photo"
                  i.fa.fa-trash-o
                  span.pad-lft Remove 
      - else
        .row.text-center.pad-all
          .text-lg.text-thin No Profile Photo Added
          .text-sm.text-thin Adding a profile photo helps hosts prepare for your pet better            
    .btn.btn-primary.btn-block#pet_profile_photo_btn.mar-btm
      span.text-lg.text-thin Add more Photos?
    .pad-ver#pet_profile_photo_space
      .dropzone.btn.btn-default.btn-block id="pet_profile_photo_dropzone"
        .text-center#pet_dropzone_profile_photo_message style="margin-top:100px"
          i.fa.fa-cloud.fa-5x
          .text-md.text-thin Click Here to add Images
          .text-md.text-thin or simply Drag and Drop them!
    - if @pet.new_record?
      = hidden_field_tag "pet[profile_photo]"
    label.hs_mhs_title
    | Pet Name
    = f.input :name, label: false
    label.hs_mhs_title
    | Please Type
    = f.input :pet_type_id, label: false, collection: ReferenceData::PetType.dog_cat_other, as: :radio_buttons, input_html: { class: 'form-radio form-normal form-info collection_rb phs_rb_sp'}, :item_wrapper_class =>'phs_rb_cont'
    label.hs_mhs_title
    | Please specify pet type
    = f.input :other_pet_type, input_html: { id: 'other_pet_type_text_id' }, label: false
    = f.input :breed, label: 'Breed' , collection: DOG_BREEDS, input_html: { class: 'chosen-select', multiple:true, data: { placeholder: 'eg: Beagle' } } 
    = f.input :sex_id, label: false , collection: ReferenceData::Sex.all, as: :radio_buttons,include_blank: false, :item_wrapper_class =>'phs_rb_cont'
    .slider_con
      label.hs_mhs_title style="margin-left:-15px"
        | Pet Size
      = f.input :size_id, label: false, input_html: { class: 'slider', data: { 'slider-id' => 'size', 'slider-min' => 1, 'slider-max' => 4, 'slider-step' => 1, 'slider-value' => f.object.size_id.present? ? f.object.size_id : 1 } }
      label.hs_mhs_title style="margin-left:-15px"
        | Pet Age
      = f.input :pet_age, label: false, input_html: { class: 'slider', data: { 'slider-id' => 'date_of_birth', 'slider-min' => 1, 'slider-max' => 15, 'slider-value' => f.object.try(:pet_age) } }
      label.hs_mhs_title style="margin-left:-15px"
        | Energy Level
      = f.input :energy_level, label: false , input_html: { class: 'slider', data: { 'slider-id' => 'energy_level', 'slider-min' => 1, 'slider-max' => 5, 'slider-step' => 1, 'slider-value' => f.object.energy_level.present? ? f.object.energy_level : 3 } }
    label.hs_mhs_title
      | Personalities
    .phs_help_section
      span This will help the Host take better care of him/her. Please check at least three relevant personalities
    = f.input :personalities, label: false, collection: PERSONALITIES, as: :check_boxes, input_html: { class: 'form-checkbox form-normal form-info collection_cb phs_cb_sp'}, :item_wrapper_class =>'phs_cb_cont phs_cb_cont_addon'
.parent.phs-tab-header
  .panel-heading.feedback-head
    .panel-title.phs-title 
      span.pull-left  style="padding-right:10px"
          i.fa.fa-paw 
      span
        ' Step 2 - Emergency + Medical
      span.hidden-sm.hidden-xs style="padding-right:10px; font-size: 8pt"
        'Optional Information    
      span.feedback-icon.pull-right
          i.fa.fa-chevron-down         
  .panel-body.feedback-body 
    = f.label :extra_photos
    #guest_extra_photos_container
      - if @pet.extra_photos.try(:any?)
        .row.text-center.pad-all
          - for photo in @pet.extra_photos
            .col-md-3.col-xs-6.bord-all.bg-info id="pet_extra_photos_box_#{photo.id}"
              .pad-ver
                = cl_image_tag photo.public_id, class:'img-lg img-border img-circle' 
              hr.mar-no
              .pad-ver
                a.btn.btn-danger.remove_pet_extra_photos href="#Pet-Profile-Photo" data-id="#{photo.id}" data-model-id="#{@pet.id}" data-model-type="Pet" data-scope="extra_photos"
                  i.fa.fa-trash-o
                  span.pad-lft Remove 
      - else
        .row.text-center.pad-all
          .text-lg.text-thin No Photos present in Gallery            
    .btn.btn-primary.btn-block#pet_extra_photo_btn.mar-btm
      span.text-lg.text-thin Add more Photos?
    .pad-ver#pet_extra_photo_space
      .dropzone.btn.btn-default.btn-block id="pet_extra_photos_dropzone"
        .text-center#pet_dropzone_extra_photo_message style="margin-top:100px"
          i.fa.fa-cloud.fa-5x
          .text-md.text-thin Click Here to add Images
          .text-md.text-thin or simply Drag and Drop them!

      - if @pet.new_record?
        = hidden_field_tag "pet[extra_photos][]"
    
    = f.input :emergency_contact_name, label: 'Emergency Contact'
    = f.input :emergency_contact_phone, label: 'Emergency Contact Mobile'
    = f.input :vet_name,  label: 'Vet Surgery'
    = f.input :vet_phone, label: 'Vet Phone'
    = f.input :council_number, label: 'Council Pet Tag'
    = f.input :microchip_number, label: 'Microchip #'
    = f.input :medication, input_html: { rows: 2 }
    label My pet is:
    .checkbox style="margin-left:15px;"
      = f.input :house_trained, label: 'toilet trained', input_html: { class: 'form-checkbox form-normal form-info boolean_cb'}
      = f.input :flea_treated, label: 'flea treated', input_html: { class: 'form-checkbox form-normal form-info boolean_cb'}
      = f.input :vaccinated, label: 'vaccinated', input_html: { class: 'form-checkbox form-normal form-info boolean_cb'}
javascript:
  

  $("a.remove_pet_profile_photo").click(function(event) {
    event.preventDefault();
    if($(this).attr("data-id") != "" && $(this).attr("data-model-id") != "" && $(this).attr("data-model-type") != "" && confirm('Are you sure?')) {
      photo_id = $(this).attr("data-id");
      $.ajax({
        url: '/remove_uploads',
        type: 'DELETE',
        data: "id=" + $(this).attr("data-id") +
              "&model_type=" + $(this).attr("data-model-type") +
              "&model_id=" + $(this).attr("data-model-id") +
              "&scope=" + $(this).attr("data-scope"),
        success: function(result) {
          if(result.status == "success"){
            $("div#pet_profile_photo_box_" + photo_id ).remove();
          } else {
            alert("Sorry Something went wrong!")
          }
        }
      });
    }
  });

  $("a.remove_pet_extra_photos").click(function(event) {
    event.preventDefault();
    if($(this).attr("data-id") != "" && $(this).attr("data-model-id") != "" && $(this).attr("data-model-type") != "" && confirm('Are you sure?')) {
      photo_id = $(this).attr("data-id");
      $.ajax({
        url: '/remove_uploads',
        type: 'DELETE',
        data: "id=" + $(this).attr("data-id") +
              "&model_type=" + $(this).attr("data-model-type") +
              "&model_id=" + $(this).attr("data-model-id") +
              "&scope=" + $(this).attr("data-scope"),
        success: function(result) {
          if(result.status == "success"){
            $("div#pet_extra_photos_box_" + photo_id ).remove();
          } else {
            alert("Sorry Something went wrong!")
          }
        }
      });
    }
  });

  var profile_photo = [];
  $(document).ready(function () {
    $("#pet_profile_photo_dropzone").dropzone({
      url: "/photo_uploads",
      paramName: "photo",
      acceptedFiles: 'image/*',
      maxFilesize: 2,
      maxFiles: 1,
      addRemoveLinks: true,
      maxfilesexceeded: function () {
      $("#pet_dropzone_profile_photo_message").show();
        alert('Max File updloaded');
      },
      sending: function (file, xhr, formData) {
      $("#pet_dropzone_profile_photo_message").hide();
        formData.append("authenticity_token", "#{form_authenticity_token}");
        formData.append("attachinariable_type", "#{@pet.class.name}");
        formData.append("attachinariable_id", "#{@pet.id}");
        formData.append("attachinary_scope", "profile_photo");
      },
      success: function (file, response) {
      $("#pet_dropzone_profile_photo_message").hide();
        profile_photo = [response]
        #{{ "$('#pet_profile_photo').val(JSON.stringify(profile_photo));" if @pet.new_record? }}
        file.previewElement.classList.add("dz-success");
        file.previewElement.classList.add("public_id" + response.public_id);
      },
      removedfile: function(file) {
        classes = file.previewElement.classList;
        for(i = 0; i < classes.length; i++){
          if( classes[i].match("public_id") == "public_id" ){
            file_id = classes[i].replace("public_id", "");
            for(j=0; j<profile_photo.length; j++){
              if(file_id == profile_photo[j].public_id){
                profile_photo.splice(j, 1);
                #{{ "$('#pet_profile_photo').val(JSON.stringify(profile_photo));" if @pet.new_record? }}
                break;
              }
            }
            $.ajax({
              url: '/remove_uploads_with_public_id',
              type: 'DELETE',
              data: "public_id=" + file_id,
              success: function(result) {}
            });
            var _ref;
            if ((_ref = file.previewElement) != null) {
              _ref.parentNode.removeChild(file.previewElement);
            }
            return this._updateMaxFilesReachedClass();
            break;
          }
        }
      }
    });
  });
  
  var extra_photos = [];
  $(document).ready(function () {
    $("#pet_extra_photos_dropzone").dropzone({
      url: "/photo_uploads",
      paramName: "photo",
      acceptedFiles: 'image/*',
      maxFilesize: 2,
      maxFiles: 10,
      addRemoveLinks: true,
      maxfilesexceeded: function () {
        $("#pet_dropzone_extra_photo_message").show();
        alert('Max File updloaded');
      },
      sending: function (file, xhr, formData) {
        $("#pet_dropzone_extra_photo_message").hide();
        formData.append("authenticity_token", "#{form_authenticity_token}");
        formData.append("attachinariable_type", "#{@pet.class.name}");
        formData.append("attachinariable_id", "#{@pet.id}");
        formData.append("attachinary_scope", "extra_photos");
      },
      success: function (file, response) {
        $("#pet_dropzone_extra_photo_message").hide();
        extra_photos.push(response)
        #{{ "$('#pet_extra_photos_').val(JSON.stringify(extra_photos));" if @pet.new_record? }}
        file.previewElement.classList.add("dz-success");
        file.previewElement.classList.add("public_id" + response.public_id);
      },
      removedfile: function(file) {
        classes = file.previewElement.classList;
        for(i = 0; i < classes.length; i++){
          if( classes[i].match("public_id") == "public_id" ){
            file_id = classes[i].replace("public_id", "");
            for(j=0; j<extra_photos.length; j++){
              if(file_id == extra_photos[j].public_id){
                extra_photos.splice(j, 1);
                #{{ "$('#pet_extra_photos_').val(JSON.stringify(extra_photos));" if @pet.new_record? }}
                break;
              }
            }
            $.ajax({
              url: '/remove_uploads_with_public_id',
              type: 'DELETE',
              data: "public_id=" + file_id,
              success: function(result) {}
            });
            var _ref;
            if ((_ref = file.previewElement) != null) {
              _ref.parentNode.removeChild(file.previewElement);
            }
            return this._updateMaxFilesReachedClass();
            break;
          }
        }
      }
    });
  });
coffee:
  $('.pet_size_id .slider').slider
    formatter: (size_id) ->
      switch size_id
        when 1 then 'under 15kg'
        when 2 then '16-30kg'
        when 3 then '31-45kg'
        when 4 then '46kg+'
        else 'invalid value'
  $('.pet_energy_level .slider').slider
    formatter: (energy_id) ->
      switch energy_id
        when 1 then 'low'
        when 2 then 'low medium'
        when 3 then 'medium'
        when 4 then 'high medium'
        when 5 then 'high'
        else 'invalid value'
  $('.pet_pet_age .slider').slider
    formatter: (age) ->
      switch age
        when 1  then 'under 18 months'
        when 15 then '15+ years'
        else "#{age} years old"
  $('.chosen-select').chosen
    allow_single_deselect: true
    no_results_text: 'No results matched'
    width: '200px'
