
.second-nav{
	height: $second_nav_height;
	@include fit-parent($second_nav_height);
}

.main-tab{
	display: inline;
	font-family: Gotham-Book;
	font-size: 14px;
	margin-right:20px;
	color: #000000;
	&.active{
		padding-bottom: 8px;
		font-weight: bold;
		border-bottom: 3px solid #F6B1A3;
	}
	&.pull-right{
		margin:0;
		height:100%;
		@include fit-parent($second_nav_height);
	}

}
// calendar icons
.main-tab i{
	@include fit-parent($second_nav_height);
	color: #EC5D3C;
	&.ion-ios7-calendar-outline{
		font-size: 33px;
		margin-right:5px;
		vertical-align: middle;
	}
	&.ion-arrow-down-b{
		font-size: 20px; 
		margin-left:10px;
		vertical-align: middle;
	}
}

a.main-tab:link{
	text-decoration: none;
}


a.main-tab:active, :visited{
	padding-bottom: 8px;
	font-weight: bold;
	border-bottom: 3px solid #F6B1A3;
}

.main-tab.dropdown >.dropdown-menu{
	//override the css in dropdown.scss
	min-width:300px;
	top: $second_nav_height;
	li{
		line-height: 40px;
		text-align: right;
	}	
}
