.sub-nav {
  height: 86px;
  background-color: $blue-light;
  .pill {
    height: 100%;
    color: $blue-lighter;
    span {
      font-size: 16px;
    }
    &.active {
      background-color: $blue;
      color: white;
    }
  }
  .pill-profile {
    line-height: 86px;
    img {
      width: 59px;
      margin-top: 15px;
      margin-right: 10px;
    }
    span {
    }
  }
  .pill-guest,
  .pill-host {
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    span {
      display: block;
    }
    &:hover{
      color: #5f5753; // Placeholder
    }
  }
}
