// include font
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

// layout css with bourbon and neat
@import "bourbon";
@import "css3/animation";
@import "neat";


//variables must after neat and bourbon(new-breakpoint)
@import "my_variables";
@import "myhelper";
@import "primary-nav/primary-nav";
@import "second-nav";
@import "welcome-bar/welcome-bar";
@import "dropdown";
@import "calendar/calendar";
@import "footer";
@import "slick";
@import "slick-theme";
/* ionicons 1.5.2*/
@import "ionicons/ionicons-variables";
@import "ionicons/ionicons-font";
@import "ionicons/ionicons-animation";
@import "ionicons/ionicons-icons";



body > *{
	padding:0 10% 0 10%;
	width:100%;
}

body{
	//@include no_selection;
	margin:0;
	min-height:100vh;
	background-color: $lightgrey;

	/*will remove to seperate file*/
	>.welcome-bar{

	}
	>.body-container{
		min-height:40vh;
	}
	>.footer{
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 70px;
		background-color: $darkgrey;
	}
}

.body-container{
	@include outer-container;
	.col-3{
		@include span-columns(3);
		background-color: #FFFFFF;
		@include media($mobile){
			@include span-columns(12);
			background-color: #34CA6C;
		}

	}
}




// chrome issue with bouron animation issue:
// https://github.com/thoughtbot/bourbon/issues/336


.rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.down{
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

