.galleria{ width: 700px; height: 400px; background: #000 }
.link-options {
    display:block;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    width: 110px;
    height: 110px;
    text-align: center;
    margin: 0 auto;
    border: 4px solid #ddd;
    border-radius: 50%;
    z-index: 4;
    margin-top: -105px;
    color: #c4c4c4;  
  }
  .link-options:hover {
    color: #ec5c3b;
    border: 4px solid #ec5c3b;
    opacity: 0.8; 
  }
  .pet-trash-css {
    font-size: 40pt;
    padding-top: 25px;
  }
  .show-options:hover .link-options {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
  }
  .slick-prev {
    display:none !important;
  }
  .slick-next {
    display:none !important;
  }
  .title_p_t {
    margin-top:10px;
  }
  .tooltip_p_t {
    margin-top:5px
  }
  .title_blk {
    display:block;
  } 
  .price_size {
    font-size: 1.1em;
  }
  .price_sticky {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  .phs_icon_wrap {
    border: 1px solid #ddd;
    border-radius:4px;
  }
  .phs_badge_wrap {
    margin: 0 15px 15px 15px;
    width: 250px;
    display: inline-block;
  } 
  .phs_cb_width {
    width: 180px;
    display: inline-block;
  }
  .phs_pet_icon_wrap {
    text-align:center;
  }
  .phs_actionBtn {
    margin-left:5px;  
    font-weight:bold; 
    font-size:18px;
  }