.light-image-gallery {
    background-color:#000;
    max-height:400px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.light-image-center {
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}
.slick-prev {
   display:none !important;
}
.slick-next {
  display:none !important;
}

.price_size {
  font-size: 1.1em;
}

.contact-host-btn {
  height:50px;
}

.sideScroll {
  padding-left:0px;
}
