css:
  .feedback-head {
    cursor : pointer;
  }
  .feedback-body {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-top: none;
  }
  .btn-fb {
    margin-right:5px;
    background: #3B5998;
    color: #f7f7f7;
  }
  .btn-tw {
    background: #55acee;
    color: #f7f7f7;
  }
  .phs-tab-header {
    margin-left: -20px;
    margin-right: -20px;
    height: 75px;
  }
  .phs-title {
    font-size: 15px;
    line-height: 20px !important;
    background-color: #f2f2f2;
    color: #434343;
    padding: 20px;
    transition: .3s;
  }
  .phs-title-active {
    font-size: 15px;
    line-height: 20px !important;
    background-color: #5cc1c0;
    color: #ffffff;
    padding: 20px;
    transition: .3s;
  }
  .phs-tab-header-picture {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .phs-tab-header-picture2x {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .phs-panel-body {
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 0 0 0 !important;
  }
  .phs-subtitle {
    background-color: #f2f2f2;
    color: #ababab;
    margin: -10px 0 10px 0;
    padding: 5px;
    text-align: center;
  }
  .phs-rotate {
    transform: rotate(-180deg);
    transition: .3s;
  }
  .phs-reset {
    transform: rotate(0deg);
    transition: .3s;
  }
javascript:
  window.fbAsyncInit = function() {
    FB.init({
      appId      : gon.fb_app_id,
      xfbml      : false,
      version    : 'v2.1'
    });

    $('.fb-share-btn').on('click', function() {
      FB.ui(
      {
        method: 'share',
        href: document.URL
      }, function(response){});
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
#fb-root
= render layout: 'layouts/user' do
  .panel.panel-default
    .panel-heading.phs-tab-header
      .panel-control
        ul.nav.nav-tabs
          li.active.hidden-sm.hidden-xs
            a href="#reviews-given-tab" data-toggle="tab"
              span Reviews Given
          li.hidden-sm.hidden-xs
            a href="#reviews-received-tab" data-toggle="tab"
              span Reviews Received
          li.hidden-sm.hidden-xs
            a href="#recommendation-tab" data-toggle="tab"
              span Supporters
          li.active.hidden-md.hidden-lg
            a href="#reviews-given-tab" data-toggle="tab"
              i.fa.fa-share
          li.hidden-md.hidden-lg
            a href="#reviews-received-tab" data-toggle="tab"
              i.fa.fa-reply
          li.hidden-md.hidden-lg
            a href="#recommendation-tab" data-toggle="tab"
              i.fa.fa-heart
    .panel-body.phs-panel-body
      .tab-content
        .tab-pane.fade.in.active id="reviews-given-tab"
          .phs-subtitle
            ' Reviews that you have given as a Guest for a host.
          - @feedbacks.each do |feedback|
            - next unless feedback
            - if feedback.try(:enquiry).try(:booking).try(:bookee) == feedback.try(:subject)
              = render 'feedback_row', feedback: feedback              

        .tab-pane.fade.in id="reviews-received-tab"
          .phs-subtitle
            ' Reviews that you have received as a Guest by a Host.
          - @rec_feedbacks.each do |rec_feedback|
            - next unless rec_feedback
            - if rec_feedback.enquiry.booking.booker == rec_feedback.subject
              = render 'rec_feedback_row', rec_feedback: rec_feedback  

        .tab-pane.fade.in id="recommendation-tab"
          .phs-subtitle
            ' Support that you have received from friends and family will appear here. To get more support, tell friends and family to go to the following URL 
            br
            br
            a href=""
              = "www.pethomestay.com.au/support/#{current_user.hex}"
            br
            br
            '  to leave you more recommendations.
          - if @recommendations.any?
            - @recommendations.each do |recommendation|
              .parent style="border-bottom: 1px solid #ddd;"
                .panel-heading.feedback-head style="margin-bottom: 20px;"
                  .panel-title.phs-title
                    .pull-left
                      = "#{recommendation.email}"
                      br
                      | Reviewed:
                      = " (#{time_ago_in_words(recommendation.created_at)}) ago"
                    .pull-right
                      .feedback-icon
                        i.fa.fa-chevron-down  
                .panel-body.feedback-body style="margin-top: 20px;"
                  .row
                    .col-md-12
                      span "
                      strong
                        = recommendation.review
                      span "

javascript:
  $( ".feedback-body" ).hide();
  $( ".feedback-head" ).click(function(event) {
    var head = $(this).children();
    var icon = $(this).find(".feedback-icon").children();
    var body = $(this).parent().find(".feedback-body");
    if( body.is(":hidden") ) {
      icon.addClass("phs-rotate");
      icon.removeClass("phs-reset");
      head.removeClass("phs-title"); 
      head.addClass("phs-title-active");
      body.slideDown();
    } else {
      icon.removeClass("phs-rotate"); 
      icon.addClass("phs-reset");
      head.removeClass("phs-title-active"); 
      head.addClass("phs-title");
      body.slideUp();
    }
  });

