.span12
  .page-header
    .pull-left
      %h1 Update My Pet Profile
    .pull-right
      = link_to 'Back to My Pets', pets_path, class: 'btn'
    .clear
  = simple_form_for @pet, html: {class: 'form-horizontal', multipart: true} do |f|
    = render partial: 'fields', locals: {f: f}
    .form-actions
      = f.submit 'Update my pet profile', class: 'btn btn-primary'
