.page-header
  %h1
    Add a Pet Profile
= twitter_bootstrap_form_for @pet, html: {class: 'form-horizontal', multipart: true} do |f|
  = render partial: 'fields', locals: {f: f}
  = f.actions do
    = f.submit 'Add my pet'
