%p
  PetHomeStay takes cancellations by Hosts very seriously, as it can cause great impact on Guests and reflects poorly on our community.
%p
  Cancellations should be requested under Emergency situations only and are approved via a PetHomeStay Admin, who will endeavour to find a replacement Host if possible.