%hr
  .control-group.string
    %label.string.control-label
      Policies
  .control-group.string
    %label.string.control-label
      Cancellation policy
    .controls
      %label.control-content
        = link_to 'Read cancellation policy', house_rules_path

  .control-group.string
    %label.string.control-label
      Cancellation policy
    .controls
      %label.control-content
        = link_to 'Read house rules', house_rules_path

  .control-group.string
    %label.string.control-label
      Insurance policy
    .controls
      %label.control-content
        = link_to 'Read insurance policy', house_rules_path

