%hr
  .control-group.string
    %label.string.control-label
      Policies
  .control-group.string
    %label.string.control-label
      Cancellation policy
    .controls
      %label.control-content
        = link_to 'Read cancellation policy', cancellation_policy_url

  .control-group.string
    %label.string.control-label
      Cancellation policy
    .controls
      %label.control-content
        = link_to 'Read house rules', house_rules_url

  .control-group.string
    %label.string.control-label
      Insurance policy
    .controls
      %label.control-content
        = link_to 'Read insurance policy', insurance_policy_url

