%input{ type: 'hidden', name: 'EPS_MERCHANT', value: ENV['MERCHANT_ID'] }
%input{ type: 'hidden', name: 'EPS_TXNTYPE', value: @transaction.type_code }
%input{ type: 'hidden', name: 'EPS_REFERENCEID', value: @transaction.reference }
%input{ type: 'hidden', name: 'EPS_AMOUNT', value: @transaction.actual_amount }
%input{ type: 'hidden', name: 'EPS_RESULTURL', value: root_url + ENV['TRANSACTION_RESULT_URL'], id: 'EPS_RESULTURL' }
%input{ type: 'hidden', name: 'EPS_REDIRECT', value: ENV['TRANSACTION_RESPONSE_METHOD'] }
%input{ type: 'hidden', name: 'EPS_TIMESTAMP', value: @transaction.time_stamp }
%input{ type: 'hidden', name: 'EPS_FINGERPRINT', value: @transaction.merchant_fingerprint }

%input{ type: 'hidden', name: 'EPS_STORE', value: 'TRUE' }
%input{ type: 'hidden', name: 'EPS_STORETYPE', value: 'PAYOR' }
%input{ type: 'hidden', name: 'EPS_PAYOR', value: current_user.id }

.control-group.string
  %label.string.control-label
    Credit Card fields