function insert_flash() {$( "#cancel_reason_form .form-actions" ).before( "<div style='max-width:464px;margin-left: 180px;' class='alert fade in alert-success'>Cancel reason saved.</div>" );setTimeout(function() {$(".alert-success").fadeTo(500, 0).slideUp(500, function(){$(this).remove();});}, 3000);}
function no_errors() {$("span.help-inline").text('');$("#guest_cancel").removeAttr("disabled", "disabled");$("div.booking_cancel_reason").removeClass("error").addClass('success');if ($("div.alert-success").length == 0) {insert_flash();}}
function errors() {$("div.booking_cancel_reason").removeClass('success').addClass("error");if ($("div.info").length > 0) {$( "div.info" ).remove();};$("span.help-inline").text('#{escape_javascript(@booking_errors)}');$('#guest_cancel').attr("disabled", "disabled");}
if ('#{escape_javascript(@booking_errors)}'.length == 0) { no_errors();} else {errors();}
