.span12
  .page-header
    .pull-left
      %h1 Host Booking Cancellation

    .pull-right
      = link_to 'Back to My Account', my_account_path, class: 'btn'
    .clear
    Booking to Cancel:
    %br
    - booking_hash = {}
    - @bookings.each do |booking|
      - booking_hash["#{booking.booker.name}, Start Date: #{booking.check_in_date.strftime('%d/%m/%Y')}"] = booking.id
    = select(:booking, :canceled_booking,booking_hash)