.span12
  .page-header
    .pull-left
      %h1 Booking results
    .clear


  %h3 Message from host
  .row
    .span6
      %p
        = @booking.response_message.blank? ? 'none' : @booking.response_message
        %br
