.span12
  .page-header
    .pull-left
      %h1 Confirm your reservation
    .pull-right
      = link_to 'Back to My Account', my_account_path, class: 'btn'
    .clear

  = render 'form'

  %hr

  = render 'transaction_form'
