.span12
  .page-header
    .pull-left
      %h1 A Payment Issue Has occured with this Booking
    .pull-right
      = link_to 'Back to My Account', my_account_path, class: 'btn'
    .clear
  %p
    An attempt to pay for this booking has already been made.  The administrator has been contacted and will get back to you soon regarding this booking.