%h3 My Pet Profiles
.row
  .span6
    %p Please keep you pet profiles up-to-date to give pet carer's the information they need to look after your pets.
  .span2
    = link_to "Edit pet profiles", pets_path, class: 'btn'
%hr
