- if current_user.sitter && current_user.sitter.active?
  %h3 Pet-sitting details
  .row
    .span6
      %p
        Want to add more information to your awesome pet-sitting profile? More info means more enquiries!
    .span2
      = link_to "Edit pet-sitting listing", edit_sitter_path(current_user.sitter), class: 'btn'
- else
  %h3 Create pet-sitter listing
  .row
    .span6
      %p
        Earn money looking after your neighbours adorable pets while they are away. It couldn't be easier!
    .span2
      = link_to "Start pet-sitting", sitter_steps_path, method: 'POST', class: 'btn btn-primary'
%hr
