.control-group.string
  %label.string.control-label
    = datetime_field[:label]
  .controls
    .input-append.datepicker.date
      %input.string.datepicker.span2{ type: 'text', name: datetime_field[:name], class: datetime_field[:class],
        value: datetime_field[:value], readonly: datetime_field[:readonly], style: datetime_field[:readonly] ? 'cursor:pointer;' : '',
        "data-format" => "dd/MM/yyyy" }
      %span.add-on
        %i{ "data-time-icon" => "icon-time", "data-date-icon" => "icon-calendar"}


