.control-group.string
  %label.string.control-label
    = datetime_field[:label]
  .controls
    .input-append.datepicker.date{ 'data-date-format' => 'dd-mm-yyyy' }
      %input.string.span2{ type: 'text', name: datetime_field[:name], class: datetime_field[:class],
        value: datetime_field[:value], readonly: datetime_field[:readonly] }
      %span.add-on
        %i.icon-calendar
