%section.footer
    .container
        .span3
            %h4 Support
            %a{href: "http://support.pethomestay.com/hc/en-us/sections/200198489-Guest-FAQ"}
                %h4 <small>Guest FAQ</small>
            %a{href: "http://support.pethomestay.com/hc/en-us/sections/200198479-Host-FAQ"}
                %h4 <small>Host FAQ</small>
            %a{href: "http://support.pethomestay.com"}
                %h4 <small>Support Center</small>
            %h4 <small>Call 1300 660 945</small>
            %h4.connect Connect with Us
            -# Google Plus
            %a{href: "https://plus.google.com/+PetHomeStay/", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(235, 97, 96)"}
                    %i.fa.fa-google-plus.fa-stack-1x
            -# Twitter
            %a{href: "https://twitter.com/PetHomeStay", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(98, 205, 241)"}
                    %i.fa.fa-twitter.fa-stack-1x
            -# Facebook
            %a{href: "https://www.facebook.com/PetHomeStay", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(81, 124, 193)"}
                    %i.fa.fa-facebook.fa-stack-1x
            -# Linkedin
            %a{href: "https://www.linkedin.com/company/pethomestay-com", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(49, 128, 174)"}
                    %i.fa.fa-linkedin.fa-stack-1x
            -# Email
            %a{href: "mailto:support@pethomestay.com", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(34, 96, 116)"}
                    %i.fa.fa-envelope-o.fa-stack-1x
        .span8
            .row
                .span2.offset1
                    %h4 Learn More
                    %a{href: "#{blogit_path}"}
                        %h4 <small>Read Our Blog</small>
                    %h4 <small>Become a Sitter</small>
                    %a{href: "#{root_path}"}
                        %h4 <small>Find a Sitter</small>
                    %a{href: "#{new_contact_path}"}
                        %h4 <small>Contact Us</small>
                .span2
                    %h4 About
                    %a{href: the_team_path}
                        %h4 <small>The Team</small>
                    %h4 <small>In the Press</small>
                    %a{href: jobs_path}
                        %h4 <small>Jobs</small>
                    %a{href: investors_path}
                        %h4 <small>Investors</small>
                    %a{href: partners_path}
                        %h4 <small>Partners</small>
                    %h4 <small>Terms of Service</small>
                    %h4 <small>Privacy Policy</small>
                    %a{href: 'http://www.pethomestay.com/robots.txt', hidden: ''} Sitemap
                .span3
                    %h4 Top Pet Host Cities
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=3000&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Melbourne</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=2000&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Sydney</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=4000&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Brisbane</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=5000&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Adelaide</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=4217&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Gold Coast</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=6000&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Perth</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=0800&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Darwin</small>
                    %a{href: "https://www.pethomestay.com/homestays?utf8=%E2%9C%93&search%5Blocation%5D=2300&search%5Bcheck_in_date%5D=&search%5Bcheck_out_date%5D="}
                        %h4 <small>Newcastle</small>
