%nav.navbar.nav-custom{role: "navigation", style: unless @homepage then 'background-color: #5f5753' else '' end}
    .container
        .navbar-header.pull-left
            %a.navbar-brand#brand{href: "#{root_path}"} pet<span style="color: #ea7a28;">home</span>stay
        .navbar-header.pull-right
            - if user_signed_in?
                - if current_user.admin?
                    = link_to 'Admin Dashboard', admin_dashboard_path, class: 'buttons btn navbar-btn'
                %a.buttons.btn.navbar-btn#find-a-host{ href: root_path } Find A Host
                = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'buttons btn navbar-btn'
                - if current_user.homestay.present?
                    %a.buttons.btn.navbar-btn.primary{ href: host_path }
                        %i.fa.fa-home
                        Host View
                - else
                    %a.buttons.btn.navbar-btn.primary{ href: guest_path }
                        %span#my
                            %i.fa.fa-user
                            My
                        Account
            - else
                %a.buttons.btn.navbar-btn#become-a-host{ href: why_join_path } Become a Host
                %a.buttons.btn.navbar-btn{href: new_user_session_path } Sign In
                %a.buttons.btn.navbar-btn.primary{href: new_user_registration_path } Sign Up
