%form#newsletter.center-block.form-inline.search-form{role: 'form', action: subscribers_path, method: 'post'}
  .form-group
    .input-group.input-group-flat-left
      %span.input-group-addon
        %i.fa.fa-envelope
      %input.form-control{type: 'email', name: 'email', placeholder: 'Enter your email'}
  %button#search-btn.btn.btn-lg.btn-primary{type: 'submit', data: {loading_text: '...'}} ADD
