%form.center-block.form-inline.search-form{role: 'form', action: '#', method: 'get'}
  .form-group
    .input-group.input-group-flat-left
      %span.input-group-addon
        %i.fa.fa-envelope
      %input.form-control{type: 'email', name: 'newsletter_email', placeholder: 'Enter Your Email for Offers, Tips & Events'}
  %button#search-btn.btn.btn-lg.btn-primary{type: 'submit'} ADD
