/ Expected params
/   autofocus: boolean


%form.center-block.form-inline.search-form{role: "form", action: "#{homestays_path}", method: "get"}
    .form-group#postcode
        .input-group.input-group-lg.input-group-flat-left
            %span.input-group-addon
                %i.fa.fa-map-marker.fa-lg
            - if autofocus
                %input.form-control{autofocus: true, type: "text", name: "search[location]", placeholder: "City or Postcode", 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-trigger' => 'manual', 'data-container' => 'body', 'data-content' => 'Please tell us where to search :)'}
            - else
                %input.form-control{type: "text", name: "search[location]", placeholder: "City or Postcode", 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-trigger' => 'manual', 'data-container' => 'body', 'data-content' => 'Please tell us where to search :)'}
    %button#search-btn.btn.btn-lg.btn-primary{type: "submit"} SEARCH
