%section.meet-community
    .container-fluid
        %h2.text-center Meet the Community
        .row
            .story.col-md-4.col-sm-6
                = image_tag("home/first_story.png")
                .caption
                    %h3 Steve & Buddy
                    %h5.text-center Hamption, VIC
            .story.col-md-4.col-sm-6#second-story
                = image_tag("home/second_story.png")
                .caption
                    %h3 Amy & Rascal
                    %h5.text-center Richmond, VIC
            .story.col-md-4#third-story
                = image_tag("home/third_story.png")
                .caption
                    %h3 Jody & Snow
                    %h5.text-center Black Rock, VIC
        .row
            .col-md-4.col-sm-6
                %p Buddy was cared for like a dear family member, and we felt that he was safe and secure. I received pictures and daily updates, which was extremely comforting.
            .col-md-4.col-sm-6#second-story-description
                %p Rachel was extremely professional, accommodating, and thoughtful to both us and the dogs - one of which is diabetic and requires multiple shots of insulin daily.
            .col-md-4#third-story-description
                %p It is hard for me to explain my complete, amazing pleasure and joy with Michael. My puppy LOVES him! I LOVE him!
