%nav.navbar.nav-custom{role: "navigation"}
    .container
        .navbar-header.pull-left
            %a.navbar-brand#brand{:href => "#"} pet<span style="color: rgb(231, 120, 49)">home</span>stay
        .navbar-header.pull-right
            %button.buttons.btn.navbar-btn#become-a-host{type: "button"} Become A Host
            %button.buttons.btn.navbar-btn{type: "button"} Log In
            %button.buttons.btn.navbar-btn#sign-up{type: "button"} Sign Up
