%nav.navbar.nav-custom{role: "navigation"}
    .container
        .navbar-header.pull-left
            %a.navbar-brand#brand{href: "#{root_path}"} pet<span style="color: rgb(231, 120, 49)">home</span>stay
        .navbar-header.pull-right
            %a.buttons.btn.navbar-btn#become-a-host{href: "#{why_join_path}"} Become A Host
            %a.buttons.btn.navbar-btn Log In
            %a.buttons.btn.navbar-btn#sign-up{href: "#{new_user_registration_path}"} Sign Up
