%header#nav-bar
    .container
        %h3#logo PetHomeStay
        %ul.nav.nav-pills.pull-right
            %li
                %a#become-a-host{href: "#"} Become A Host
            %li
                %a{href: "#"} Log In
            %li
                %a#sign-up{href: "#"} Sign Up
