%header#nav-bar
    .container
        = image_tag "logo.png", id: "logo-img"
        %h3#logo pet<span style="color: rgb(231, 120, 49)">home</span>stay
        %ul.nav.nav-pills.pull-right
            %li
                %a#become-a-host{href: "#"} Become A Host
            %li
                %a{href: "#"} Log In
            %li
                %a#sign-up{href: "#"} Sign Up
