%section#process
    .container
        %h2.text-center How does it work?
        .row
            .col-md-4
                %img.img-circle.pull-left{src: "http://www.adoptapet.com/blog/uploads/2011/08/one-eye-dog.jpg", alt: "Search"}
                %h3 Search
                %p Browse loving, trusted pet sitters near you.
            .col-md-4
                %img.img-circle.pull-left{src: "http://www.adoptapet.com/blog/uploads/2011/08/one-eye-dog.jpg", alt: "Book"}
                %h3 Book
                %p Arrange a Meet, then book a HomeStay at their house or yours.
            .col-md-4
                %img.img-circle.pull-left{src: "http://www.adoptapet.com/blog/uploads/2011/08/one-eye-dog.jpg", alt: "Relax"}
                %h3 Relax
                %p You will get text and photo updates, 24x7 Support, and Emergency Vet Insurance.
