%section#process
    .container
        %h2.text-center How Does It Work?
        .row
            .col-md-4
                .row
                    .col-sm-6
                        = image_tag "home/process.png"
                    .col-sm-6
                        %h3 Search
                        %p Browse loving, trusted pet sitters near you.
            .col-md-4
                .row
                    .col-sm-6
                        = image_tag "home/process.png"
                    .col-sm-6
                        %h3 Book
                        %p Arrange a Meet, then book a HomeStay at their house or yours.
            .col-md-4
                .row
                    .col-sm-6
                        = image_tag "home/process.png"
                    .col-sm-6
                        %h3 Relax
                        %p You will get text and photo updates, 24x7 Support, and Emergency Vet Insurance.
