%section.three-steps
    .container
        %h2.text-center How Does It Work?
        .row
            .steps.col-sm-4
                %h3.text-center Search
                = image_tag "home/three_steps/step_one.png"
                %p.text-center Browse loving, trusted pet sitters near you.
            .steps.col-sm-4
                %h3.text-center Book
                = image_tag "home/three_steps/step_two.png"
                %p.text-center Arrange a Meet, then book a HomeStay at their house or yours.
            .steps.col-sm-4
                %h3.text-center Relax
                = image_tag "home/three_steps/step_three.png"
                %p.text-center You will get text and photo updates, 24&times;7 Support, and Pet Accident Insurance.
