%section#why-phs
    .container
        %h2.text-center Only the Best for Your Pet
        .row#first-row
            .col-sm-offset-1.col-sm-6.col-xs-7
                %h3 Trusted Local Pet Carers
                %p Every Host is a pet lover like you.<span class="hidden-xs"> You can see reviews, ratings, and photos of the HomeStay, and arrange a Meet with the Host first. We personally interview every Host in PetHomeStay!</span>
            .col-sm-5.col-xs-5
                = image_tag 'home/three_features/feature_one.png', class: 'center-block'
        .row
            .col-sm-5.col-xs-5
                = image_tag 'home/three_features/feature_two.png', class: 'center-block'
            .col-sm-offset-1.col-sm-6.col-xs-7
                %h3 One on One Attention
                %p <span class="hidden-xs">Cuddles, walks, and playtime are included with PetHomeStay. </span>Your pet is treated like one of the family with every Host.
        .row#last-row
            .col-sm-offset-1.col-sm-6.col-xs-7
                %h3 24x7 Support & <span class="hidden-xs">Exclusive PetHomeStay </span>Insurance
                %p We are there when you are away<span class="hidden-xs"> - amazing Hosts, 24x7 support centre, and Pet Accident Insurance on every HomeStay</span>.
            .col-sm-5.col-xs-5
                = image_tag 'home/three_features/feature_three.png', class: 'center-block'
