.pet-panel {
  // index
  table tbody tr td {
    vertical-align: middle;
  }
  // add & edit
  p.header-hint {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  label.checkbox,
  label.radio {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-left: 20px;
  }
  .pet_personalities label.checkbox {
    padding-bottom: 10px;
  }
  .slider {
    margin-left: 30px;
  }
  .slider-labels {
    margin-top: -20px;
    padding-bottom: 10px;
    &.size {
      margin-left: 60px;
      .max { margin-left: 160px; }
    }
    &.energy-level {
      margin-left: 120px;
      .max { margin-left: 180px; }
    }
  }
}
