.table th {
   text-align: center;   
}
.table td {
   text-align: center;   
}
.pet-trash {
  color:#c4c4c4; 
  font-size:21pt;  
}
.pet-trash:hover {
  color:#ec5c3b; 
}
.pet-panel {
  // index
  table tbody tr td {
    vertical-align: middle;
  }
  // add & edit
  p.header-hint {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .pet_accordian {
    width: 100%;
    padding: 0;
    display:block;
    min-height:30px;
    cursor:pointer;
  }
  .pet_accordian_legend {
     font-size: 16pt;
     display: inline-block;
     float: left;
  }
  .pet_accordian_label {
    padding-left: 15px;
    float: left;
    padding-top: 6px;;
  }
  .pet_accordian_image {
    float: right;
    font-size: 16pt;
  }

  .slider.slider-horizontal{
    width:100% !important;
    height:30px !important;
    z-index:10;
  }

  .slider_con {
    padding-left:15px;
    padding-right:15px;
  }
  
  @media screen and (max-width:500px) {
     .pet_label { display:none }
  }
  @media screen and (max-width:1600px) {
     .pet_label_2 { display:none }
  }  
  .line_section {
    margin: 10px 0 10px 0
  }
  .pet_personalities label.checkbox {
    padding-bottom: 10px;
    width: 125px;
    display: inline-block;
  }
  .slider-labels {
    margin-top: -20px;
    padding-bottom: 10px;
    span {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
    &.size {
      margin-left: 60px;
      .max { margin-left: 160px; }
    }
    &.pet-age {
      margin-left: 60px;
      .max { margin-left: 150px; }
    }
    &.energy-level {
      margin-left: 120px;
      .max { margin-left: 180px; }
    }
  }
}


