.pet-panel {
  padding-left:  20px;
  padding-right: 20px;
  p.header-hint {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  label.checkbox,
  label.radio {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-left: 20px;
  }
  .slider {
    margin-left: 20px;
  }
}
