%html
  %head
    %meta{content: "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
  %body
    %h1 You've recieved a new enquiry
    %p TODO: This email needs copy
    %p= link_to "View enquiry now", enquiry_url(@enquiry)
