Hi (first_name)
This is just a quick note to say (pet owner first name) has decided not to go ahead with their request for (pet first name).

Thanks for offering to help out, the PetHomeStay commmunity really appreciates you helping to make owning a pet fun & easy again!

regards
The PetHomeStay Team
