%p.article-title= "Hi #{@provider.first_name}"
%p.article-content This is just a quick note to say #{@user.first_name} has decided not to go ahead with their request for help.
%p.article-content Thanks for offering to help out, the PetHomeStay commmunity really appreciates you helping to make owning a pet fun & easy again!
%p.article-content Kind Regards,
%p.article-content The PetHomeStay Team
