= link_to 'New Pet', new_admin_pet_path, class: 'btn btn-primary pull-right top-margin'
%h1 Listing Pets
%table.table.tablesorter
  %thead
    %tr
      %th Name
      %th Type
      %th Created
      %th Actions
  %tbody
    - @pets.each do |pet|
      %tr
        %td= link_to pet.name, admin_pet_path(pet)
        %td= pet.pet_type_name
        %td= pet.created_at.to_formatted_s(:year_month_day)
        %td
          =link_to 'Edit', edit_admin_pet_path(pet)
          =link_to 'Destroy', admin_pet_path(pet), :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(document).ready(function(){
    $('table.tablesorter').tablesorter({headers:{3:{sorter:false}}});
  });
