%h1 PetHomeStay – About Us
%p  
%p
  =image_tag 'about_us_1.jpg', height: '300', width: '300', title: 'mikey & benji'
%p It is a little bit like the ‘Airbnb’ of the pet world – pet lovers (or Hosts) list their spare backyard or spot by the fireplace as available (a PetHomeStay), and pet owners take their pet over when they need some help. In the future, once we have built a bit more trust in the system, we are going to activate the ability for people to use PetHomeStay for finding someone to pet sit in the owners home, like a traditional house sitter.
%p{:style => "font-size: 13px;"} Wouldn’t it be great if you could instantly find a range of fantastic people to help out, who are experts in looking after your specific pet?
%p
  Simply
  = succeed "," do
    =link_to 'register a profile of your pet', new_user_registration_path, title: 'Register here'
  select the right PetHomeStay or PetService for your needs, and feedback to the community your experience! Easy!
%h2
  %span{:style => "color: #d86717;"} Our Philosophy
%p As pet lovers ourselves, we see that with the demands on people’s modern lives, owning a pet is becoming more and more difficult.
%p Work, going away for holiday breaks, moving houses, renovating, or sometimes it is just something last minute like the traffic snarling up so you can’t get home to feed Fido.
%p And pets, especially dogs, are generally social animals. They need company and stimulation in order to be happy and healthy. Being constantly alone all day, or overnight isn’t good for any animal. Likewise, when you have to travel really far out of town to get to a decent kennels or cattery, it’s pretty inconvenient for you too!
%p We really believe that there are lots of friendly, local pet lovers who would be happy to look after someone else’s fur baby if needed. Most pet owners have looked after friends or relatives animals anyway.
%p Sure, people have the right to charge a little money for their time, and that comes in very handy for some people who want to look after pets every night, but there are a lot of people on PetHomeStay who just love looking after dogs once a week or for people they really know. And at the other end, there are professional people who have pet first aid and other qualifications, who are able to charge a premium for their services. We make it easy for everyone to find the right service for them.
%p By providing a feedback mechanism, so people can find trusted local pet lovers to help out, we believe that we can make owning a pet that little easier, a little more social, and a little more fun.
%p And that’s got to be good for both you AND the pet, right??
%p
  %strong Thanks and Happy PetHomeStaying!
%p{:style => "text-align: right;"} The PetHomeStay Team
