.span12
  %h1 Cancellation Policy
  %p At present, PetHomeStay provides a single blanket cancellation policy for bookings that covers all our Members, both Hosts and Owners.
  %p Should an Owner contact us to cancel a booking that has already been paid for, PetHomeStay will refund the Owner fees, minus the applicable PetHomeStay service fee & insurance fee for the booking. The key dates are:-
  %ul
    %ul
      %li More than 14 days in advance – PetHomeStay will refund 100% of remaining fees.
      %li Between 14 days and 7 days in advance – PetHomeStay will refund 50% of remaining fees.
      %li Less than 7 days – there will be no refund issued.
  %p As a Host will have reserved their personal time to look after an Owners pet, we believe this system represents the fairest option for all concerned. PetHomeStay is open to feedback on this policy from both Owners and Hosts, so please inform us what works for you.
  %p For example, in the near future, PetHomeStay will have the option of Hosts to choose their own set Cancellation Policy, however this will not be available immediately.
  %p Cancellation requests must be made in writing to support@pethomestay.com. Refunds where applicable will be made by direct payment to an Owners nominated bank account.
  %p
    We advise as part of our
    = link_to 'House Rules', house_rules_url
    , that a first-time booking between each Owner and Host, the Owner and Host should meet in person to introduce the Owner’s pet to the Host and the Host’s location and pets (if any). This should take well place before the specified cancellation policy deadline, so that the booking can then be cancelled if necessary.

  %p
    For more information regarding our Cancellation Policy, please see our Terms & Conditions
    = link_to 'here', terms_and_conditions_url
    \.