%h1 FAQs
%h4
%h4 Welcome to our FAQs.
%p  
%p Have a look through the common queries below. If you have a query that isn’t covered, connect with us, either via our comments page, Facebook, or Twitter. We will do our best to help!
%p
  =image_tag 'sunset_man_and_dog.jpg', height: '223', width: '571', alt: 'sunset man and dog', style: 'margin-right: 10px; margin-top: 5px;'
%h4
  %strong I’ve just signed up as a PetHomeStay Host, what do I do now?
%p
  Make sure you read the
  %a{:href => "https://www.pethomestay.com/house-rules/", :target => "_blank", :title => "House Rules"}
    %strong ‘House Rules’
  well. Follow them carefully for
  %span{:style => "text-decoration: underline;"} at least
  the first couple of times you board a pet in your home.
%p Try to build your profile and trusted reputation by looking after your families and friends pets first. Most Hosts will know their first couple of potential pets from parks and your local neighbourhood.
%p Get onto Facebook and Twitter or use our links, and let your friends and networks of people know you are available for bookings via PetHomeStay.
%p Ensure they log onto PetHomeStay and ask a request via the system, as the feedback system only records requests made via PetHomeStay.
%p Respond promptly and politely to any queries or requests for availability.
%h4 Are you trying to replace traditional kennels, catteries or daycare centres?
%p
  %strong No!
  We absolutely believe that some traditional kennels or catteries are
  %span{:style => "text-decoration: underline;"}
    %em superb
  for your pet, and provide much needed socialisation, diet, exercise or even discipline time. Some of those facilities have staff who have undergone special training, including first aid, or have been certified by the SPCA or their respective industry associations. Some of them are like adventure holidays for pets!
%p We think these organisations will always be needed, and we want our users to share their experiences so the best of them can be recognised for their efforts.
%p However, just like in professional hotels, there is a huge range of standards between the good operators, and the not-so-good operators.
%p If there are some poor operators out there, who keep their pets in cages all day, feed the cheapest pet food and have poor facilities, we want the community to tell people as well so that they can avoid them and only use the good ones!
%h4 Why do you want professional pet boarding services like kennels or catteries to be listed alongside ordinary PetHomeStays?
%p Choosing the right PetHomeStay is up to the pet owner. Unlike some other petboarding ‘marketplaces’, we don’t take a cut of any transaction via PetHomeStay, so we are not trying to force you down a particular route. We would rather show you the range of PetHomeStays in your area, including the professional ones, along with their costs, and their feedback rating, and allow you to make the call as to which ones are right for your pet.
%h3
  %strong Pet Services
%h4
  %strong What are Pet Services?
%p Pet Services are additional services that people may provide to complement the core PetHomeStay boarding experience. These may be professional companies offering things such as dog walking, pet food or grooming, or simply individuals who are willing to do these services for you.
%h4
  %strong Why do you allow PetServices to be listed?
%p Although our core business is creating a matchmaking service for PetHomeStays (local pet boarding), we find that people often need other services such as simple feeding, walking, grooming etc. So having all your local PetServices listed too is pretty useful.
%p Also, just like the professional PetHomeStays above, these vary a lot in terms of quality of service. The feedback system helps other users to know which PetServices have a good reputation in their area.
%h4 How does it differ from traditional house or pet sitters?
%p PetHomeStay offers a new option to traditional house sitting, in that you leave your pet at someone elses home or ‘PetHomeStay’.
%p A big difference to traditional house or pet sitting is that a pet owner will be able to see the feedback rating of the specific PetHomeStay Host, and you are dealing with the Host directly.
%p Previously, you trusted a company who had to vet all the sitters or helpers who worked for them. You paid the company (who took a big cut) and they paid the sitter.  PetHomeStay allows the community to vet every interaction so you can be sure of getting someone reliable whom others know.
%h5 I need a PetHomeStay at my house, should I just book anyone?
%p
  %em>
    %strong> Beta Update
    \- right now we have disabled the pet sitting/ house sitting option, just while we are in beta. This is the most risky area of interaction and the area with the largest potential for things to go wrong. As such, until the trust system is established, we are not providing house sitting (where someone comes over to your house) options. (The info below still applies though- so we left it up)
  \.
%p
  %strong NO!
  Letting someone else into your house to look after your pet is a serious step. Only allow those people who you are sure are genuine, trusted pet sitters into your home. Make sure you follow our guidelines.
%p The owner will be able to see all the experience that person has with their particular pet, what their pet play palace has to offer your animal ( large grass backyard perhaps?!) as well as all the feedback about that person from other users. The owner can then choose the provider that is right for them. See our ‘House Rules’ page for more details!
%h4 Who provides food?
%p This is provided by the Pet Owners, as it is unwise to change petfood dramatically from one brand to another over short spaces of time. It also helps to avoid digestion/ mess issues.
%p The PetHomeStay Host may list on their profile if they are willing to provide food and what type it is, along with an additional cost if so.  If this is not listed, the Pet Owner needs to bring the food when they drop the pet off.
%p If the PetHomeStay Host does offer food, and it is accepted by the Pet Owner, the PetHomeStay Host is not responsible for any illness or digestion problems which may occur. (Although this generally means that the Host has to deal with the mess, so for that reason Hosts don’t like to unless explicitly asked!)
%h4 How does PetHomeStay make any money?
%p We don’t! Right now we are simply focussed on getting the system up and running (and holding down our day jobs as well!). Other overseas providers have implemented a commission based structure (ie 10-20% of the overnight costs and they insure/ vet everyone, plus they charge for listings) but we think there is more community orientated ways of helping people than taking a cut of everything. Depending on how the site develops, we may add things like professional pet business tools for those who want to have a business doing PetHomeStays, or a partner shop so people can buy pet food from us. It will probably depend on what users want from us!
%p  
%p
  %strong If there is anything here not covered – why not let us know!
%p
  %em Thanks and Happy PetHomeStaying!
%p{:style => "padding-left: 30px; text-align: right;"} The Pet HomeStay Team
