%h1 FAQs
%h4
%h4 Welcome to our FAQs.
%p
  This is a list of the most Frequently Asked Questions we get asked. Please check below and if it is not answered there, drop us a line to
  %a{:href => "mailto:info@pethomestay.com", :target => "_blank", :title => "Mail Us"}
    info@pethomestay.com
%br
%h5 PetHomeStay FAQs.
%h5 Host FAQs.
%h5 Pet Owner FAQs.
%h5 Payment FAQs.
%h5 Cancellation FAQs.
%h5 Insurance FAQs.
%br
%p
  =image_tag 'sunset_man_and_dog.jpg', height: '223', width: '571', alt: 'sunset man and dog', style: 'margin-right: 10px; margin-top: 5px;'
%br
%h3 PetHomeStay FAQs
%h4 What is PetHomeStay?
%p
  PetHomeStay offers an awesome new option to kennels or traditional house sitting in that
  you can board your pet at another person’s home or ‘HomeStay’.
  %br
  %br
  Pet Owners can search, message, and book a HomeStay close to them, meet up with
  Hosts, and leave feedback for the rest of the community about the specific PetHomeStay
  Host, and the Pet Owner is dealing with the Host directly.
  %br
  %br
  PetHomeStay allows the community to vet every interaction so you can be sure of
  getting someone reliable whom others know.
%br
%h4 How Does it Work?
%p
  A Pet Owner searches via postcode for HomeStays near to them. They can Message the
  HomeStays that hit the right mix of price and quality of service, see who is available, and
  then Book a HomeStay.
  %br
  %br
  Payment is authorised at the time of booking, and as soon as a Host accepts the Booking,
  the Pet Owners card is charged.
  %br
  %br
  The Pet Owner then leaves their pet at the HomeStay, and the pet receives lots of
  cuddles and playtime!
  %br
  %br
  The Pet Owner picks up the pet at the end of the Stay, and have 48 hours to let us know
  if there is anything wrong.
  %br
  %br
  Assuming everything is ok, the Host fees will automatically be queued up and paid to
  them between 5-7 days after the Stay completes, minus the PetHomeStay Service &
  Insurance Fee.
%br
%h4 Do you provide In-Home Sitting?
%p
  Yes – some of our Hosts will offer this capability. However, PetHomeStay does not check
  police certificates or provide any kind of approval to this, and does not recommend it
  until you are completely confident of the Host. A Pet Owner must check extremely
  carefully before allowing anyone they don’t know into their house. Only allow those
  people who you are sure are genuine, trusted pet sitters into your home, as you would
  with a babysitter or a similar trusted person. Make sure you follow our guidelines.
  %br
  %br
  We advise a Pet Owner only contacts professional pet sitters and registered businesses
  for this kind of service.
%br
%h4 Do you provide HomeStays for pets other than dogs?
%p
  Yes – around 85% of our community is dogs at present, but we also have around 10%
  who will look after cats, and a mix of horse, bird and small animals.
  %br
  %br
  Please note that our Insurance only applies to Dogs & Cats.
%br
%h4 Are you trying to replace traditional kennels, catteries or daycare centres?
%p
  No - we absolutely believe that some traditional kennels or catteries are
  %span.font-italic superb
  for your
  pet, and provide much needed socialisation, diet, exercise or even discipline time. Some
  of those facilities have staff who have undergone special training, including first aid, or
  have been certified by the SPCA or their respective industry associations. Some of them
  are like adventure holidays for pets!
  %br
  %br
  We think these organisations will always be needed, and we want our users to share their
  experiences so the best of them can be recognised for their efforts.
  %br
  %br
  However, just like in professional hotels, there is a huge range of standards between the
  good operators, and the not-so-good operators.
  %br
  %br
  If there are some poor operators out there, who keep their pets in cages all day, feed the
  cheapest pet food and have poor facilities, we want the community to tell people as well
  so that they can avoid them and only use the good ones!
%br
%h4 Can professional pet boarding services like kennels or catteries list alongside ordinary PetHomeStays?
%p
  Yes - choosing the right PetHomeStay is up to the pet owner, so we are not trying to force
  you down a particular route. We would rather show you the range of PetHomeStays in
  your area, including the professional ones, along with their costs, and their feedback
  rating, and allow you to make the call as to which ones are right for your pet.
  %br
  %br
  Often the more professional HomeStays are quicker to respond and have more capacity
  (especially at peak holiday times) than individual people.
  %br
  %br
  All Messages and Bookings received via PetHomeStay must be transacted through the
  PetHomeStay system, for the first and all subsequent Bookings.
%br
%h4 How does PetHomeStay make any money?
%p
  PetHomeStay has implemented a booking system inside the website, and collects all
  HomeStay fees on behalf of it’s Hosts. PetHomeStay then charges a Service Fee of 15%,
  plus Insurance of $2 per night. When a HomeStay is successfully completed,
  PetHomeStay then pays out the remainder to the nominated Host bank account.
%h4 Who is behind PetHomeStay?
%p
  PetHomeStay was started in August 2012 in Melbourne by Tom LeGrice and his partner,
  Bronwyn Dilley. From a small community based in their local dog park, Edinburgh
  Gardens, it has grown into the fastest growing peer-to-peer pet sitting community in
  Australia.
%br
%h3 Host FAQs
%h4 I’ve just signed up as a PetHomeStay Host, what do I do now?
%p
  Make sure you read the ‘House Rules’ well. Follow them carefully for
  %span.font-underline at least
  the first
  couple of times you board a pet in your home.
  %br
  %br
  Use the Twitter & Facebook links on your listing to let all your friends know you have a
  HomeStay and are keen to look after pets.
  %br
  %br
  Try to build your profile and trusted reputation by looking after your families and friends
  pets first. Most Hosts will know their first couple of potential pets from parks and your
  local neighbourhood.
  %br
  %br
  Ensure any Messages and Bookings are done completely via PetHomeStay via the
  system. It is the only record that we and our insurance company will accept in the event
  of any dispute.
  %br
  %br
  Respond promptly and politely to any queries or requests for availability.
%br
%h4 Who provides food?
%p
  This is provided by the Pet Owners, as it is unwise to change petfood dramatically from
  one brand to another over short spaces of time. It also helps to avoid digestion/ mess
  issues.
  %br
  %br
  The Pet Owner needs to bring the food when they drop the pet off.
  %br
  %br
  Any other arrangements need to be discussed between the Host and the Pet Owner.
%br
%h4 Whats the Difference between Messages & Bookings?
%p
  %span.font-bold.font-italic Messages
  can be sent to multiple Hosts at the same time.
  %br
  %br
  %span.font-bold • For Any Questions
  \- Messages allow Owners to ask any additional questions
  they may have for the Host to make sure it is the perfect PetHomeStay.
  %br
  %span.font-bold • Unlimited
  \- Messages now allow Pet Owners and Hosts to respond as many times
  as needed, just like an online forum thread, and all stored inside the My Account tabs.
  %br
  %span.font-bold • Non-Commital
  \- Nothing is reserved or committed for either the Pet Owner or
  the Host, and no money changes hands using Messages.
  %br
  %span.font-bold Bookings
  should only be requested to one Host, once the Pet Owner is happy with all
  the details.
  %br
  %span.font-bold • Simple
  \- the Pet Owner simply fills out a Booking Request, and when the Host
  accepts, your pet is all booked and ready to go!
  %br
  %span.font-bold • Committed
  \- When the Host accepts the Booking, the Pet Owners credit card is
  charged and both the Host and Pet Owner are committed to the HomeStay.
  %br
  %span.font-bold• Recorded
  \- all Bookings are saved inside the Hosts & the Pet Owners 'My
  Account' Message section, and receipts are issued to both the Host and the Pet Owner
  for their records.
%h4 Is PetHomeStay Secure for my Payout details?
%p
  Yes – security is one of our biggest priorities at PetHomeStay.
  %br
  %br
  The payment fields for the Pet Owner credit card are presented by SecurePay, one of
  Australia’s largest internet payment providers.
  %br
  %br
  At no time can we see credit card details, nor do we store them inside our site.
  %br
  %br
  This entire area is provided under SSL encryption, as shown by the https:// that will
  appear in your browser.
  %br
  %br
  Host Payout details are kept under strong encryption in our database (is called salted and
  hashed for the technical people out there), exactly like your password and log-in details.
  %br
  %br
  Our Internet Merchant Account is provided by Commonwealth Bank Australia.
%br
%h4 What happens in the event of an emergency?
%p
  Contact PetHomeStay as soon as possible, but if in your judgement it is really urgent,
  please do everything you can to get the pet to the nearest vet!
  %br
  %br
  The specific process is documented in our Terms & Conditions, however in summary-Contact the Emergency Contact listed on the Booking information.
  %br
  %br
  If they are unavailable, contact PetHomeStay. We will continue trying to get hold of the
  Pet Owner and provide guidance on what to do next.
  %br
  %br
  By using the site, the Pet Owner has agreed that they will refund the Host any monies
  spent on their pet in an emergency if needed, which PetHomeStay is authorised to
  reclaim from the Pet Owners credit card.
%br
%h3 Pet Owner FAQs
%h4 What is the Difference between Messages & Bookings?
%p
  %span.font-bold.font-italic Messages
  can be sent to multiple Hosts at the same time.
  %br
  %br
  %span.font-bold • For Any Questions
  \- Messages allow Owners to ask any additional questions
  they may have for the Host to make sure it is the perfect PetHomeStay.
  %br
  %span.font-bold • Unlimited
  \- Messages now allow Pet Owners and Hosts to respond as many times
  as needed, just like an online forum thread, and all stored inside the My Account tabs.
  %br
  %span.font-bold • Non-Commital
  \- Nothing is reserved or committed for either the Pet Owner or
  the Host, and no money changes hands using Messages.
  %br
  %span.font-bold Bookings
  should only be requested to one Host, once the Pet Owner is happy with all
  the details.
  %br
  %span.font-bold • Simple
  \- the Pet Owner simply fills out a Booking Request, and when the Host
  accepts, your pet is all booked and ready to go!
  %br
  %span.font-bold • Committed
  \- When the Host accepts the Booking, the Pet Owners credit card is
  charged and both the Host and Pet Owner are committed to the HomeStay.
  %br
  %span.font-bold • Recorded
  \- all Bookings are saved inside the Hosts & the Pet Owners 'My
  Account' Message section, and receipts are issued to both the Host and the Pet
  Owner for their records.
%br
%h4 Is PetHomeStay Secure for Credit Card transactions?
%p
  Yes – security is one of our biggest priorities at PetHomeStay.
  %br
  %br
  The payment fields for your credit card are presented by SecurePay, one of Australia’s
  largest internet payment providers.
  %br
  %br
  At no time can we see your credit card details, nor do we store them inside our site.
  %br
  %br
  SecurePay has the ability to remember one credit card per profile, and we recall this if
  you have already paid once on the site for your convenience – this is the ‘Use Stored
  Card’ feature you see during the payment process.
  %br
  %br
  This entire area is provided under SSL encryption, as shown by the https:// that will
  appear in your browser.
  %br
  %br
  Our Internet Merchant Account is provided by Commonwealth Bank Australia.
%br
%h4 Does PetHomeStay check every Host & HomeStay?
%p
  No – PetHomeStay does not check or vet any Hosts or HomeStays at this time. It is purely
  up to the Pet Owner to decide whether to leave their pet with a particular Host, or check
  any documentation a Host says they may have such as police checks, references and so
  on.
%br
%h3 Cancellation FAQs
%h4 What happens if a Pet Owner has to cancel a Booking?
%p
  The Pet Owner needs to contact PetHomeStay immediately via email
  to
  %span.font-bold
    %a{:href => "mailto:info@support@pethomestay.com", :target => "_blank", :title => "Mail Us"}
      support@pethomestay.com
  !
  %br
  We understand that sometimes unavoidable things happen, but when either a Host or a
  Pet Owner cancels at the last minute, it creates a real problem for the other party.
  As PetHomeStay has incurred fees in taking and holding the booking, we charge our
  Service Fee and Insurance fee before any cancellation fees are returned as below.
  %br
  For Pet Owner cancellations occurring:-
  %br
  14 days or more in advance of Booking Start Date - 100% refund will apply
  %br
  Between 13 days - 7 days in advance - 50% refund will apply
  %br
  Less than 7 days - No refunds will be given.
  %br
  These are worked out as whole or partial calendar days from the start of the booking.
  %br
  Example
  %br
  A Booking is made to commence on 20th of a month. A Pet Owner sends an email to
  %a{:href => "mailto:info@support@pethomestay.com", :target => "_blank", :title => "Mail Us"}
    support@pethomestay.
  indicating this on:-
  %br
  \- 6th of that month or before. PetHomeStay will return all of the booking fee
  to the Pet Owner after fees.
  %br
  \- 7th- 13th of that month. PetHomeStay will return 50% of the booking fee to
  the Pet Owner, and payout 50% to the Host after fees.
  %br
  \- 14th of that month or later. PetHomeStay will pass on all of the booking fee
  to the Host, with no refund to the Pet Owner.
  %br
  Hosts cancelling after accepting a Booking is treated as extremely serious, and will be
  treated on a case by case basis, but could result in removal from the PetHomeStay
  community.
  %br
  We only take emails to support@pethomestay.com as evidence of a cancellation being
  requested, and will work out any refunds based on the timestamp we receive the email.
%br
%h3 Insurance FAQs
%h4 What does PetHomeStay insurance cover?
%p
  Our insurance covers Hosts against Public Liability and Errors & Omissions (such as
  accidental medication).
  %br
  %br
  Please see our Insurance page for a more detailed list of Exclusions and Policy Details.
%h3 Does your insurance cover against pet accidents or vet bills?
%p
  No – PetHomeStay does not have insurance covering pet accidents or vet bills.
  %br
  %br
  By using PetHomeStay, Pet Owners automatically authorise Hosts to seek professional
  medical treatment if necessary and authorises PetHomeStay to charge this to their credit
  cards.
  %br
  %br
  We have taken the stance that most Pet Owners would rather their pet received medical
  attention, however, if a Pet Owner DOES NOT want medical attention given to their pet, they MUST ensure their Emergency Contact is a) available, and b) has been informed of
  their wishes not to authorise treatment.
  %br
  %br
  Please see our Insurance page for more details and the full Exclusions list.
%p  
%p
  %strong If there is anything here not covered – why not let us know!
%p
  %em Thanks and Happy PetHomeStaying!
%p{:style => "padding-left: 30px; text-align: right;"} The Pet HomeStay Team
