.hero-unit
  %h1 Hello, world!
  %p
    This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  .btn.btn-primary.btn-large
    = link_to 'Learn more »', new_user_registration_path
.row
  .span4
    %h2 Heading
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus accursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %a.btn
      View details »
  .span4
    %h2 Heading
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus accursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %a.btn
      View details »
  .span4
    %h2 Heading
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus accursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.'
    %a.btn
      View details »
