- content_for :head_javascript do
  = javascript_include_tag 'datepicker'
= render partial: 'home/jumbotron'
= render partial: 'home/three_steps'
= render 'home/press_coverage'
= render partial: 'home/why_phs'
= render partial: 'home/meet_community'
= render partial: 'home/bottom_search'

/ Enable the banner whenever we need it
= render 'home/temp_banner'

= render 'home/sitelinks'
