.span12
  %h1 House Rules
  %p
    =image_tag 'girls_and_cat.jpg', height: '400', width: '265', class: 'page-image'
  %p
    %strong PetHomeStay House Rules – Jan 31st 2014
  %p  
  %p At PetHomeStay, we want the Owner to get a great experience and help for their pet from trusted and honest Hosts.
  %p In order for this to happen, we have detailed below some of the general House Rules both sides should follow when either requesting or listing a PetHomeStay.
  %p Remember, if both sides follow our House Rules, there will be minimal room for disagreement or a bad experience. Make sure both the Pet Owner and the Host have agreed expectations upfront.
  %p Print off a copy of this page and take it with you the first time you meet someone, and use it as a rough checklist.
  %p When using PetHomeStay, PLEASE remember that we are simply providing a third party matching service (although a very cool and innovative one!) This is like an auction or a dating website or marketplace, we don’t have any control over the people, owners, hosts, services or pets who are listed, nor do we take any responsibility for their actions. Whilst we screen Host listings, we don’t vouch for Hosts or approve them in any way.
  %p
    The contract of services, including the responsibility of care, liability in case anything going wrong, or monies involved, is 
    %em
      strictly between the PetHomeStay Host or Service, and the Pet Owner who agrees to utilise their services.

  %p
    Have fun, make some new four and two legged friends, but 
    %em make sure you follow the guidelines, especially
    %strong if it is a person or a pet that you don’t know.

  %p Thanks PetHomestayers, and love the animals you are fortunate enough to be around!
  %p Happy PetHomeStaying!
  %p ___________________
  %h2
    %strong House Rules for Pet Owners
  %p Get to know each other first & ask questions via the Messaging System!
  %ul
    %ul
      %li Speak to them on the phone if necessary
      %li Check out a persons feedback on PetHomeStay.com if they have it
      %li Meet a Host at a neutral venue such as a park or cafe to check each other out
      %li Do they have a pet of their own? Will your animals get along together?
      %li Visit their property to see their yard or where your pets will be kept for their PetHomeStay, and introduce each of your pets so you know if they will get along.

      %li Try to build up experience with a provider through a few short overnight or weekend PetHomeStay’s before a major holiday – this will also put your pet at ease as they get to know the provider
      %li Does the Host have the pet experience that they have detailed in their profile?
      %li If they have stated police check or insurance in their profile, can they show you the document? Is it current? Does it have a photo ID on it?
  %p
    %em
      DO NOT let someone you do not know into your house or leave your pet with them unless you are
      %strong CERTAIN
      they are trustworthy.
  %p
    %strong Ensure you have an up to date profile of your pet on PetHomeStay
  %ul
    %ul
      %li This is automatically sent to the Host when you request a booking, so you can be sure that they will have the latest information on your pet.
  %div
    %div
      %strong Confirm Drop Off,  Pick Up
    %ul
    %ul
      %li Have you agreed on a specific time and place of dropping off and picking up of your pet?
      %li Will it be the owner or someone else picking up their pet?
      %li If you are running late or early, make sure you notify the Host. They will appreciate it!

    %p
      %strong Confirm Contact Information

    %ul
    %ul
      %li Do you have the Host mobile number keyed into your mobile so you recognise them if they need to call?
      %li Has the PetHomeStay Host committed to giving you a photo or webcam update of your pet? Tweets, emails, Instagram pics?
    %p
      %strong Ensure you Book well in advance
    %ul
    %ul
      %li A HomeStay is not reserved until the Owner completes the Booking Confirmation, and the Host accepts the booking.
      %li For busy periods such as Easter or Christmas, it is essential to book well in advance as Hosts get booked very quickly.
    %p
      %strong Agree Exercise Rules
    %ul
    %ul
      %li If your animal requires exercise, such as dogs or cats needing to be walked, make sure this is agreed with the Host beforehand
      %li We recommend that animals are NOT let off their leashes unless a) in a fully fenced area or b) otherwise agreed with Owner in writing – the vast majority of accidents are car strikes, lost animals, or damage to 3rd parties by off lead pets. Hosts are not encouraged to let animals off leashes when exercising for this reason, unless specifically requested to by the Owner as part of their exercise rules.
    %p
      %strong Make sure your Pet has ID on it
    %ul
    %ul
      %li Ensure ID tags and your local authority registration are on your pet and preferably that the Microchip number is written down in your profile.
  %h2
    %strong House Rules for PetHomeStay Hosts & Services

  %p
    %strong Respond Quickly!
    %ul
    %ul
      %li
        %strong Owners expect a relatively quick response to a message or a booking. Less than 24 hours is good, 48 hours is ok, but more than that and it is likely Owners will start to ask other people.
  %p
    %strong Be HONEST in your listing
  %ul
  %ul
    %li Make sure you accurately represent your experience, your PetHomeStay Host location or Service
    %li If you offer a fantastic experience, then you can absolutely justify a higher price for your services.
    %li Include as much information as possible – more information provides reassurance to Owners and means you are more of a trusted member of the community.
    %li Do you have Pet First Aid? Do you volunteer with an animal charity? How often will you take the animal for exercise if needed? Do you have experience in large breeds or small breeds? Which do you prefer if you had a choice? Tell the owners this!
    %li Will you be around 24×7 to play with and interact with the pet? Or do you have a suitable fenced backyard and your own pet as a playmate during the working day?
    %li
      This is
      %em really important to set the correct expectations with pet owners
      \– you will get a bad rating if your service is not as promised!

  %p
    %strong Get involved!
  %ul
  %ul
    %li Answer peoples questions with warm humour, even if you have been asked the same questions a lot before. You will get far more repeat requests for your services from Users!
    %li Meet the Owners in person the first time – ultimately they are trusting you with their fur baby so make the effort to show them you are a responsible pet owner, especially if it is for the first time or you are building up your feedback.
  %p
    %strong Keep in touch with the Pet Owner
  %ul
  %ul
    %li Text them a week or two before their booking to let them know you are looking forward to looking after their awesome pet!
    %li Make sure you take a mobile photo and post a picture or two of their pet every day, to reassure them that they are ok and having a great time.
    %li Text the owner an hour before pick up time to remind them to be prompt.
    %li Make sure you have agreed the Emergency plan with the owner.

  %p
    %strong Commit to looking after their pet!
  %ul
  %ul
    %li Looking after someone else’s pet is a big responsibility. Make sure you have enough time and are committed to looking after them before you place listings or accept requests. Will you really be able to provide a good standard of care? Do you have enough food if it is a longer PetHomeStay?
    %li Ensure you deliver any exercise requested such as dog or cat walking – why not take a photo as you are doing it to show how much fun the two of you are having!
    %li Make sure that your property is ‘pet proof’ – make sure your fence has no holes, put anything breakable out of reach, take extra care when opening or closing doors so pets (especially cats!) dont zip through the door!

  %p
    %strong Tag the Pet
  %ul
    %li If it is a cat or a dog, get a small tag made up with your name and mobile phone number on it. As soon as the pet is in your care put it on the pet so that if it does get lost and is found, they call your number, not the owner who might be out of town.
  %p
    %strong Know and comply with your local council and national laws around animals!

  %ul
    %li Different councils in Australia have different laws and local by-laws regarding care and responsibility around animals. If you are an animal lover or owner already, you should be aware of the ones applying to you.
    %li If you are not familiar with your local council rules, make sure you check out their website and comply with the rules. For example, generally there are rules around how many animals on a property at one time, excessive barking, care and treatment of animals, size of kennels/ cages, or if you own a domestic animal business.
  %div
    %h2
      %strong Emergencies & Insurance – Owners & Hosts
    %p Whilst the Host will, of course, try their utmost to ensure your pet has a happy, healthy PetHomeStay, emergencies can sometimes happen.

    %ul
      %li
        Make sure you have the
        %strong
          %em ‘Emergency & Medical’
        information filled out – this is so you both know exactly what to do, who to contact etc.
      %li Make sure you review the emergency information with the service provider before each visit. Ask the Host if they can read it back to you and that they understand it clearly.
      %li Does the Owner have pet insurance that will cover any emergency or liability?

  %h2
    %strong In the Event of an Emergency Involving the Emergency Treatment of the Pet
  %ul
    %li The Host will immediately try to contact the Owner, (or the nominated Emergency contact)
    %li If this is not possible, the Host will contact PetHomeStay who will also make all reasonable efforts to contact the Owner.
    %li The Host will then take the pet to the nearest vet or the one nominated by the Owner as circumstances permit, and pay for any emergency medical care as necessary.
    %li PetHomeStay will continue to try to make contact with the Owner throughout to gain clarity on costs.
    %li By using PetHomeStay, the Owner commits to reimbursing the Host via PetHomeStay for any medical bills incurred for their pet, and authorises PetHomeStay to claim this from the Owners credit card.

  %h2
    %strong In the Event of an Incident Involving a 3rd Party (ie Car or Person)
  %ul
    %li The Host will immediately try to get details of any witnesses present.
    %li The Host should take photos if possible of the location and outcome.
    %li Whilst expressing sympathy is perfectly ok, The Host SHOULD NOT specifically admit liability or fault for the incident.
    %li The Host will contact PetHomeStay at support@pethomestay.com, who will escalate any claim to their insurance agents, Savannah Insurance.

  %h2
    %strong Hosts Own Property
  %p By listing on PetHomeStay, the Host/ Service has noted that there may be unforeseen damages in their own home as a result of looking after another pet (like a vase getting knocked over, mess on the floor etc). In general, the Host has accepted that these damages may occur as part of listing their home as per our Terms and Conditions.
  %p If the Host is worried about liability or insurance for potentially dangerous animals (eg uncertain of certain breeds of dog) then please, DO NOT AGREE TO THE BOOKING ON PETHOMESTAY.
  %p If the Pet Owner is worried about any of the above, then please only choose a listing on PetHomeStay which is a registered company. There are many reputable, great pet businesses out there who would love to help you!
  %div
  %div
  %h2 Thanks and Happy PetHomeStaying!
  %p
  %p Every Dog has Its Stay!
  %p
  %div The PetHomeStay Team