%h1 House Rules
%p
  =image_tag 'girls_and_cat.jpg', height: '400', width: '265', class: 'page-image'
%p
  %strong PetHomeStay House Rules v1.0
%p  
%p At PetHomeStay, we want the Owner to get a great experience and help for their pet from trusted and honest PetHomeStay Hosts.
%p In order for this to happen, we have detailed below some of the general House Rules both sides should follow when either requesting or listing a PetHomeStay.
%p
  Remember, if both sides follow our House Rules, there will be minimal room for disagreement or a bad experience. Make sure both the Pet Owner and the PetHomeStay Host have
  %strong agreed expectations
  upfront.
%p Until you build a local circle of trusted PetHomeStay Hosts, why not print off a copy of this page and take it along with you the first time you meet a PetHomeStay listing? And if we are missing any important info that you think should be on here – please let us know!
%p
  %em
    When using PetHomeStay,
    %strong PLEASE
    remember that we are simply providing a third party matching service (although a very cool and innovative one!) This is like an auction or a dating website or marketplace, we don’t have any control over the people, owners, hosts, services or pets who are listed, nor do we take any responsibility for their actions. We don’t vouch for them, screen them, or approve them in any way.
%p
  %em
    The contract of services, including the responsibility of care, liability in case anything going wrong, or monies involved, is
    %strong strictly between the PetHomeStay Host or Service, and the Pet Owner who agrees to utilise their services.
%p
  %em
    We have made significant effort to minimise the chances of things going wrong, such as the feedback system, the Terms & Conditions and these House Rules, but in the event of an accident,
    %strong PetHomeStay takes no responsibility or liability for ANY PetHomeStays, Pet Hosts, Pet Services, or Pet Owners!
%p
  %em
    Have fun, make some new four and two legged friends, but
    = succeed "," do
      %strong make sure you follow the guidelines
    %strong especially
    if it is a person or a pet that you don’t know.
%p
  %em Thanks PetHomestayers, and love the animals you are fortunate enough to be around!
%p Happy PetHomeStaying!
%p  
%p ___________________
%h2
  %strong House Rules for Pet Owners
%p
  %strong
    Get to know each other! Talk to the pet owner, or PetHomeStay Host
    %span{:style => "text-decoration: underline;"} before
    confirming a request
%ul
  %ul
    %li Speak to them on the phone
    %li Check out a persons feedback on PetHomeStay.com if possible
    %li If they are a professional business, check out their website or facebook page
    %li Why not meet them first at a neutral venue such as a park or cafe?
    %li Do they have a pet of their own? Will your animals get along together?
    %li Visit their property to see their yard or where your pets will be kept for their PetHomeStay, and introduce each of your pets so you know if they will get along.
    %li Try to build up experience with a provider through a few short overnight or weekend PetHomeStay’s before a major PetHomeStay (3 nights +)
    %li Do they have the pet experience that they have detailed in their profile?
    %li If they have stated police check or insurance in their profile, can they show you the document? Is it current?
%p
  %em
    DO NOT let someone you do not know into your house or leave your pet with them unless you are
    %strong CERTAIN
    they are trustworthy.
%p
  %strong Ensure you have an up to date profile of your pet on PetHomeStay
%ul
  %ul
    %li This is automatically sent to the Host when you request a booking, so you can be sure that they will have the latest information on your pet.
%div
  %div
    %strong Confirm Drop Off,  Pick Up
  %ul
  %ul
    %li Have you agreed on a specific time and place of dropping off and picking up of your pet?
    %li Will it be the owner or someone else picking up their pet?
    %li If you are running late or early, make sure you notify the Host. They will appreciate it!
  %p
    %strong Confirm Contact Information
  %ul
  %ul
    %li Do you have the Host mobile number keyed into your mobile so you recognise them if they need to call?
    %li Has the PetHomeStay Host committed to giving you a photo or webcam update of your pet? Tweets, emails, Instagram pics?
%div
  %strong Confirm payment before leaving your pet
%div
  %ul
  %ul
    %li Ensure any monies that the PetHomeStay Host or Service requests matches their advertised listing
    %li Pay before or pay after? This is between the both of you to agree, some providers insist on being paid beforehand, some are ok with being paid with cash or bank deposit later. It should state this clearly on their listing. Either way, ensure you have agreement between the two of you BEFORE the pet is left in their care.
    %li If you are paying via bank deposit, be prompt and pay either before the experience or shortly afterwards as agreed with the Host – no-one likes to chase people up and you will get a bad reputation if you are a late payer!
    %li Understand what happens in the event of an unsatisfactory experience – does the PetHomeStay Host offer a refund or guarantee of any kind? (nb – we are working on this feature on the forms!)
  %div
    %strong Agree Exercise Rules
  %div
    %ul
      %li If your animal requires exercise, such as dogs or cats needing to be walked, make sure this is agreed with the Host beforehand
      %li
        We recommend that animals are
        %strong NOT
        let off their leashes unless a) in a fully fenced area or b) otherwise agreed with Owner in writing – the vast majority of accidents are car strikes, lost animals, or damage to 3rd parties by off lead pets. Hosts are not encouraged to let animals off leashes when exercising for this reason, unless specifically requested to by the Owner as part of their exercise rules.
    %p
      %strong Make sure your Pet has ID on it
    %blockquote
      %ul
        %li Ensure ID tags and your local authority registration are on your pet and preferably that the Microchip number is written down in your profile.
    %h2
      %strong House Rules for PetHomeStay Hosts & Services
%p
  %strong Be HONEST in your listing
%ul
  %li Make sure you accurately represent your experience, your PetHomeStay Host location or Service
  %li If you have fantastic experience, then you can absolutely justify a higher price for your services.
  %li
    Include as much information as possible – more information provides reassurance to Owners and means you are more of a trusted member of the community.
    %ul
      %li
        Do you have Pet First Aid? Do you volunteer with the SPCA? How often will you take the animal for exercise if needed? Do you have experience in large breeds or small breeds? Which do you prefer if you had a choice? Tell the owners this!
        %em (Beta – we are working on badges to make these more obvious in the listings).
  %li Will you be around 24×7 to play with and interact with the pet? Or do you have a suitable fenced backyard and your own pet as a playmate during the working day?
  %li
    This is
    %em
      %strong really important to set the correct expectations with pet owners
    – you will get a bad rating if your service is not as promised!
%p
  %strong Get involved!
%ul
  %li Post informative or interesting articles to the PetHomeStay Facebook and Twitter pages. Other people will see you as a ‘Go-to’ person around your area of expertise. Answer peoples questions with warm humour, even if you have been asked the same questions a lot before. You will get far more repeat requests for your services from Users!
  %li Meet the Owners in person the first time – ultimately they are trusting you with their fur baby so make the effort to show them you are a responsible pet owner, especially if it is for the first time or you are building up your feedback.
%p
  %strong Keep in touch with the Pet Owner
%ul
  %li Most people now have access to smart phones, web cams, digital cameras etc. Make sure you post a picture or two of their pet under your care, to reassure them that they are ok and having a great time.
  %li Text the owner an hour before pick up time to remind them to be prompt and to ensure they bring any monies, if you choose to have them pay after the service is provided.
  %li If you are not a professional PetService provider, make sure you have agreed the Emergency plan with the owner.
%p
  %strong Commit to looking after their pet!
%ul
  %li Looking after someone else’s pet is a big responsibility. Make sure you have enough time and are committed to looking after them before you place listings or accept requests. Will you really be able to provide a good standard of care? Do you have enough food if it is a longer PetHomeStay?
  %li Ensure you deliver any exercise requested such as dog or cat walking – why not take a photo as you are doing it to show how much fun the two of you are having!
  %li Make sure that your property is ‘pet proof’ – make sure your fence has no holes, put anything breakable out of reach, take extra care when opening or closing doors so pets (especially cats!) dont zip through the door!
%p
  %strong Tag the Pet
%ul
  %li If it is a cat or a dog, get a small tag made up with your name and mobile phone number on it. As soon as the pet is in your care put it on the pet so that if it does get lost and is found, they call your number, not the owner who might be out of town.
%p
  %strong Know and comply with your local council and national laws around animals!
%ul
  %li Different councils in Australia and New Zealand have different laws and local by-laws regarding care and responsibility around animals. If you are an animal lover or owner already, you should be aware of the ones applying to you.
  %li If you are not familar with your local council rules, make sure you check out their website and comply with the rules. For example, generally there are rules around how many animals on a property at one time, excessive barking, care and treatment of animals, size of kennels/ cages, or if you own a domestic animal business.
%div
  %h2
    %strong Emergencies & Insurance – Owners & Hosts
  %p Whilst the Host will, of course, try their utmost to ensure your pet has a happy, healthy PetHomeStay, emergencies can sometimes happen.
%div
  %ul
    %li
      Make sure you have the
      %em
        %strong
      %strong
        %em ‘Emergency & Medical’
      information filled out – this is so you both know exactly what to do, who to contact etc.
    %li Make sure you review the emergency information with the service provider before each visit. Ask the Host if they can read it back to you and that they understand it clearly.
    %li Is the Owner prepared to refund the service provider (ie vets bills, emergency pet taxi etc) in the event of something going wrong and being unable to get hold of the Owner or the emergency contact?
    %li Does the Host or Service have insurance that will cover any emergency or liability?
    %li If they do not have insurance, are you as a pet owner comfortable leaving your pet in their care?
%div
  PetHomeStay is working with a group of insurance companies to come up with suitable automatic cover that can be applied to any overnight stay. Unfortunately, until this is active, please be aware that, depending on the state and country you are in, the
  %strong PetHomeStay Host
  is liable for 3rd party damages (that’s your neighbours, your property or other animals) as a result of the pet being in their care – ie the person in control of the animal.
%div
%div By listing on PetHomeStay, the Host/ Service has noted that there may be unforeseen damages in their own home as a result of looking after another pet (like a vase getting knocked over, mess on the floor etc). In general, the Host has accepted that these damages may occur as part of listing their home as per our Terms and Conditions.
%div
%div
  If the provider is worried about liability or insurance for potentially dangerous animals (eg certain breeds of dog)  then please, DO NOT AGREE TO THE ENQUIRY ON PETHOMESTAY. An option for peace of mind or if you want to earn money by looking after pets is to
  %a{:href => "http://www.mga.com/specialist-products/pet-industry-insurance/", :target => "_blank", :title => "Pet Insurance via MGA"} get insurance to cover you as a professional pet business
  (around AUS$350 per year for up to $10m in cover for as many  animals/ stays as you wish!). In some cases, your own existing home or contents insurance may have an amount of public liability cover included – check your own policy to see if this is the case.
%div
%div If the pet owner is worried about any of the above, then please only choose a listing on PetHomeStay which has pet insurance or is a registered company. There are many reputable, great pet businesses out there who would love to help you !
%div
%div
%h2 Thanks and Happy PetHomeStaying!
%p  
%p Together we can make owning pets fun & easy again!
%p  
%div The PetHomeStay Team
