%h1 How does it work?
%p  
%p PetHomeStay is a FREE social community that allows pet owners to find amazing local PetHomeStays in Australia and New Zealand. Pet owners simply register a profile of their pet, select the right PetHomeStay for their needs, and feedback to the community their experience.
%p Here’s a bit more detail of how PetHomeStay works…
%p  
%p
  =image_tag 'jumping_dog.jpg', height: '463', width: '300', style: 'float: right; margin-left: 15px; margin-top: 5px;', alt: 'jumping dog'
%h2
  %span{:style => "color: #d86717;"} Step 1  - SEARCH for suitable PetHomeStay services!
%ul
  %li Enter in your suburb or city for PetHomeStays, or widen out to see other other services for your pet near you.
%p  
%h2
  %span{:style => "color: #d86717;"}
    %strong Step 2 – REGISTER your Pet Profile & your PetHomeStay
%ul
  %li
    %strong Your Pet
    %ul
      %li Animal, size, breed, weight, quirks etc – anything you would want a potential Host to know!
      %li When you request availability, they will automatically be sent a copy of your pets profile so they can deliver the best experience they can!
  %li
    %strong Your PetHomeStay
    %ul
      %li Things like where you are based, the size of your yard, is it fully fenced, do you have other pets that live with you etc.
      %li Are you a professional pet carer, or just someone who wants to help their community?
      %li Do you know how to deal with big dogs, fussy cats, or anxious pigs?  It’s important to let people know the style of PetHomeStay you deliver!
%p  
%h2
  %span{:style => "color: #d86717;"} Step 3 – BOOK a great local experience for your pet!
%ul
  %li Once you have found the perfect Host, send them a quick note via PetHomeStay to see if they are available. Feel free to ask two or three Hosts to increase the chances of someone being available.
  %li The Host will be sent your pet profile,  and if they want to look after your pet, will accept the request.
  %li You simply then confirm the request via PetHomeStay with whatever Host you want!
%p  
%h2
  %span{:style => "color: #d86717;"} Step 4 – FEEDBACK on your experience!
%ul
  %li So that other PetHomeStay users know who the most reliable, trusted and awesome pets, pet owners and PetHomeStay Hosts are!
