.span12
  %h1 How does it work?
  %p PetHomeStay is an awesome social community that allows pet owners to find amazing local petsitters and pet services in Australia. Pet owners simply register a profile of their pet, book the right PetHomeStay for their needs, and feedback to the community their experience.  
  %p Here’s a bit more detail of how PetHomeStay works…
  %p  
  %p
    =image_tag 'jumping_dog.jpg', height: '463', width: '300', class: 'page-image', alt: 'jumping dog'
  %h2
    %span{:style => "color: #d86717;"} Search for suitable PetHomeStay services!
  %ul
    %li Enter in your postcode to see all the PetHomeStays in your area. 
  %h2
    %span{:style => "color: #d86717;"}
      %strong Register your Pet Profile!
  %ul
    %li
      Now you have found your perfect HomeStay, let them know a bit about your pet
      %ul
        %li Animal, size, breed, weight, quirks etc – anything you would want a potential Host to know!
        %li The Host will automatically be sent a copy of your pet profile so they can deliver the best experience they can for your pet.

  %h2
    %span{:style => "color: #d86717;"} Ask a Question!
  %ul
    %li Once you have found the perfect Host, you have an option to send them a quick message if you want to via PetHomeStay to see if they are available or to ask any further information you need.
  %h2
    %span{:style => "color: #d86717;"} Book a HomeStay!
  %ul
    %li If you have all the information you need, then simply Book the HomeStay in order to reserve it
    %li Once the Host accepts, your card will automatically be charged and your pet is all booked in!

  %h2
    %span{:style => "color: #d86717;"} Leave your pet in a warm, loving HomeStay!
  %ul
    %li Simply drop your pet off at a HomeStay with their food and a favourite toy. Payment, emergency information and keeping you updated are all taken care of! 
  %h2
    %span{:style => "color: #d86717;"} Feedback on your experience!
  %ul
    %li So that other PetHomeStay community users know who the most reliable, trusted and awesome pets, pet owners and Hosts are!