%h2{ style: 'text-decoration: underline;' } Insurance Services 
%p
  %em 31st January 2014
%p The safety of our Members, Hosts and Pets is of utmost concern to PetHomeStay.

%p
  In fact, Public Liability cover is a legal requirement of people looking after pets for money in Australia. That’s because, in Australia, if a domestic animal causes an accident or injures a 3rd party,
  %strong the person in control of the animal is responsible.

%p PetHomeStay wants it’s Hosts to be able to provide a valuable service, but not have to stump up hundreds of dollars for an annual insurance policy to help their neighbours!
%p That’s why we have arranged an innovative and exclusive Public Liability insurance policy especially for PetHomeStay Members and Hosts for services booked through the site!

%p
  We are the
  %strong{ style: 'text-decoration: underline;' } first and only
  Australian company to offer peer-to-peer pet-sitting liability insurance!

%p This cover is summarised as:-

%p= image_tag 'insurance-details.png', style: 'float:left;', width: '900px', class: 'page-image'

%h4 Important Note
%p We are actively engaged in finding accident & emergency cover for pets booked via PetHomeStay, and hope to offer this facility to our members soon as part of our service.
%p
  Right now, PetHomeStay
  %span{ style: 'text-decoration: underline;' } does not
  offer pet accident or emergency insurance cover during services booked via us. This is for instances such as injury or veterinary treatment that the Owners pet may require whilst with a Host.

%p
  A Host will always try to contact an Owner, or their Emergency Contact, before any treatment is sourced. In the event of a Host or PetHomeStay being unable to contact an Owner, the Owner accepts that if their pet requires treatment,
  %span{ style: 'text-decoration: underline;' } the Owner will refund all monies to the Host and authorise PetHomeStay to collect these funds.

%p If applicable, the Owner could use their existing accident & emergency pet insurance to refund these monies to the Host, but in the event of denial by the pet insurance firm, the Owner must still refund any bills to the Host.

%h2 EXCLUSIONS

%p 1. First Party Damage (i.e Damage to Host Property)
%p 2. Personal Injury caused by the animal (dog or cat) to the Host or Host Family.
%p 3. Injury to the Host pet.
%p 4. Pre-existing medical conditions, illness or old age
%p 3. All Exotic Animals – that is all animals other than dogs or cats.
%p 4. All Dangerous Dogs – as defined by the relevant authorities within each State of Australia and /all claims arising from the care of such Dangerous Dogs.
%p 5. Reduction in Value - This policy does not provide any cover for the potential value of any hosted animal arising from any perceived ‘stud’ or ‘show’ value.
%p 6. Boarding Kennels – this policy does not cover commercially run boarding kennels or stud farms
%p 7. Breach of professional conduct – for example, not following the House Rules or walking the animal off a leash in an unenclosed area.

%p{ style: 'text-decoration: underline;color:blue;' } Please note this is a summary of the PetHomeStay Site Users (Pet Hosts) Public Liability Insurance policy ONLY. Nothing contained herein should be construed or implied to form part of the Policy terms and conditions or be relied upon in the event of a claim. Please contact PetHomeStay for access to the Policy Schedule and Policy Wording for information as to the specific coverage afforded by the Insurer in the event of an incident.

%p
  For more detail, please see our specific
  = link_to 'terms and conditions', terms_and_conditions_url
  here.