#jobs.container{style: 'min-height:600px'}
  .page-header
    %h1 Nothing at the moment...
    %p
      However, we are always looking for active, pet-loving people to get involved with the community.
    %p
      If you want to contribute to helping people and their pets, in whatever way you would like or are able to do so, then get in touch with our team today at
      = "#{mail_to('info@pethomestay.com', nil, encode: 'hex')}!".html_safe
