#jobs.container
  .page-header
    %h1 We're Hiring!
    %p PetHomeStay is expanding rapidly and has several open positions. We love to hear from people that share our vision to make life easier and more fun for pets and people!
    %p
      If you are interested in any of the below positions (full time, part time, or as an intern),
      = mail_to 'jobs@pethomestay.com', 'get in touch', encode: 'hex'
      for a coffee and a chat.
    %p As we are a startup, the most important things are that you are willing to learn, can be flexible and are able to deliver!
  .job-position
    %h4 Head of Product + Co-Founder
    %p PetHomeStay has recently committed to several key partnerships which will give us 10&ndash;15&times; growth in the next six months.
    %p We need a gun Head of Product to help us make a beautiful, efficient customer journey that truly helps our community to find the best and most passionate pet care in Australia.
    %p Nothing is off the table - you will be able to research, create and deliver whole new processes to delight our users and grow our business!
    %p This is a co-founder role alongside the two existing co-founders (Business Dev and Tech) in an established two-year-old startup with nationwide press, thousands of customers and insights to draw on. Substantial equity to other co-founders is on offer to the right person.
    %p We are looking for a leader who wants to build out their own team over time. To support you we have an extensive team of mentors, including the ex-Head of Asia Pac Operations for Airbnb and the CEO of the world's largest pet-sitting platform.
    %p Team is the most important thing to us, so it’s important you are a passionate pet owner, have hustle and want to build something amazing that helps people!
    %p
      Contact us on
      = mail_to 'jobs@pethomestay.com', nil, encode: 'hex'
      for a coffee and a chat.
    %p.job-heading Job outline
    %p We are looking for a business process and empathic person, who is UX orientated. Design thinking is key and you need to have a strong desire to create amazing experiences that delight our users.
    %p You will have an understanding of the technical process and be able to work alongside the outsourced tech team to create hypotheses, test with our users, wireframe, prioritise, iterate and constantly drive improvement in the customer journey.
    %p We use Agile methods, daily stand-ups, Lean Startup metrics and so on. You would be responsible for:
    %ul
      %li Wireframes and UX design experience that will delight our users.
      %li Execution of Project Management via Pivotal Tracker (along with Tech).
      %li Ongoing prioritisation of features and laser-beam focus on shipping product.
      %li Conducting usability research, surveys, focus groups along with other team members and translating these insights into features and improvements.
      %li Communication to our software development team and mobile developers to provide clarifications and to help solve issues.
      %li Optimisation of conversion flows, user targets and retention metrics using marketing toolsets.
      %li Analysing website performance / app analytics and overall performance of our platform and business engine.
    %p.job-heading Your skillset
    %ul
      %li Proven track record of optimisation and incremental improvement.
      %li Analytics: data-driven decision making, and a focus on efficiency.
      %li Empathy: understanding our users pain points.
      %li Hustle – This is a rapidly growing sector with multiple startups competing. PetHomeStay is unique, but we need to stay that way. If we stand still we get copied.
      %li Project Management – you will be a key interface between Development, Marketing, Management and Users, so you will need to drive project management hard to achieve deadlines.
    %p.job-heading Perks
    %ul
      %li Equity ownership of the company with future options (we have an existing seven-figure valuation).
      %li Be part of the Key Management Team: ground-floor opportunity, shape the strategic direction of the company, recruit your own staff in the next six months.
      %li Be part of the startup community: rub shoulders with other startups, be on the cutting edge and improve your network.
      %li Team lunches.
      %li Bring your pet to work!
    %p
      Contact Us on
      = mail_to 'jobs@pethomestay.com', nil, encode: 'hex'
      for a coffee and a chat.
    %p Remote working is OK, but we would prefer you to be in Melbourne!
