.span12
  .page-header
    %h1 We're Hiring!

  %p
    PetHomeStay is expanding rapidly and has several open positions -  we love to hear from people that share our vision to make life easier and more fun for pets and people!
  %p
    If you are interested in any of the below positions - full time, part time, or as an intern -
    = link_to 'get in touch', 'mailto:jobs@pethomestay.com'
    for a coffee and a chat.
  %p
    As we are a start-up - the most important thing is that you are willing to learn, can be flexible, and are able to deliver!

  %h4 Front-End Developer
  %p
    Amazing HTML5? Mobile savvy? Graphics Design & UX skills? We are on the hunt for a mid-range front end developer who can make life effortless for our Guests, delight our Hosts, and take the lead on new initiatives & feature design.

  %h4 Back-End Developer
  %p
    Our stack is built on Heroku, Ruby on Rails, PostgresSQL, and a few other cloud based tools. You will be able to work hand in glove with our designers to make sure new features are implemented seamlessly and the user experience is reliable, tested and secure. You will also take a lead on SEO requirements.

  %h4 Digital Marketing Assistant
  %p
    We are on the lookout for a pet-mad digital marketer! You will be able to help manage most aspects of our outbound digital marketing strategy - including Facebook, Twitter, Google+ - as well as helping to craft our inbound campaigns. You will have access to advertising budget and get exposure and experience by being the PetHomeStay interface with the best external agencies.

  %h4 Operations Manager
  %p
    You will build a team that loves helping our users find and book amazing pet care! PetHomeStay has great conversations with pet lovers every day, so you need to be a people person. You will look at our processes and ensure they deliver what is expected from our service. Familiarity with Saleforce or other CRM tools would be handy but not essential.
  = image_tag 'home/three_features/feature_two.png', class: 'pull-right'
