.span12
  .page-header
    %h1 Partners
  %p
    PetHomeStay is keen to partner with firms that share our mission of making pet care easier and better quality.
  %p
    Specific areas we are keen to hear about would be:-
  %ul
    %li Vet Clinics - who would like to join our Host scheme
    %li Pet Food & Accessory Manufacturers - who have amazing products they would like to offer our community!
    %li Pet Industry Non-profits - how we can use our awesome members to help your charity
    %li Complementary Partners - who could be anyone we have not thought about yet but who share our vision!
  %hr
  %h4 I would love to talk about partnering with PetHomeStay!
