.span12
  %h1 Privacy Policy
  %p
    =image_tag 'izzy.jpg', height: '180', width: '180', alt: 'izzy', class: 'page-image'
    Hi! If you are reading this then you must be concerned about your privacy. That’s ok, because we are very serious about this point. We don’t sell your info, spam you with junk mail, and include unsubscribe on every optional communication we send. Unfortunately, your dog can’t chew up your spam mail like the newspaper, so we try to keep it to a minimum.
  %p We have tried to make the below policy as plain as we can, but if you have any queries, then please feel free to get in touch with us.
  %p Thanks and Happy PetHomeStaying!
  %p The PetHomeStay Team
  %p ___________________
  %h4 Privacy Policy - February 17th 2014
  %p
    PetHomeStay Pty. Ltd. (ACN 159 944 868, ABN 80159944868),  (hereafter referred to as
    %span.font-bold.font-italic PetHomeStay, we, us
    or
    %span.font-bold.font-italic our
    ) respects your privacy. Because we gather important information from our users, visitors, subscribers and customers (collectively
    %span.font-bold.font-italic you
    or
    %span.font-bold.font-italic your
    ), we have established this Privacy Policy as a means to communicate our information gathering and dissemination practices. This privacy policy applies to information collected through our Site and to information collected offline. By accessing PetHomeStay.com or any of our related mobile applications or subsites (the
    %span.font-bold.font-italic Site
    ), you acknowledge and agree to this Privacy Policy and also agree to the Terms and Conditions located at
    = succeed '.' do
      = link_to 'www.PetHomeStay.com/terms-and-conditions', terms_and_conditions_url, html_options = { target: '_blank', title: 'Terms & Conditions' }
    Some terms with capitalised letters are defined, and have the meaning given, in those Terms. We may share information among our subsidiaries or sites that we own or control, but such sharing of information is always governed under the terms of this Privacy Policy.
  %p Our primary goals in collecting information are to provide and improve our Site and to enable users to enjoy and use the Site.
  %p If there are any questions regarding this policy, or wish to Opt Out from receiving messages from us, contact us via info@PetHomeStay.com or by clicking the 'unsubscribe' feature in any communication we send out.
  %p
    %strong Personal Information
  %p
    Like many websites, we collect personal information which may include your name, physical address, phone number, e-mail address, bank account (including credit card) details, photos, messages, pet details (including medical history), cookies, IP logs, and other information (collectively
    %span.font-bold.font-italic Personal Information
    ), you provide in the course of using the Site.

  %p Your Personal Information will not be distributed or shared with third parties unless and to the extent reasonably necessary to transact such business as you have expressly or impliedly consented to (eg to discuss, make or give effect to a booking, or respond to a request) or to comply with any legal processes and/or law enforcement requests involving us.

  %p
    %strong Account/Profile information
    %p When you create an account we will ask you to set up a PetHomeStay profile (as Owner or Host). The profile will generally contain your first name, last name, e-mail address, phone number, location, profile photo and pet details. These profiles will be made available publicly throughout the Site and other PetHomeStay users will see your first name, your profile photo, and general information about your location (for example, your suburb), as well as any feedback left by other users, your own pet experience and the type of Service you offer. We will display this high level information in your profile page, elsewhere on the Site, and potentially on third party sites (e.g., through the use of a HTML “widget” or API). We recommend that you guard your anonymity and sensitive information and we encourage members to think carefully about what information about themselves they disclose in their profile pages. You can review and revise your profile information at any time.
    %p We will not reveal specific location or identifying contact information (physical address e-mail address and phone number) until after a booking request is made and confirmed. If you enter into a confirmed booking with another PetHomeStay user (that is, you request a Service from a Host and the Host confirms your booking) you will each have access to the other's contact information.

  %p
    %strong Bank details and other information

  %p You may also be required to provide bank account (including credit card) details to us or our third party services providers (including the operator or our payment gateway). We may use these details to process payments for Services (including veterinary services) and also to process refunds to you.

  %p If you use the Site in the course of a booking, you may also post further information (including photos) including through our messaging system. We may use that information to facilitate the booking or for marketing purposes.
  %p If you fill out a Contact Us form or e-mail us, we may use that information to address your request.
  %p
    %strong Marketing
  %p We also use your Personal Information to contact you with newsletters, marketing and promotional materials and other information that may be of interest to you from us and 3rd parties.

  %p We do not at any time sell or forward on your information to 3rd parties - all communications will be directly from PetHomeStay.
  %p If you decide at any time that you no longer wish to receive such communications from us, please follow the instructions above or provided in any of those communications.
  %p
    %strong Web analytics, metrics and beacons
  %p We use the information that we collect to provide, maintain and improve the Site as we consider appropriate. When you visit the Site, we may store some or all of the following: the IP address from which you access the Site, the date and time, the IP address of the web site from which you linked to the Site, the name of the file or words you searched on our Site,items clicked on a page, the browser and operating system used. This information is used to measure the number of visitors to the various sections of our site and identify system performance.
  %p We use web metrics services (eg Google Analytics software or other analytics software) to track activity on the Site. We use this information to help us develop the Site, analyze patterns of usage, and to make the Site more useful. This information is not used for associating search terms or patterns of site navigation with individual users. It is used as an aggregate across many users.
  %p Our Web pages may contain electronic images known as Web beacons (sometimes called single-pixel gifs) and are used along with cookies to compile aggregated statistics to analyze how our site is used and may be used in some of our e-mails to let us know which e-mails and links have been opened by recipients. This allows us to gauge the effectiveness of our customer communications and marketing campaigns.
  %p
    %strong Cookies
  %p Like many websites, we use “cookies” to collect information. A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes. We use cookies for two purposes. First, we utilize persistent cookies to save your registration ID and login password for future logins to the Site. Second, we utilize session ID cookies to enable certain features of the Site, to better understand how you interact with the Site and to monitor aggregate usage by PetHomeStay users and web traffic routing on the Site. Unlike persistent cookies, session cookies are deleted from your computer when you log off from the Site and then close your browser. Third party advertisers on the Site may also place or read cookies on your browser.
  %p You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all functionality of the Site.
  %p For instructions on how to remove cookies from your hard drive, go to your browser options for detailed instructions. In addition, further information regarding cookies may be available on other Sites or from your Internet service or browser provider.

  %p
    %strong Children
  %p The Site is solely for persons who are 18 or older. Any access to or use of the Site by anyone under 18 is expressly prohibited. By accessing or using the Site you represent and warrant that you are 18 or older. We do not wish to collect any Personal Information (or any information at all) from any persons under 18 years old. We do not encourage parents to set up accounts for children under 18 years old or facilitate requests for PetHomeStay’s for them.

  %p
    %strong Site Security
  %p Please note that data that is transported over an open network, such as the Internet or e-mail, may be accessible to anybody. We cannot guarantee the confidentiality of any communication or material transmitted via such open networks. When disclosing any personal information via an open network, you should remain mindful of the fact that it is potentially accessible to others, and consequently, can be collected and used by otherswithout your consent. Your data may be lost during transmission or may be accessed by unauthorized parties. We do not accept any liability for direct or indirect losses as regards the security of your Personal Information or data during its transfer via Internet. Please use other means of communication if you think this is necessary or prudent for security reasons.
  %p For network security purposes and to ensure that our Site remains available to all users, we employ commercial software programs to monitor network traffic and attempt to identify unauthorized attempts to upload or change information, or otherwise cause damage.

  %p
    %strong External Site Links

  %p PetHomeStay may link to Sites created and maintained by public and private organizations which may include or offer third party products or services. When you access a linked site you may be disclosing private information. It is your responsibility to keep such information private and confidential. These third party sites have separate and independent privacy policies. PetHomeStay does not control or guarantee the accuracy, relevance, timeliness, or completeness of information contained on a linked Site and does not have responsibility or liability for the content and activities of these linked sites. If you click a link to an outside website, you will leave the Site and our Privacy Policy will cease to apply. You will become subject to the privacy and security policies (if any) of the owners/sponsors of the outside website. PetHomeStay cannot authorize the use of copyrighted materials contained in linked websites. Users must request such authorization from the sponsor of the linked website. PetHomeStay is not responsible for transmissions users receive from linked websites.
  %p
    %strong Changes To Our Privacy Policy
  %p We may revise this Privacy Policy from time to time as we add new features or as laws change. When we make changes to our privacy policy, they are reflected on this page. Any revised Privacy Policy will apply both to information we already have about you at the time of the change, and any information created or received after the change takes effect. We strongly recommend that you periodically reread this Privacy Policy, to see if there have been any changes to our policies that may affect you.
