%h1 Terms & Conditions
%p
  =image_tag 'peering_puppy.jpg', height: '335', width: '400', alt: 'peering puppy', style: 'float: right; margin-right: 10px; margin-top: 5px;'
%p
  %strong
    %span{:style => "text-decoration: underline;"} PetHomeStay Pty. Ltd.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Terms of Service
%p
  %em Last Updated: December 3rd 2012.
%p A quick note from the PetHomeStay team…
%p
  %em
    When using PetHomeStay,
    %strong PLEASE
    remember that we are simply an on-line sharing community providing a third party matching service (although a very cool and innovative one!) This is like an auction or a dating website or marketplace, we don’t have any control over the people, owners, hosts, services or pets who are listed, nor do we take any responsibility for their actions. We don’t vouch for them, screen them, or approve them in any way.
  %em
%p
  %em Ultimately, the best results arise from choosing an appropriate, reputable provider who is well rated by other users.  Use the trust inherent in the feedback system and our House Rules  (pethomestay.com/House-Rules) to select a provider who is right for you.  If you have any doubts, or concerns about a Provider, DO NOT use them.
%p
  %em
    The contract of services, including the responsibility of care, liability in case anything going wrong, or monies involved, is
    %strong strictly between the PetHomeStay Host, and the Pet Owner who agrees to utilise their services.
%p
  %em
    We have made significant effort to minimise the chances of things going wrong, but, as the extensive legal notes say below (blame our lawyer) in the event of an accident,
    %strong PetHomeStay takes no responsibility or liability for ANY incidents involving pet hosts, pet service providers, or pet owners!
%p
  %em
    Have fun, make some new four and two legged friends, but
    = succeed "," do
      %strong make sure you follow the House Rules
    %strong
      %span{:style => "text-decoration: underline;"} especially
    if it is a person or a pet that you don’t know.
%p
  %em Thanks PetHomeStayers, and love the animals you are fortunate enough to be around!
%p
  %em The PetHomeStay Team.
%p _________________________________________________________________________________________________________________
%p
  %strong The Legal Bit.
%p PetHomeStay Pty. Ltd. (ACN 159 944 868, ABN 80159944868) (hereafter referred to as “PetHomeStay”, “PetHomeStay.com”, “we”, “us”, or “our”) provides an online platform that connects pet owners (“Owners”) with pet lovers who wish to accommodate pets in their home (“Hosts”) and/or offer other pet related services (“Services”). These services are offered by third party providers via PetHomeStay.com ( “Site”). By accessing or using the Site you agree to comply with and be legally bound by the terms and conditions of these Terms of Service (“Terms”), whether or not you register as a User. These Terms govern your access to and use of the Site and all Content (defined below), and constitute a binding legal agreement between you and PetHomeStay. If you do not agree to these Terms, you have no right to obtain information from or otherwise continue using the Site and must not use the Site.
%p You agree that we may modify the Terms and such modifications shall be effective immediately upon posting. You agree to review these Terms periodically to be aware of modifications. Continued access or use of the Site shall be deemed conclusive evidence of your acceptance of the modified Terms.
%p
  %strong
    %span{:style => "text-decoration: underline;"} THE SITE AND SERVICES COMPRISE AN ONLINE PLATFORM THROUGH WHICH HOSTS  MAY CREATE LISTINGS FOR SERVICES, AND OWNERS MAY FIND AND INITIATE CONTACT TO UTILISE SERVICES. YOU ACKNOWLEDGE AND AGREE THAT PETHOMESTAY IS NOT A PARTY TO ANY ARRANGEMENTS BETWEEN PROVIDERS AND OWNERS. PETHOMESTAY HAS NO CONTROL OVER, AND IS NOT RESPONSIBLE FOR, THE ACTS OR OMISSIONS OFHOSTS, OWNERS, PETS, OR ANY OTHER USERS OF THE SITE OR SERVICES. AND TO THE MAXIMUM EXTENT PERMITED AT LAW DISCLAIM ALL LIABILITY IN THIS REGARD.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Key Terms
%p “ACCOUNT” means a discrete record of information created when a person completes the registration process on the Site.
%p “CONTENT” means text, graphics, images, music, software, audio, video, information, documents, compilations, data or other materials.
%p “HOST” means a User who creates a PetHomeStay listing on the Site offering to provide a Service.
%p “USER” means a person who opens an Account.
%p “OWNER” means a User who completes a Pet Profile with the intent of using a PetHomeStay listing.
%p “SERVICE” means any services offered on the Site via a listing, including but not limited to home pet boarding, pet-sitting, pet walking, pet training, and pet day care, grooming etc.
%p “PROFILE” means that part of an Account which is generally visible to Users.
%p “PROVIDER” means either or both (as the context requires) Hosts and Owners.
%p “SITE” means the entirety of the PetHomestay.com website, related mobile applications or subsites.
%p “THIRD PARTY PROVIDERS” means PetHomeStay’s third party agents, contractors, distributors, merchants or sponsors.
%p “YOU” means a person who accesses or uses the Site, whether or not as a User, Host, Owner or Provider.
%p In these Terms, the following rules of construction apply.
%p (a)        Headings are for convenience only, and do not affect interpretation.
%p (b)        The singular includes the plural and vice versa and a gender includes all other genders;
%p (c)        If a word or phrase is defined its other grammatical forms have the corresponding meaning;
%p
  (d)        The words
  %strong
    %em includes
  and
  %strong
    %em including
  are not words of limitation.
%p (e)        A reference to:
%p (ii)        a person includes a partnership, joint venture, unincorporated association, corporation and a government or statutory body or authority;
%p (iii)       a person includes the person’s legal personal representatives, successors, assigns and persons substituted by novation;
%p (iv)       any legislation includes subordinate legislation under it and includes that legislation and subordinate legislation as modified or replaced;
%p (vii)      this or any other document includes the document as varied;
%p
  (viii)
  %strong
    %em writing
  includes any mode of representing or reproducing words in tangible and permanently visible form, and includes fax transmissions.
%p  
%p
  %strong
    %span{:style => "text-decoration: underline;"} Eligibility
%p The Site and Services are solely for persons who are 18 or older. Any access to or use of the Site or Services by anyone under 18 is expressly prohibited. By accessing or using the Site you represent and warrant that you are 18 or older.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Information at the Website, Personal Information and Confidentiality
%p Although PetHomeStay attempts to maintain the integrity and accuracy of the information on the Site, and endeavour to moderate User-generated Content (including User ratings), we make no guarantees as to its correctness, completeness, or accuracy. The Site may contain errors and inaccuracies, or omissions.  Also, Users or other persons may add Content, or make unauthorised alterations, to the Site without our knowledge or consent. To the maximum extent permitted at law we disclaim all liability for any unauthorised alterations. If you believe that information found on the Site is inaccurate, incomplete or unauthorized, please inform us via the “Contact Us” link on the Site.
%p
  Any personal information you submit to the Site is governed by the Privacy Policy
  = succeed ")." do
    %a{:href => "file:///C:/Solubility%20Pty%20Ltd/Solubility%20Legal/Client%20files/PetHomeStay/(408)%20General%20advice/Documents/(https:/www.pethomestay.com/privacy-policy/"} (https://www.pethomestay.com/privacy-policy/
  This Privacy Policy encompasses any and all information you may provide to the Site as a User or to receive further information, updates and promotions about or related to the Site.
%p Without limiting the foregoing, each Host acknowledges that the Site may provide its address on a map available to the public, but PetHomeStay will endeavour to do so in a way which limits zooming-in and also reduces the resolution to a distance of approximately 100 metres.
%p You are responsible for maintaining the confidentiality of your Account information and password and for restricting access to your Account and such information. You are responsible for all activities that occur on your Account or otherwise through use of your password.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Photo Updates
%p As part of the Services PetHomeStay occasionally shares User generated Content (including photos) with Users and the public. You agree that PetHomeStay may, at its sole discretion, publish such Content on the Site and across social media including Facebook, Twitter, Pinterest, and similar sites. Hosts may be required to provide periodic photo updates to the Owner and PetHomeStay via mobile pictures, email, or public sites as detailed above. Failure to do say may result in your Account or access to all or part of the Site being cancelled, suspended or terminated.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Use of the Site
%p  
%p You must not do any of the following, and you acknowledge that failure to so comply may result in your Account or access to all or part of the Site being cancelled, suspended or terminated.  You also acknowledge that such conduct may infringe local, state, national and international law, and subject you to civil liability and criminal prosecution.
%ul
  %li
    Post any untrue, misleading, defamatory or malicious Content on or to the Site;
    %ul
      %li Collect information about the Site or Users without PetHomeStay’s written consent;
      %li Modify, frame, render (or re-render), mirror, truncate, inject, filter or change any Content contained on the Site, without PetHomeStay’s written consent;
      %li Use any deep-link, page-scrape, robot, crawl, index, spider, click spam, macro programs, Internet agent, or other automatic device, program, algorithm or methodology which does the same things, to use, access, copy, acquire information, generate impressions or clicks, input information, store information, search, generate searches, or monitor all or part of the Site or any Content contained on the Site;
      %li Access or use the Site for commercial purposes;
      %li Disguise the origin of information transmitted to, from, or through the Site.
      %li Impersonate another person or entity;
      %li Distribute viruses or other harmful computer code;
      %li Allow any other person or entity to impersonate you to access, use or register with the Site;
      %li Use the Site for any purpose in violation of local, state, national or international laws, including any use of any Content contained on the Site in any manner that may contravene any applicable laws and regulations (including laws relating to copyright, trademark, privacy, confidentiality or telecommunications)  or in any manner which may infringe the rights of any person.
      %li Use the Site in a way that is intended to harm, or a reasonable person would understand would likely result in harm, to any person or animal.
      %li Circumvent any measures aimed at preventing unauthorised use of the Site.
%p PetHomeStay expressly reserves the right, in its sole discretion, to cancel, suspend or terminate a Users’ Account or access to all or part of the Site for failure to comply with the Terms.. PetHomeStay also expressly reserves the right to remove any User-generated Content we consider, in our sole discretion, inappropriate.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Compliance with laws
%p You must comply with all applicable local, state, national and international laws when accessing or using the Site or providing Services. It is also your obligation to comply with all applicable tax laws and regulations that apply to your activity on the Site, including payment of tax on any fees collected for the provision of Services.
%p
  Without limiting the applicable laws referred to in the preceding paragraph, you must comply with any applicable laws relating to the boarding of animals and the keeping of animals at private residences, including local council by-laws and applicable state and federal companion animal legislation.
  %strong
%p
  %strong
    %span{:style => "text-decoration: underline;"} Financial Terms
%p PetHomeStay provides a platform for Hosts to create listings for providing Services to Owners, which may include temporary pet boarding, pet daycare and related services in the comfort of the Providers’ private residences, at the Owner’s private residence, or at a third party location.
%p PetHomeStay does not charge any fees at present, but reserves the right to do so in the future.  This will be fully communicated on the Site to all Users in advance and, at our discretion, by regular mail or e-mail using the information contained in our database from User registrations.
%p Hosts may create listings, and will be required to provide detailed information about your place and pets (if relevant). You may set the pricing and terms for the Services you offer, within the parameters permitted by the Site.
%p Owners may request Services through the Site by responding to Providers’ listings.
%p Hosts may charge Owners fees, or make other arrangements, for providing Services.  PetHomeStay plays no role in any arrangements which may arise between Owners and Hosts in respect of provision of Services, and Owners and Hosts are solely responsible for such arrangements.  Save as otherwise agreed in writing between the Host and Owner, each Host must provide the Services, and each Owner must pay such fee, as specified on the Host’s profile at the time the booking is made.
%p Each Host may, but is not obliged to, include their own refund policy as part of their unique differentiation for their particular Service.  A Host is not obliged to refund any monies to an Owner, unless agreed in writing to the contrary between the Host and Owner. In addition, it is up to each Owner and Host to agree whether any fee charged for a service is payable before or after the Service is provided (for example, when the pet is dropped off to their house, or when it is picked up at the end), and in the absence of any agreement, any terms set out on the Host’s Profile prevail.
%p Each Host also acknowledges that Services it provides may be subject to certain statutory guarantees under the Australian Consumer Law (including such State or Territory version as applicable in any jurisdiction in which such Services are provided).
%p Each Provider agrees, in order to create a fair and impartial record of PetHomeStay service provision, to use the PetHomeStay feedback system to place fair and impartial feedback after using Services, including, if an Owner, feedback on each Host and, if a Host, feedback on each Owner (and the Owner’s pet). Failure to do so may result in your registration or access to all or part of the Site being suspended or terminated.
%p  
%p Owners are also encouraged to add reviews of other Pet Services which they have used in the past.
%p
  %em
    %span{:style => "text-decoration: underline;"} For Medical Situations Involving an Owner’s pet:
  Each Owner acknowledges and agrees that, unless agreed in writing to the contrary between the Host and Owner, in the event any situation arises where host reasonably considers that the Owner’s pet requires veterinary care while in the care or custody of the Host, the Host may consult with the Host’s veterinary surgeon (or the surgeon nominated on the Owner’s Profile) and take all reasonable action as recommended by such vet. On presentation of suitable receipts, Owner must reimburse all costs incurred by the Host, subject to any limit nominated on the Owner’s Profile or otherwise agreed in writing between the Host and Owner.
%p The emergency information contained in the Owner’s Profile will be automatically sent to the Host on request of a Service.
%p If an Owner’s Profile refers to his/her own insurance and/or emergency procedures, those arrangements will take precedence (unless agreed in writing to the contrary between the Host and Owner).
%p
  %strong
    %span{:style => "text-decoration: underline;"} Links to Third Party Websites
%p The Site may contain links or have references to websites controlled by parties other than PetHomeStay. PetHomeStay provides these links as a convenience and, except as expressly stated otherwise on the Site, and to the maximum extent permitted at law, PetHomeStay is not responsible for and does not endorse, or accept any responsibility for, the contents or use of these third party websites. . A User must take precautions to ensure that each such site is free of viruses and other harmful components.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Cancellations and Refunds
%p PetHomeStay automatically provides 24 hour , 48 hour, or 72 hour+ cancellation options. A Host may also nominate its own cancellation policy, which will show up as a custom policy when an Owner searches for a listing. The Owner agrees to be bound by the cancellation nominated by the Host unless agreed otherwise in writing between the Host and Owner.
%p
  We advise as part of our House Rules (
  %a{:href => "http://www.pethomestay.com/house-rules"}> www.pethomestay.com/house-rules
  ), that a first-time booking between each Owner and Host, the Owner and Host should meet in person to introduce the Owner’s pet to the Host and the Host’s location and pets (if any). This should take place before the specified cancellation policy deadline, so that the booking can be cancelled if necessary.
%p
  %strong
    %span{:style => "text-decoration: underline;"} RISK MANAGEMENT & INSURANCE
%p Home pet boarding is not appropriate for all pets. Each User acknowledges that it is the Owner’s sole responsibility to determine if PetHomeStay Services are suitable for its pet and to select a suitable Host. While a Host’s User rating may include positive comments, PetHomeStay makes no representations or warranties regarding the accuracy of such comments nor the quality, security or positive features of the Host or the Host’s residence. PetHomeStay is not party to any agreement or transaction between each Owner and Host and, as such, cannot verify or otherwise authenticate any claims made by the Host or any aspect of the Host’s profile (including any medical certifications or insurance coverage held by the Provider).  When discussing and providing Services, each Owner and Host must make available to each other any and all relevant information, including medical issues, allergies or other conditions, about all relevant persons and animals that may be involved in the Services.
%p To the maximum extent permitted at law each User assumes, and PetHomeStay and its affiliates and Third Party Providers and their respective directors, officers or employees (collectively “PetHomeStay entities”) disclaim, all risk of any liability, loss or damage (including property damage, personal injury or death to any person or animal) which may arise in relation to the User’s use of the Site or the Services (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).  This disclaimer of liability, loss and damage shall apply even if the PetHomeStay entity has been advised, or should have knowledge, of the possibility of such liability, loss or damage.
%p Subject to the following paragraph, except where expressly provided otherwise on the Site, all Content and Services are provided “as is” and each PetHomeStay entity disclaims all express or implied representations, warranties, guarantees, and conditions (“guarantees”) in relation to the Site and Services, including such guarantees of safety, merchantability, fitness for a particular purpose, title, non-infringement, quality of goods and services, reliability, availability, timeliness, quality, suitability and accuracy, and any guarantee related to the quality of goods and/or services of Third Party Service Providers and any persons or businesses referred to on the Site, including such guarantees as may be implied by law.  Without limiting the generality of the foregoing, each PetHomeStay entity disclaims any guarantee that the operation or use of the Site or provision of the Services will be timely, secure, uninterrupted or free of errors, viruses or harmful components.  Each User acknowledges that none of the PetHomeStay entities controls the transfer of data over communications facilities, including the internet, and that the Site and Services may be subject to limitations, delays, and other problems inherent in the use of such communications facilities and no PetHomeStay entity is responsible for any delays, delivery failures, or other damage resulting from such problems.
%p Nothing in the preceding paragraph will operate to exclude any guarantee that may not be lawfully excluded.  To the extent that a guarantee implied by law may not be lawfully excluded, but liability for breach thereof may lawfully be limited, the liability of each PetHomeStay entity for breach of each such warranty is limited to one or more of the following (at the discretion of the relevant PetHomeStay entity):
%p (i)         in the case of goods:
%p (A)     the replacement of the goods or the supply of equivalent goods;
%p (B)     the repair of the goods;
%p (C)     the payment of the cost of replacing the goods or of acquiring equivalent goods;
%p (D)     the payment of the cost of having the goods repaired.
%p (ii)        in the case of services:
%p (A)     the supplying of the services again; or
%p (B)     the payment of the cost of having the services supplied again.
%p To the maximum extent permitted at law, each PetHomeStay entity disclaims all liability for any indirect, incidental, special or consequential damages which may arise in relation to the use of the Site or the Services (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).
%p Each User assumes, on behalf of itself and all third parties (including minors) who may be exposed to any animal in connection with any use of the Site or the Services by it, all risk of liability, loss or damage (including property damage, personal injury or death to any person or animal) which may arise in relation to the use of the Site or the Services (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).  Without limiting the foregoing, each User acknowledges the risks arising from boarding an animal that may not be accustomed to any persons (including minors) or property to whom such animal may be exposed.
%p Each User:
%p (i)            indemnifies and must keep indemnified each PetHomeStay entity against; and
%p (ii)           on its own behalf and on behalf of any and all third parties (including minors) who may be exposed to any animal in connection with any use of the Site or the Services, and all personal representatives, successors, heirs, and assigns of any of the foregoing, releases and discharges each PetHomeStay entity against from,
%p any and all claims, costs, damages, losses, liabilities and expenses (including lawyers’ fees and costs) in respect of any liability, loss or damage (including property damage, personal injury or death to any person or animal) which may arise in relation to the use of the Site or the Services by such User (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).
%p .
%p
  %strong
    %span{:style => "text-decoration: underline;"} Termination and Account Cancellation
%p PetHomeStay may at any time, in its sole discretion with or without cause and without prior notice or liability to you: (a) terminate or suspend these Terms and your access to our Site, and (b) cancel your Account.  All provisions of these Terms relating to PetHomeStay’s proprietary rights, disclaimers, indemnities, and limitations of liability shall survive any such termination. PetHomeStay may, at its discretion, provide notice of termination by regular mail or e-mail, but is not obliged to do so. You may cancel your Account at any time by contacting us via the “Contact Us” link on the Site. You are personally liable for any orders, listings or pending transactions that you place or charges that you incur before any termination or cancellation. If your PetHomeStay Account is terminated or cancelled, we do not have an obligation to delete or return to you any Content you have posted to the Site.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Controlling Law and Jurisdiction
%p These Terms will be interpreted in accordance with the laws of Victoria Australia, without regard to its conflict-of-law provisions, and all Users submit to the exclusive jurisdiction of the courts of that State.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Intellectual Property Rights
%p All Content is protected by international copyright and trademark laws and all rights in Content are owned by PetHomeStay, or its affiliates or Third Party Providers.  Except as expressly stated in these Terms, Content must not, without the prior express written permission of PetHomeStay be modified, copied, printed, reproduced, distributed, republished, performed, downloaded, displayed, posted, transmitted and/or otherwise used in any form or by any means, including electronic, mechanical, photocopying, recording, or other means nor “mirrored” or “archived”.
%p In consideration for us allowing you to post User generated Content to the Site, you (a) assign to us, effective on posting, all rights you may have in such Content; (b) consent to us doing anything in relation to such Content which, but for such consent, would infringe any moral rights you may have in such Content; and (c) warrant that (i) you have the right to post such Content, and (ii) such posting, and exercise of any rights in such Content by us or any person authorised by us, will not infringe any laws or any rights of any other person.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Severability
%p If any provision of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be severed to the extent necessary to address such invalidity or unenforceability , with all other provisions remaining in full force and effect.
%p
  %strong
    %span{:style => "text-decoration: underline;"} Miscellaneous
%p These Terms (together with the Privacy Policy) represent the entire understanding relating to the use of the Site and (save for each agreement entered directly between ach Owner and Host) any Services provided in connection with such use and supersede any prior or contemporaneous, conflicting or additional, understandings. PetHomeStay reserves the right to change these Terms or policies relating to the Site at any time and from time to time, and such changes will be effective upon being posted on the Site. You agree to visit this page from time to time to review the then current Terms because they are binding on you. Certain provisions of these Terms may be superseded by expressly designated legal notices or terms located on particular pages of the Site, which may be posted from time to time. Your continued use of the Site after any such postings shall constitute your consent to such changes.
%p You may not assign any of your rights or obligations under these Terms without the prior written approval of PetHomeStay. Any purported assignment in violation of this section shall be void. PetHomeStay may assign or novate any or all of our rights or obligations under these Terms without your consent or notice to you and you agree not to object on any ground to, and at your cost to sign such documents and do such things as necessary to give effect to, any such assignment or novation.  Any and all rights not expressly granted herein are reserved by PetHomeStay.
%div{:align => "center"}
  %hr{:align => "center", :noshade => "noshade", :size => "1", :width => "100%"}/
%p
  %strong
    %span{:style => "text-decoration: underline;"} Change History
%p November 21st 2012 – Changed age of people able to use the site to 18. Changed the Waiver for people with Children under the age of 18
%p December 3rd 2012 – Significant update to be more specific to Victorian Law in Australia.
