%h1 Terms & Conditions
%p
  =image_tag 'peering_puppy.jpg', height: '335', width: '400', alt: 'peering puppy', class: 'page-image'
%p.font-bold.font-underline PetHomeStay Pty. Ltd.
%p.font-bold.font-underline Terms of Service
%p.font-italic Last Updated: January 31st 2014.
%p A quick note from the PetHomeStay team…
%p.font-italic
  When using PetHomeStay,
  %strong PLEASE
  remember that we are an on-line sharing community providing a third party matching service (although a very cool and innovative one!), like an auction or a dating website or marketplace.  We also provide specific public liability and errors and omissions insurance to provide peace of mind.  We charge a small fee for these services.  However, we don’t have any control over the people, owners, hosts, services or pets who are listed, and don’t vouch for them, screen them, or approve them in any way.  Thus we do not take any responsibility for their conduct.

%p.font-italic Ultimately, the best results arise from choosing a reputable provider who is well rated by other users and appropriate for your needs.  We recommend that you use the trust inherent in the feedback system and our House Rules (pethomestay.com/House-Rules) to select a provider who is right for you and your pet. If you have any doubts, or concerns about a Host, DO NOT use them.
%p.font-italic
  We have made significant effort to minimise the chances of things going wrong (including implementing the first insurance policy of its type in Australia). But, as the extensive legal notes say below, to the maximum extent legally allowed,
  %strong PetHomeStay takes no responsibility or liability for ANY incidents involving pets, pet hosts, or pet owners!
%p.font-italic
  Have fun, make some new four and two legged friends, but
  %strong make sure you follow the House Rules,
  %span.font-bold.font-underline especially
  if it is a person or a pet that you don’t know.
%p.font-italic Thanks PetHomeStayers, and love the animals you are fortunate enough to be around!
%p.font-italic The PetHomeStay Team.
%p _________________________________________________________________________________________________________________
%p.font-bold The Legal Bit.
%p
  PetHomeStay Pty. Ltd. ABN 80 159 944 868 (hereafter referred to as
  %span.font-bold.font-italic PetHomeStay, we, us,
  or
  %span.font-bold.font-italic our
  ) provides an online platform that connects pet owners with pet lovers who wish to accommodate pets and/or offer other pet related services. We maintain the PetHomeStay.com to facilitate the third party providers offering the Services.  To protect Hosts from certain liability which may arise when accommodating a pet, we also provide specific public liability and errors and omissions insurance in respect of Services arranged through the Site.  To allow us to provide the Site and Insurance Services we charge a small fee on each transaction between each Host and Owner (
  %span.font-bold.font-italic Fee
  ).
%p
  By accessing or using the Site You agree to comply with and be legally bound by the terms and conditions of these Terms of Service (
  %span.font-bold.font-italic Terms
  ), whether or not You register as a User. These Terms govern Your access to and use of the Site and all Content (defined below), and constitute a binding legal contract between You and PetHomeStay under which You agree to pay our Fee, and we agree to maintain the Site and provide the Insurance Services, in accordance with these Terms.

%p If You do not agree to these Terms, You have no right to obtain information from or otherwise continue using the Site and must not use the Site.
%p Each User agrees that, upon a Service being booked through the Site, a binding legal contract is created between each Owner and Host, key terms of which contract include the following:

%ul
  %li each Owner agrees to pay such amounts as payable in respect of each Host’s provision of Services; and
  %li each Host agrees to provide the Services,
%p in accordance with the booking and these Terms.

%p The Site and Services are solely for persons who are 18 or older. Any access to or use of the Site or Services by anyone under 18 is expressly prohibited. By accessing or using the Site You represent and warrant that You are 18 or older.
%p You agree that we may modify the Terms and such modifications shall be effective immediately upon posting.  You agree to review these Terms periodically to be aware of modifications.  Continued access or use of the Site shall be deemed conclusive evidence of Your acceptance of the modified Terms.
%p.font-bold.font-underline THE SITE AND SERVICES COMPRISE AN ONLINE PLATFORM THROUGH WHICH HOSTS MAY CREATE LISTINGS FOR SERVICES, AND OWNERS MAY FIND AND INITIATE CONTACT TO UTILISE SERVICES. YOU ACKNOWLEDGE AND AGREE THAT PETHOMESTAY IS NOT A PARTY TO ANY ARRANGEMENTS BETWEEN PROVIDERS AND OWNERS. PETHOMESTAY HAS NO CONTROL OVER, AND IS NOT RESPONSIBLE FOR, THE ACTS OR OMISSIONS OFHOSTS, OWNERS, PETS, OR ANY OTHER USERS OF THE SITE OR SERVICES. AND TO THE MAXIMUM EXTENT PERMITED AT LAW DISCLAIMS ALL LIABILITY IN THIS REGARD.

%p.font-bold.font-underline Compliance with laws
%p You must comply with all applicable local, state, national and international laws when accessing or using the Site or providing or using Services. It is also Your obligation to comply with all applicable tax laws and regulations that apply to Your activity on the Site, including payment of tax on any amounts collected for the provision of Services.

%p Without limiting the applicable laws referred to in the preceding paragraph, You must comply with any applicable laws relating to the boarding of animals and the keeping of animals at private residences, including local council by-laws and applicable state and federal companion animal legislation.

%p.font-bold.font-underline How it works
%p Hosts may create listings, and will be required to provide detailed information about the Host’s accommodation and any pets and a nominated bank account.  Each Host may set the pricing and terms for the Services offered, within the parameters permitted by the Site.

%p Owners may request Services through the Site by responding to Providers’ listings.

%p Hosts may charge Owners fees for providing Services as specified on the Host’s profile.

%p Each Host must provide such Services, and each Owner must pay such fees.

%p Whilst PetHomeStay facilitates the initial contact between Owners and Hosts, and also provides the Payment Gateway and Insurance Services as set out in these Terms, it plays no role in the arrangements between Owners and Hosts in respect of provision of Services.  Owners and Hosts are solely responsible for such arrangements.  If a Host charges a fee, the Owner must, at the time each transaction is booked through the Site pay such fee using the Payment Gateway.  Subject to (i) no issue arising during the Withholding Period, and (ii) our receipt of the fee payable to the Host, and subject to these Terms, we will transfer the fee to the bank account nominated in respect of the Host’s Account. Payouts are made once per week to the nominated Host account.

%p Each Host acknowledges that, whilst these Terms require each Owner to submit any complaint or request for refund before the end of the Withholding Period, an Owner may be legally entitled to submit a request after that time.  If we receive, and favourably consider, a request submitted after the end of the Withholding Period, the Host must pay to us such amount as we require to satisfy such a request.

%p.font-underline Our Fee

%p PetHomeStay does not charge any fees for registering on the Site, nor for allowing Users to meet and get to know each other through the Site.
%p However, in consideration for us providing the Site and Insurance Services, we charge each a Fee for each Service booked through the Site.  The Fee is levied on each transaction booked through the Site.  It is deducted from the amount payable to the Host and is not additional to the Host fee specified on the Site.  At the date of these Terms, the Fee (inclusive of GST) is:
%ul
  %li 15% of the total value (including GST) of the transaction; and
  %li $2.00 per night booked.

%p At this stage, we do not charge any fee for bookings made by Users outside the Site, nor do we charge our Fee if a Host does not charge for its Services.  However, the Insurance Services do not apply to bookings made outside the Site. Also, we also reserve the right, at our discretion, to cancel the registration of, and/or post feedback in respect of, any User we consider to be making bookings outside the Site with other Users, or where we consider that payment is being made outside the Site for free bookings made through the Site.

%p Changes to any Fee are effective after we post them on the Site.  Unless otherwise stated, all Fees are quoted, and must be paid, in Australian Dollars.  Each Owner is responsible for paying all Fees and applicable taxes and currency and credit card charges (see below) in a timely manner with a valid payment method acceptable to us.


%p.font-underline Credit cards
%p Any credit card details submitted to the Site by a User are submitted on the conditions that:

%ul
  %li those details may be retained by our Payment Gateway provider in accordance with its then current policies;
  %li the User authorises our Payment Gateway provider to, on our request, charge to such card as due and without further notice to the User, our Fee and any other amounts due by that Owner to us or the Host (including Third Party Providers in respect of Medical Issues set out below); and
  %li any costs and expenses which we incur in connection with such card (including medical expenses, merchant, dishonour and overdrawing fees and interest) are payable by the User on demand.

%p A further amount of 2.5% (inclusive of GST) is charged on each credit card transaction.

%p.font-underline.font-bold Cancellations and Refunds
%p PetHomeStay automatically provides the following 7 day and 14 day cancellation options and each Host and Owner accepts these options as a condition of accepting any booking.
%p Should an Owner cancel a booking, PetHomeStay will charge the applicable PetHomeStay service fee & insurance fee for the booking, and refund the balance of the payment to an Owners nominated bank account, as follows:-

%ol.list-roman-blue
  %li 100% refund if cancelled more than 14 days before commencement of booking;
  %li 50% refund if cancelled more than 7, and less than 14, days before commencement of booking; and
  %li no refund if cancelled less than 7 days before commencement of booking.

%p
  An Owner
  %span.font-underline must
  notify us in writing at support@pethomestay.com in order to cancel a booking and effect a refund. PetHomeStay will refund to an Owners nominated bank account.
%p In special cases we will endeavour to assist an Owner to negotiate more favourable cancelation terms with a Host.  However, we have no obligation to effect such terms.  Where a Host accepts more favourable cancelation terms, we may, at our discretion, refund any Fee received by us in respect of such booking in similarly favourable terms.
%p If an Owner is not satisfied with Services provided by a Host, the Owner must notify us in writing to support@pethomestay.com within 48 hours of the conclusion of the Services, formally detailing the reasons for the dissatisfaction and setting out their requested redress (eg refund, free nights etc).  The Owner acknowledges that we may post this information as feedback in respect of the Owner and/or the Host at our discretion.

%p We will consider the complaint in good faith and if we consider that it has merit we will discuss it with the Host and endeavour to negotiate a resolution.  However, we have no obligation to effect any resolution.  If we or the Host agree to any refund, the Host agrees to pay to us such amount in accordance with its agreement and we will pay such refund into the Owner’s nominated bank account upon receiving any component payable by the Host.
%p Please note that we will only consider one initial complaint involving an Owner and a Host, and expect that after such complaint, that Owner and Host would not make any further bookings with each other.

%p Each Owner acknowledges that we are obliged under these Terms to remit to a Host, at the end of the Withholding Period, any fees collected by us in respect of Services provided by that Host (other than our Fee and credit card charges).  Accordingly any complaint or request for refund must be submitted before the end of the Withholding Period.
%p
  We advise as part of our
  = link_to 'House Rules', house_rules_url
  (www.pethomestay.com/house-rules), that a first-time booking between each Owner and Host, the Owner and Host should meet in person to introduce the Owner’s pet to the Host and the Host’s location and pets (if any). This should take place before the specified cancellation policy deadline, so that the booking can be cancelled if necessary.
%p Each Host also acknowledges that Services it provides may be subject to certain statutory guarantees under the Australian Consumer Law (including such State or Territory version as applicable in any jurisdiction in which such Services are provided).  Nothing in these terms will operate to exclude or limit the operation of those guarantees in any manner contrary to law.
%p.font-underline.font-bold Medical Issues
%p The emergency information (including contact information) contained in the Owner’s Profile will be automatically sent to the Host on request of a Service.  Each Owner acknowledges that the Host will rely on that information if it becomes necessary to contact the Owner and/or seek medical assistance for the pet, and accordingly agrees to keep such information current at all times.
%p Each Owner agrees that, if any situation arises where Host reasonably considers that the Owner’s pet requires veterinary care while in the Host’s care or custody, the Host will, where it is practicable to do so, endeavour to contact the Owner to obtain instructions on whether to seek medical assistance and if so, of what nature and may consult with the Host’s veterinary surgeon (or the surgeon nominated on the Owner’s Profile) and take all reasonable action as recommended by such vet.  If an Owner’s Profile refers to his/her own insurance and/or emergency procedures (Owner Arrangements), the Owner Arrangements will take precedence (unless agreed in writing to the contrary between the Host and Owner).  Subject to the preceding sentence, each Owner acknowledges that each Host has discretion to seek such assistance as the Host, acting in good faith, considers reasonably appropriate, including without contacting the Owner.  Each Owner agrees to:
%ul
  %li
    reimburse any reasonable expenses incurred by the Host in doing so, subject to any limit nominated on the Owner’s Profile or otherwise agreed in writing between the Host and Owner (
    %span.font-italic.font-bold Owner Limit
    );
  %li indemnify the Host and us and any person acting with the authority of the Host or us, from and against any and all liability which may arise in connection with such assistance; and
  %li release and hold harmless the Host and us and any person acting with the authority of the Host or us, from and against any and all liability which may arise from failing to provide such assistance where doing so would contravene any applicable Owner Arrangements exceed any applicable Owner Limit.
%p Each Owner authorises the Payment Gateway provider to, on our request, charge any such expenses, and any amount which we consider to be the subject of such indemnity, against any credit card details held on file in respect of the Owner.
%p.font-bold.font-underline Use of the Site
%p.font-underline.font-color-blue You must not do any of the following, and You acknowledge that failure to so comply may result in Your Account or access to all or part of the Site being cancelled, suspended or terminated.  You also acknowledge that such conduct may infringe local, state, national and international law, and subject You to civil liability and criminal prosecution.
%ul
  %li Modify, or mirror any Content on the Site, other than in the course of updating Your profile in good faith.
  %li Access or use the Site for commercial purposes or in a way that is intended to harm, or a reasonable person would understand would likely result in harm, to any person.
  %li Circumvent any measures aimed at preventing unauthorised use of the Site, or to avoid payment of any amounts due in accordance with these Terms.
  %li Use the Site for any purpose in violation of local, state, national or international laws, including any use of any Content contained on the Site in any manner that may contravene any applicable laws and regulations (including laws relating to copyright, trademark, privacy, confidentiality or telecommunications) or in any manner which may infringe the rights of any person.
  %li Collect information about the Site or Users or monitor all or part of the Site or any Content contained on the Site (whether manually or by automated means such as deep-linking, crawling, indexing, page-scraping or other automatic device, program, algorithm or methodology);
  %li Post any untrue, misleading, defamatory, malicious or otherwise inappropriate Content on or to the Site;
  %li Disguise the origin of information transmitted to, from, or through the Site.
  %li Impersonate another person or entity or allow any other person or entity to impersonate You or access Your Account;
  %li Distribute viruses or other harmful computer code;
%p PetHomeStay expressly reserves the right, in its sole discretion, to cancel, suspend or terminate a User’s Account or access to all or part of the Site for failure to comply with these Terms. PetHomeStay also expressly reserves the right to remove any User-generated Content we consider, in our sole discretion, inappropriate.
%p.font-underline.font-bold Feedback
%p Each User agrees, in order to create a fair and impartial record of PetHomeStay service provision, to use the PetHomeStay feedback system to place fair and impartial feedback after using Services, including:
%ul
  %li if an Owner, feedback on each Host; and
  %li if a Host, feedback on each Owner (and the Owner’s pet).
%p Failure to do so may result in Your registration or access to all or part of the Site being suspended or terminated, at our discretion.
%p Users are also encouraged to add reviews of other Services which they have used or provided in the past.
%p.font-underline.font-bold Links to Third Party Websites
%p The Site may contain links or have references to websites controlled by parties other than PetHomeStay. PetHomeStay provides these links as a convenience and, except as expressly stated otherwise on the Site, and to the maximum extent permitted at law, PetHomeStay is not responsible for and does not endorse, or accept any responsibility for, the contents or use of these third party websites. . A User must take precautions to ensure that each such site is free of viruses and other harmful components.
%p.font-underline.font-bold INSURANCE & RISK MANAGEMENT
%p.font-underline.font-bold Insurance Services
%p PetHomeStay has arranged public liability insurance and errors and omissions insurance in respect of bookings made through the Site.
%p The Insurance Services cover the following risks but are subject to certain limits and conditions (including those set out below), with more details available at https://www.pethomestay.com/insurance.
%p All claims are subject to the applicable policies as administered by relevant underwriters.
%ul
  %li
    %span.font-bold Public Liability
    %span.font-italic covering the Host’s legal liability for injury to third persons, and for damage to property of third persons, caused by an animal under the Host’s care or custody.
    The limit of Indemnity provided for Public Liability Insurance is $10,000,000 for any one claim and in the aggregate.
  %li
    %span.font-bold Errors and Omissions
    %span.font-italic covers its members against the provision of negligent Professional Services during a Host stay. This would arise from the failure to perform professional services as a Host, including but not limited to, administering an incorrect measure of medication, or the incorrect medication to the animal during a PetHost stay and related to professional care.
    The limit of Indemnity provided under Errors and Omissions is subject to a maximum indemnity of $1,000,000 for any one claim and in the aggregate.
%p
  Please note that the Insurance Services
  %span.font-underline do not
  cover the Host’s for at-fault liability, nor the following.
%ul
  %li Liability arising out of any products sold or supplied
  %li Breach of professional duty
  %li Host’s property or medical expenses
  %li Pre-existing veterinary conditions, illness or old age
%p Please note that the Insurance Services only apply in respect of bookings made through the Site and do not apply where a User has not complied strictly with these Terms.
%p This Insurance Protection is void in any jurisdiction where prohibited.
%p PetHomeStay shall, in the exercise of its good faith discretion, determine whether the User has satisfied the requirements set out in these Terms and whether to allow any claim. The Insurance Services will only apply the extent the User is unable to, or denied any, claim under any other insurance policy the User may have. The Use must promptly comply with any request made by PetHomeStay for information regarding any claim made under the Insurance Services, including information regarding any other insurance policy the User may have. The Insurance Services do not provide any additional rights or claims to Users and do not absolve Hosts of any liability or create any rights or claims of any nature for Users against PetHomeStay.  Users agree they are not a third-party beneficiary of any Insurance Services and they have no right to assert any contribution, offset, or indemnification from PetHomeStay with respect to any liability of a User for personal injury or property damage.
%p.font-bold.font-underline Risk Management
%p Each User acknowledges that home pet boarding is not appropriate for all pets.  Each User acknowledges that it is the Owner’s sole responsibility to determine if PetHomeStay Services are suitable for its pet and to select a suitable Host.  While a Host’s User rating may include positive comments, PetHomeStay makes no representations or warranties regarding the accuracy of such comments nor the quality, security or positive features of the Host or the Host’s residence.  PetHomeStay is not party to any agreement or transaction between each Owner and Host and, as such, cannot verify or otherwise authenticate any claims made by the Host or any aspect of the Host’s profile (including any medical certifications or insurance coverage held by the Provider).  When discussing and providing Services, each Owner and Host must make available to each other any and all relevant information, including medical issues, allergies or other conditions, about all relevant persons and animals that may be involved in the Services.
%p To the maximum extent permitted at law each User assumes, and PetHomeStay and its affiliates and Third Party Providers and their respective directors, officers or employees (collectively “PetHomeStay entities”) disclaim, all risk of any liability, loss or damage (including property damage, personal injury or death to any person or animal) which may arise in relation to the User’s use of the Site or the Services (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).  This disclaimer of liability, loss and damage shall apply even if the PetHomeStay entity has been advised, or should have knowledge, of the possibility of such liability, loss or damage.
%p Subject to the following paragraph, except where expressly provided otherwise on the Site, all Content and Services are provided “as is” and each PetHomeStay entity disclaims all express or implied representations, warranties, guarantees, and conditions (“guarantees”) in relation to the Site and Services, including such guarantees of safety, merchantability, fitness for a particular purpose, title, non-infringement, quality of goods and services, reliability, availability, timeliness, quality, suitability and accuracy, and any guarantee related to the quality of goods and/or services of Third Party Service Providers and any persons or businesses referred to on the Site, including such guarantees as may be implied by law.  Without limiting the generality of the foregoing, each PetHomeStay entity disclaims any guarantee that the operation or use of the Site or provision of the Services will be timely, secure, uninterrupted or free of errors, viruses or harmful components.  Each User acknowledges that none of the PetHomeStay entities controls the transfer of data over communications facilities, including the internet, and that the Site and Services may be subject to limitations, delays, and other problems inherent in the use of such communications facilities and no PetHomeStay entity is responsible for any delays, delivery failures, or other damage resulting from such problems.
%p Nothing in the preceding paragraph will operate to exclude any guarantee that may not be lawfully excluded.  To the extent that a guarantee implied by law may not be lawfully excluded, but liability for breach thereof may lawfully be limited, the liability of each PetHomeStay entity for breach of each such warranty is limited to one or more of the following (at the discretion of the relevant PetHomeStay entity) , and each User acknowledges that it is reasonable for us to limit liability in this way:
%ol.list-roman
  %li
    in the case of goods:
    %ol
      %li the replacement of the goods or the supply of equivalent goods;
      %li the repair of the goods;
      %li the payment of the cost of replacing the goods or of acquiring equivalent goods;
      %li the payment of the cost of having the goods repaired.
  %li
    in the case of services:
    %ol
      %li the supplying of the services again; or
      %li the payment of the cost of having the services supplied again.

%p To the maximum extent permitted at law, each PetHomeStay entity disclaims all liability for any indirect, incidental, special or consequential damages which may arise in relation to the use of the Site or the Services (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).
%p To the maximum extent permitted at law, each User assumes, on behalf of itself and all third parties (including minors) who may be exposed to any animal in connection with any use of the Site or the Services by it, all risk of liability, loss or damage (including property damage, personal injury or death to any person or animal) which may arise in relation to the use of the Site or the Services (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise). Without limiting the foregoing, each User acknowledges the risks arising from boarding an animal that may not be accustomed to any persons (including minors) or property to whom such animal may be exposed.
%p.font-bold.font-underline User indemnity
%p Each User:
%ol.list-roman
  %li indemnifies and must keep indemnified each PetHomeStay entity against; and
  %li on its own behalf and on behalf of any and all third parties (including minors) who may be exposed to any animal in connection with any use of the Site or the Services, and all personal representatives, successors, heirs, and assigns of any of the foregoing, releases and discharges each PetHomeStay entity against from,

%p any and all claims, costs, damages, losses, liabilities and expenses (including lawyers’ fees and costs) in respect of any liability, loss or damage (including property damage, personal injury or death to any person or animal) which may arise in relation to the use of the Site or the Services by such User (whether arising in tort (including negligence), breach of contract, breach of statutory duty or otherwise).

%p.font-bold.font-underline Termination and Account Cancellation
%p We may at any time, in our sole discretion with or without cause and without prior notice or liability to You: (a) terminate or suspend these Terms and Your access to our Site, and (b) cancel Your Account.  All provisions of these Terms relating to our proprietary rights, disclaimers, indemnities, and limitations of liability shall survive any such termination.  We may, at our discretion, provide notice of termination by regular mail or e-mail, but are not obliged to do so.  You may cancel Your Account at any time by contacting us via the “Contact Us” link on the Site. You are personally liable for any orders, listings or pending transactions that Your place or charges that You incur before any termination or cancellation.  If Your Account is terminated or cancelled, we do not have an obligation to delete or return to you any Content You have posted to the Site.
%p.font-bold.font-underline Intellectual Property Rights
%p All Content is protected by international copyright and trademark laws and all rights in Content are owned by PetHomeStay, or its affiliates or Third Party Providers. Except as expressly stated in these Terms, Content must not, without the prior express written permission of PetHomeStay be modified, copied, printed, reproduced, distributed, republished, performed, downloaded, displayed, posted, transmitted and/or otherwise used in any form or by any means, including electronic, mechanical, photocopying, recording, or other means nor “mirrored” or “archived”.
%p In consideration for us allowing You to post User generated Content to the Site, You (a) assign to us, effective on posting, all rights You may have in such Content; (b) consent to us doing anything in relation to such Content which, but for such consent, would infringe any moral rights You may have in such Content; and (c) warrant that (i) You have the right to post such Content, and (ii) such posting, and exercise of any rights in such Content by us or any person authorised by us, will not infringe any laws or any rights of any other person.
%p PETHOMESTAY and the Izzy&Cooper logo are trade marks of PetHomeStay Pty Ltd.
%p.font-bold.font-underline Information at the Website, Personal Information and Confidentiality
%p Although PetHomeStay attempts to maintain the integrity and accuracy of the information on the Site, and endeavours to moderate User-generated Content (including User ratings), we make no guarantees as to its correctness, completeness, or accuracy.  The Site may contain errors and inaccuracies, or omissions.  Also, Users or other persons may add Content, or make unauthorised alterations, to the Site without our knowledge or consent.  To the maximum extent permitted at law we disclaim all liability for any unauthorised alterations.  If You believe that information found on the Site is inaccurate, incomplete or unauthorized, please inform us via the “Contact Us” link on the Site.
%p Any personal information You submit to the Site is governed by the Privacy Policy (https://www.pethomestay.com/privacy-policy/), save that credit card details are held in accordance with the then current policies of our Payment Gateway provider.  This Privacy Policy encompasses any and all information You may provide to the Site as a User or to receive further information, updates and promotions about or related to the Site.
%p Without limiting the foregoing, each Host acknowledges that the Site may provide its address on a map available to the public, but PetHomeStay will endeavour to do so in a way which limits zooming-in and also reduces the resolution to a distance of approximately 100 metres.
%p You are responsible for maintaining the confidentiality of Your Account information and password and for restricting access to Your Account and such information. You are responsible for all activities that occur on Your Account or otherwise through use of Your password.
%p.font-bold.font-underline Photo Updates
%p As part of the Services PetHomeStay occasionally shares User generated Content (including photos) with Users and the public. You agree that PetHomeStay may, at its sole discretion, publish such Content on the Site and across social media including Facebook, Twitter, Pinterest, and similar sites. Hosts must, on reasonable request by the Owner and PetHomeStay, provide photo updates to via mobile pictures, email, or public sites.  Failure to do say may result in Your Account or access to all or part of the Site being cancelled, suspended or terminated.
%p.font-bold.font-underline Miscellaneous
%p These Terms (together with the Privacy Policy and House Rules) represent the entire understanding relating to the use of the Site and (save for each agreement entered directly between each Owner and Host) any Services provided in connection with such use and supersede any prior or contemporaneous, conflicting or additional, understandings. PetHomeStay reserves the right to change these Terms or policies relating to the Site at any time and from time to time, and such changes will be effective upon being posted on the Site. You agree to visit this page from time to time to review the then current Terms because they are binding on You.  Certain provisions of these Terms may be superseded by expressly designated legal notices or terms located on particular pages of the Site, which may be posted from time to time.  Your continued use of the Site after any such postings shall constitute Your consent to such changes.
%p These Terms will be governed by the laws of Victoria Australia, without regard to its conflict-of-law provisions.  All Users submit to the exclusive jurisdiction of the courts of that State for all matters relating to these Terms or the Site.
%p You may not assign any of Your rights or obligations under these Terms without the prior written approval of PetHomeStay.  Any purported assignment in violation of this section shall be void.  PetHomeStay may assign or novate any or all of our rights or obligations under these Terms without Your consent or notice to You and You agree not to object on any ground to, and at Your cost to sign such documents and do such things as necessary to give effect to, any such assignment or novation.  Any and all rights not expressly granted herein are reserved by PetHomeStay.
%p If any provision of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be severed to the extent necessary to address such invalidity or unenforceability, with all other provisions remaining in full force and effect.
%p.font-bold.font-underline  Interpretation
%p In these Terms:
%p “Account” means a discrete record of information created when a person completes the registration process on the Site;
%p “Content” means text, graphics, images, music, software, audio, video, information, documents, compilations, data or other materials;
%p “Fee” means the fee charged by, and payable to, PetHomeStay on each transaction between each Host and Owner to allow PetHomeStay to provide the Site and Insurance Services;
%p “Host” means a User who creates a PetHomeStay listing on the Site offering to provide a Service;
%p “Insurance Services” means the specific public liability insurance and errors and omissions insurance which PetHomeStay has arranged to protect Hosts from certain liability which may arise when providing Services, as outlined in these Terms and at https://www.pethomestay.com/insurance;
%p “Owner” means a User who completes a Pet Profile with the intent of using a PetHomeStay listing;
%p “Payment Gateway” means the payment gateway provided on the Site for receiving payments for bookings made through the Site;
%p “Profile” means that part of an Account which is generally visible to Users;
%p “Provider” means either or both (as the context requires) Hosts and Owners;
%p “Service” means any services offered on the Site via a listing, including but not limited to home pet boarding, pet-sitting, pet walking, pet training, and pet day care, grooming etc;
%p “Site” means the PetHomestay.com website, related mobile applications or subsites;
%p “Third Party Providers” means third parties who may provide services to PetHomeStay or any User (including providers of medical or other services in respect of a pet);
%p “User” means a person who opens an Account;
%p “Withholding Period” means the 48 hours commencing after the Host has completed provision of the Services;
%p “You” means a person who accesses or uses the Site, whether or not as a User, Host, Owner or Provider; and
%p the following rules of construction apply.
%ol
  %li Headings are for convenience only, and do not affect interpretation.
  %li The singular includes the plural and vice versa and a gender includes all other genders;
  %li If a word or phrase is defined its other grammatical forms have the corresponding meaning;
  %li The words includes and including are not words of limitation.
  %li
    A reference to:
    %ol.list-roman
      %li a person includes a partnership, joint venture, unincorporated association, corporation and a government or statutory body or authority;
      %li a person includes the person’s legal personal representatives, successors, assigns and persons substituted by novation;
      %li any legislation includes subordinate legislation under it and includes that legislation and subordinate legislation as modified or replaced;
      %li this or any other document includes the document as varied; and
      %li
        %span.font-bold.font-italic writing
        includes any mode of representing or reproducing words in tangible and permanently visible form, and includes fax transmissions.
%p.font-bold.font-underline Change History
%p November 21st 2012 – Changed age of people able to use the site to 18. Changed the Waiver for people with Children under the age of 18
%p December 3rd 2012 – Significant update to be more specific to Victorian Law in Australia.
%p January 31st 2014 – Significant update to incorporate payment gateway and public liability insurance cover.
