.page-header.tc
  %h1 Welcome to PetHomeStay!
.row
  .span6
    %h2 I want to find pet care
    %p To start finding great, local and trustworthy pet sitters: the first step is to enter some basic details about your pet!
    .form-actions
      = link_to "Add your pet's details now", new_pet_path, class: 'btn btn-large btn-primary'
  .span6
    %h2 I want to look after pets
    %p It couldn't be easier to be put in touch with pet owners. Just give us some basic details and we'll create an awesome listings page.
    .form-actions
      = link_to "Start building your listing now", new_homestay_path, class: 'btn btn-large btn-primary'
