%h1 Why join PetHomeStay?
%p  
%p Joining PetHomeStay offers some great benefits to Pet Owners, PetHomeStay Hosts, and not least of all the pets!
%h2
  %span{:style => "color: #d86717;"}
    Good for Pet Owners
    =image_tag 'why_join_1.jpg', height: '240', width: '240', style: "float: right; margin-left: 10px; margin-top: 5px;"
%ul
  %li Local – its fast, easy and convienient to have someone right near you helping out with your pet
  %li
    Give & Take – someone is there for
    %em you,
    when you need help to look after your pet.
  %li Trusted – our feedback system means that the whole community of pet lovers rates each and every experience to build trust
  %li Affordable – some people might look after your pet for FREE! and with low paid rates per night, it’s often cheaper than other forms of pet care.
  %li Personal – give your pet the one-on-one attention it deserves in a real loving home!
  %li Tailored – the profiles ensure that you can find the right PetHomeStay for your pet, whatever their quirks, breed or size.
%div{:style => "margin-top: 20px; margin-bottom: 20px;"}
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Join now to find great sitters
%p
  =image_tag 'why_join_2.jpg', height: '329', width: '240', title: 'boston terrier', style: "float: right; margin-left: 10px; margin-top: 5px;"
%h2
  %span{:style => "color: #d86717;"} Good for PetHomeStay Hosts
%ul
  %li
    Community – help  other people in your
    %a{:href => "https://www.pethomestay.com/what-is/", :target => "_blank", :title => "PetHomeStay – A Social Local Community"} community
    with their pets, and build friends and relationships.
  %li
    Give & Take – someone is there for
    %em you,
    when you need help to look after your pet.
  %li Love pets – get paid for doing more of what you love doing!
  %li Flexibility – you choose when and which pets to look after
  %li Socialisation – if you already have a pet,  this is a great way to socialise them with other pets in your own home
  %li Free – its free to list and PetHomeStay charges no commission
  %li No effort – simply click below to list your PetHomeStay online and wait for people to request availability!
%div{:style => "margin-top: 20px; margin-bottom: 20px;"}
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Create an awesome free listing
%h2
  %span{:style => "color: #d86717;"}
    %strong
      %span{:style => "text-decoration: underline;"}
        %em Great
      for Pets
%ul
  %li One-on-one attention – with pet lovers just like you!
  %li Socialisation – make new friends and meet other pets
  %li Calmer & Happier – less isolation means happier social pets
  %li Close-to-home – stay in a neighbourhood that you and your pet know (or even stay in your own home!)
  %li Unique care – every PetHomeStay is different, so you can get just the right one for your pet
  %li No cages – forget being put into a chilly damp cage – get the spot by the fire in a real home!
