.dropdown {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid silver;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 120px;
  $dropdown-item-height:40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 56px;
  $dropdown-arrow-top-distance: 0;
  position: relative;

  .dropdown-button{
    margin:0;
    padding:0;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background: $dropdown-background;
    border-radius: $base-border-radius;
    border: $dropdown-border;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    width: 228px;
    z-index: 99999;

  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    font-family: Gotham-Medium;
    font-size: 14px;
    color: #000000;
    list-style: none;
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}
// Inspired by code by www.HUSAMUI.com
