$darkgrey:   			#3C383F;
$lightgrey:  			#F1F1F1;
$orange:     			#F18168;
$first_nav_height:		56px;
$second_nav_height:		40px;
$welcome_bar_height:	140px;
$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(max-width 1400px);

