.pull-right{float:right;}
.pull-left{float:left;}
.text-right{text-align: right;}


.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }


$base-space-unit: 1em;

.pad-all{}
.pad-no{ padding:0;}
.pad-lft{}
.pad-rgt{}
.pad-top{}
.pad-btm{}
.pad-hor{padding-top:10px;padding-bottom:10px;}
.pad-ver{}

.margin-all{}
.margin-no{ padding:0;}
.margin-lft{}
.margin-rgt{}
.margin-top{}
.margin-btm{}
.margin-hor{margin-top:10px;margin-bottom:10px;}
.margin-ver{margin-left:10px;margin-right:10px;}

@mixin border-all($color, $weight){border:solid $weight $color;}
@mixin border-bottom($color, $weight){border-bottom:solid $weight $color;}



