// layout css with bourbon and neat

$darkgrey:   			#3C383F;
$lightgrey:  			#F1F1F1;
$orange:     			#F18168;
$first_nav_height:		56px;
$second_nav_height:		40px;
$welcome_bar_height:	140px;

@import "bourbon";
@import "neat";
@import "helper";
@import "primary_nav";
@import "footer";
@import "ionicons/ionicons-variables";
@import "ionicons/ionicons-font";
@import "ionicons/ionicons-icons";




body > *{
	padding:0 10% 0 10%;
	width:100%;
}

body{
	margin:0;
	min-height:100vh;
	background-color: $lightgrey;

	/*will remove to seperate file*/

	>.second-nav{
		height: $second_nav_height;
	}
	>.welcome-bar{
		height: $welcome_bar_height;
		background-color: $orange;
	}
	>.body-container{
		min-height:40vh;
	}
	>.footer{
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 70px;
		background-color: $darkgrey;
	}
}



