development:
  adapter: postgresql
  database: pet_homestay_development
  pool: 5
  timeout: 5000
  host: localhost

test:
  adapter: postgresql
  database: pet_homestay_test
  pool: 5
  timeout: 5000
  host: localhost

production:
  adapter: postgresql
  database: pet_homestay
  pool: 5
  timeout: 5000
  host: localhost
