/* right area of primary nav bar*/

.customer-center > h1{
	/* Give $10, Get $10: */
	float:right;
	font-family: Ubuntu;
	font-size: 18px;
	color: #FFFFFF;

	
	&.-coupon{
		border-bottom: 1px solid #FFFFFF;
		margin-left:15px;
		margin-right:15px;
	}
	&.-notification{
		margin:0;
		padding:14px;
		font-size: 26px;
	}
	&.-profile{
		margin:0;
		height:100%;
		@include fit-parent($first_nav_height);
	}
}


h1.-profile > .dropdown-button >  * {float:left;}
h1.-profile {
	 .avatar {margin:11px;}
	 .username{margin-right:10px;}
}


.-notification .dropdown-menu{
	width:300px;
	li{
		line-height: 90px;
		text-align: center;
	}	
}

.-profile .dropdown-menu{
	width:130px;
	li{
		line-height: 40px;
		text-align: right;
	}	
}






