/* right area of primary nav bar*/

.customer-center > h1{
	/* Give $10, Get $10: */
	float:right;
	font-family: Ubuntu;
	font-size: 18px;
	color: #FFFFFF;

	&.-coupon{
		border-bottom: 1px solid #FFFFFF;
		margin-left:15px;
		margin-right:15px;
	}
	&.-notification{
		margin:0;
		padding:14px;
		font-size: 26px;
	}
	&.-profile{
		margin:0;
		height:100%;
		@include fit-parent($first_nav_height);
	}
}



.-notification > .dropdown-button {
	width:100%;
	height:100%;
	position:relative;
	> .number{
    position: absolute;
    top: 10px; left: 8px; bottom: 10px;right:8px;
		color: #FFFFFF;
		font-size: 8px;
	}
	>i{
		color:#EC5D3C;
	}
}

.-notification .dropdown-menu{
	width:300px;
	li{
		line-height: 90px;
		text-align: center;
	}	
}


h1.-profile > .dropdown-button >  * {float:left;}
h1.-profile {
	 .avatar {margin:11px;}
	 .username{margin-right:10px;}
}

.-profile .dropdown-menu{
	width:130px;
	li{
		line-height: 40px;
		text-align: right;
	}	
}






