= link_to 'New Enquiry', new_admin_enquiry_path, class: 'btn btn-primary pull-right'
%h1 Listing Enquiries
%table.table.tablesorter
  %thead
    %tr
      %th From (Guest)
      %th To (Host)
      %th Created
      %th Actions
  %tbody
    - @enquiries.each do |enquiry|
      %tr
        - guest = enquiry.user
        %td= link_to guest.name, admin_user_path(guest)
        - host = enquiry.homestay.user
        %td= link_to host.name, admin_user_path(host)
        %td= enquiry.created_at.to_formatted_s(:year_month_day)
        %td
          =link_to 'Show', admin_enquiry_path(enquiry)
          =link_to 'Edit', edit_admin_enquiry_path(enquiry)
          =link_to 'Destroy', admin_enquiry_path(enquiry), :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(document).ready(function(){
    $('table.tablesorter').tablesorter({headers:{3:{sorter:false}}});
  });
