Brilliant!
You have found and confirmed a PetHomeStay service near you! 

Here is all of the contact details we have for (provider first name) so you have a record. 

The next step is for you to handover your pet to the provider at the agreed place and time. Don’t forget to follow the House Rules.

When you handover your pet, make sure you :-
  Review pick up times & dates
  Review Emergency & contact details
  Payment for the service as agreed
  Bring food for your pet (owners provides this!)
  Bring a favourite toy or bedding so they feel at home
  Any special instructions such as feeding or walking. 

Pet Provider details


Thanks and don’t forget to leave feedback via PetHomeStay on the provider!
The PetHomeStay Team
