Hi (first name)
Sorry, but this provider is unavailable on the dates you have requested, although they would be happy to be asked again later!

(provider first name)
(Listing title)
(Date)

Try asking another couple of providers, or expanding your search to a wider area.

Good Luck!
The PetHomeStay Team
