.span3.fixed
  = form_for @search, html: {class: "well"} do |f|
    = f.label :location
    = f.text_field :location, placeholder: "Wellington", class: "span2"
    %label Your pet prefers to...
    - options = options_for_select [['Sleep over', 'hotel'], ['Stay at home', 'sitter']]
    = f.select :provider_type, options, {}, class: 'span2'
    %button.btn{type: "submit"} Submit
