.row
  = render partial: 'search_box'
  .span9.offset3
    %table.table.table-bordered.table-striped
      %tbody
        - @providers.each do |provider|
          = render partial: 'result_row', locals: {provider: provider}
    = will_paginate @providers, class: 'pagination pagination-centered'
