%h1 Listing Homestays
%table.table.tablesorter
  %thead
    %tr
      %th Title
      %th Suburb
      %th Created
      %th Actions
  %tbody
    - @homestays.each do |homestay|
      %tr
        %td= link_to homestay.title, admin_homestay_path(homestay)
        %td= homestay.address_suburb
        %td= homestay.created_at.to_formatted_s(:year_month_day)
        %td
          =link_to 'Edit', edit_admin_homestay_path(homestay)
          =link_to 'Destroy', admin_homestay_path(homestay), :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(document).ready(function(){
    $('table.tablesorter').tablesorter({headers:{3:{sorter:false}}});
  });
