.top-margin {
	margin-top: 20px;
}

dl.enquiry {
  dt, dd {
    margin-top: 10px;
  }
}

.completed {
  color: green;
}

.admin-container-phs {
  width: 999px !important;
}

.admin-nav-phs {
  width: 100%;
}

.table-header-text {
  text-align: center !important;
  font-size: large;
  font-weight: bold;
}

.table-row-bold-text {
  font-weight: bold;
}

.stored-card-color {
  color: #53AB75;
}

.stored-card-color-background {
  background-color: #53AB75;
  color: #fafcfc;
}

.credit-card-color {
  color: #E25240;
}

.credit-card-color-background {
  background-color: #E25240;
  color: #fafcfc;
}

.trans-btn {
  margin-top: 2px;
  margin-bottom: 2px;
}
