#update-calendar{
  padding-bottom: 5px;
  color:#888;
  margin-left: 120px;
  font-family: sans-serif;
}

#update-calendar .btn {
  margin-right: 130px;
  padding-top: 6px;
  margin-bottom: 5px;
}

#update-calendar span{
  margin-top: 8px;
}
