#update-calendar{
  padding-bottom: 5px;
  color:#888;
  margin-left: 120px;
}

#update-calendar .btn {
  margin-right: 190px; 
  padding-top: 6px;
  margin-bottom: 5px;
  color:#888;
}

#update-calendar span{
  margin-top: 8px;
}
