.show-booking-history{
  padding-bottom: 90px;
}

.show-booking-history-guest{
  padding-bottom: 130px;
}

#booking_cancelled_booking {
  width: 400px;
}

#bookingtbl td {
  width: 100px;
}

#booking_cancel_reason {
  width: 500px !important;
}

ul.extra-line-height li {
  line-height: 200% !important;
}

label.error {
  margin-top: 10px;
  color: #df382c;
}

.check_in_error {
  display: block;
  margin-bottom: 10px;
  color: #df382c;
  margin-top: 5px;
  margin-left: 180px;
}

.enabled_datepicker input{
  cursor: default !important;
}

.selectable-unavailable-date {
  color: #eeeeee;
}
