@import 'dashboard/sub_nav';
@import 'dashboard/left_nav';
@import 'dashboard/right_panel';

.main-panel {
  padding: 20px;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
}

@media (min-width: $screen-sm-min) and (max-width: 1075px) {
  .right-panel .calendar-container {
    padding-left:  10px;
    padding-right: 10px;
  }
}
