@import 'dashboard/sub_nav';
@import 'dashboard/left_nav';
@import 'dashboard/main_panel';
@import 'dashboard/right_panel';

@media (max-width: $screen-xs-max) {
  .sub-nav {
    background-color: $blue-light;
  }
  .left-nav li {
    text-align: center;
  }
}

@media (min-width: $screen-sm-min) and (max-width: 1075px) {
  .right-panel .calendar-container {
    padding-left:  10px;
    padding-right: 10px;
  }
}
