$orange:       #ec5c3b;
$orange-light: #ef7458;

$blue:         #52b8b7;
$blue-light:   #5cc1c0;
$blue-lighter: #68d5d4;

$black-light:  #3c3835;
$grey:         #e5e5e5;
$grey-light:   #f2f2f2;
$grey-lighter: #f7f7f7;
