$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);

$orange:       #ec5c3b;
$orange-light: #ef7458;

$blue:         #52b8b7;
$blue-light:   #5cc1c0;
$blue-lighter: #68d5d4;

//$black:        #3c3835;
$black-light:  #3c3835;
$grey-dark:    #ababab;
$grey:         #e5e5e5;
$grey-light:   #f2f2f2;
$grey-lighter: #f7f7f7;

// Dashboard
$sub-nav-height: 86px;

// Overrides
.btn {
  border: none;
  color:  $grey-lighter;
  &:hover {
    color: $grey-lighter;
  }
  &.btn-primary {
    background-color: $orange;
    &:hover {
      background-color: $orange-light;
    }
  }
  &.btn-secondary {
    background-color: $blue-light;
    &:hover {
      background-color: $blue-lighter;
    }
  }
}
