$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);

$orange:       #ec5c3b;
$orange-light: #ef7458;

$blue:         #52b8b7;
$blue-light:   #5cc1c0;
$blue-lighter: #68d5d4;

$black:        #333333;
$black-light:  #3c3835;
$grey-dark:    #ababab;
$grey:         #e5e5e5;
$grey-light:   #f2f2f2;
$grey-lighter: #f7f7f7;

// Dashboard
$sub-nav-height: 86px;

// Overrides
.btn {
  &.btn-primary {
    background-color: $orange;
    color:  $grey-lighter;
    border: none;
    padding: 7px 12px; // Overwrites 6px 12px
    &:focus,
    &:hover {
      background-color: $orange-light;
      color: $grey-lighter;
    }
  }
  &.btn-secondary {
    background-color: $blue-light;
    color:  $grey-lighter;
    border: none;
    padding: 7px 12px; // Overwrites 6px 12px
    &:hover {
      background-color: $blue-lighter;
      color: $grey-lighter;
    }
  }
}

// Shared
.input-group-flat-left {
  .input-group-addon {
    background-color: #FFF;
    border-right: 0;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  input.form-control {
    background-color: #FFF;
    border-left: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.input-group-flat-right {
  .input-group-addon {
    background-color: #FFF;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  input.form-control {
    background-color: #FFF;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
