section.footer {
  background-color: rgb(60, 56, 53);
  color: #fff;
  padding-bottom: 30px;
  padding-top: 50px;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer .connect {
  margin-top: 20px;
}

section#join-our-amazing-community {
  background-color: #f7f7f7;
  color: #777;
  padding: 50px 0;

  h3 {
    margin: 0 0 16px;
  }

  h5 {
    font-weight: normal;
    margin: 4px 0 0;
  }

  form.search-form {
    margin-bottom: 14px;
    padding: 10px;

    .input-group {
      width: 100%;
    }

    .input-group-addon {
      min-width: auto;
    }

    input[type="email"] {
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      font-size: 14px;
      height: 30px;
    }

    button {
      font-size: 14px;
      height: 30px;
      padding: 5px;
      width: auto;
    }
  }
}


section.mailer{
    background-color: #f7f7f7;
    color: #777;
    padding-top: 20px;
    padding-bottom: 30px;

    a {
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
}