// Footer
section.footer {
    background-color: rgb(60, 56, 53);
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 30px;

    a {
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
}
.footer .connect {
    margin-top: 20px;
}


section.mailer{
    background-color: #f7f7f7;
    color: #777;
    padding-top: 20px;
    padding-bottom: 30px;

    a {
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
}