.grouped-checkboxes {
  margin-bottom:10px;
  .control-group {
    margin-bottom: 0;
  }
}
label.for-group{
  float:left;
  margin-left:26px;
}

input[type=file] {
  line-height: 16px;
  margin: 8px 0 -8px;
}

.form-button {
  display: inline;
  margin-right:10px;
}

.inline-checkbox {
  input {
    margin-top: -3px;
    margin-right: 8px;
  }
}

.specific {
  display:none;
}

.unactivated {
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}

.divider {
  border-left: 1px solid #ccc;
  margin-left: -20px;
  padding-left: 20px;
}

#user_date_of_birth_3i {
  width: 60px;
}

#user_date_of_birth_2i {
  width: 120px;
}

#user_date_of_birth_1i {
  width: 80px;
}

.btn.add-pet {
  margin-left: 160px;
}

.pet-half {
  padding-right: 40px;
  width: 420px;
}

.explain-dislikes textarea {
  width:240px;
}

.existing-pets {
  td {
    padding-bottom: 10px;
  }
  tr.errors .btn {
    color: red;
  }
  table {
    width: 100%;
    margin-bottom: -12px;
  }
  .name {
    width: 140px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
  }
}
