$secondary-text-color: #50a19e;
$search-field-height: 40px;

.search-alert {
  margin: 0 -15px 0 -15px;
  border-radius: 0px;
}

.search_item_container {
  border: 1px solid #ccc;
  padding-bottom: 5px;
  padding: 15px;
  background: #fff !important;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.35);
  box-shadow: 0 1px 6px rgba(0,0,0,.35);
} 

.first_name-sa {
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 0;
  margin: 0;
}

.stars-sa {
  color: #5cc1c0;
}

.homestay_highlights {
  font-size: 15.6px;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
}

.homestay_icons {
  color: #ec5c3b;
}
.homestay_icons_lg {
  color: #ec5c3b;
  margin-top:-20px;
}

.homestay_images_lg {
  margin-top:-43px !important;
}

.homestay_expand_desc_option {
  text-align: right;
  float:right;
}

.homestay_expand_desc_option:hover {
  color: #5cc1c0 !important;
  transition: all .5s ease-in-out !important;
}

.search_item_container:hover {
  border: 1px solid #5cc1c0;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.85);
  box-shadow: 0 1px 6px rgba(0,0,0,.85);
} 

.search_item_profile_picture {
  border: 1px solid #eee;
  padding: 0 !important;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

.search_item_profile_picture:hover {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.85);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.85);
  transition: all .5s ease-in-out;
}

.search_item_media_body {
  padding-left: 15px !important;
  width: 100%;
}

.search_item_media_desc {
  background-color:white;
  padding: 15px;
  margin: -15px -15px -25px -15px;
  border-top: 1px solid #ccc;
}

.search_item_review_container {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 15px -15px -15px -15px;
  border-top: 1px solid #ccc;
}

.item_review_container {
  padding: 15px;
  margin: -15px -15px -15px -15px;
  border-bottom: 1px solid #ccc;
}

.stay-costs {
    background: $orange;
    color: white;
    padding: 7px;
    font-size:1.8em;
  @media (max-width: $screen-sm-max) {
      float: right;
    }
}

.stay-costs-2x {
    background: $orange;
    color: white;
    padding: 7px;
    font-size:2em;
  @media (max-width: $screen-sm-max) {
      float: right;
    }
}    

.stay-costs {
  .lower {
    color: #c04d33;;
    font-size:12px;
  }
}

.stay-costs-2x {
  .lower {
    color: #c04d33;;
    font-size:16px;
  }
}

p.ta {
  margin: 0;
}

.homestay_icon_wrapper{ 
  cursor:pointer;
}

.truncated_text  {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 15px;
  line-height: 1.45;
  color: #434343;
  word-wrap: break-word;
  text-align: left !important;
}

.text_right {
  float: right;
  text-align: right;
}

.homestay-index {
  .search-box {
    margin: 0 -15px;
    background: $blue-light;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @media (min-width: $screen-sm-min) {
      padding-top: 50px;
      padding-left: 40px;
      padding-bottom: 30px;
    }

    .search_location_container {
      @media (min-width: $screen-sm-min) {
        width: 200px;
      }

      #search_location {
        height: $search-field-height;
      }
    }

    .search_check_in_date_container,
    .search_check_out_date_container {
      @media (min-width: $screen-sm-min) {
        width: 140px;
      }
    }
    #search_check_in_date,
    #search_check_out_date {
      margin-left: 2px;
      height: $search-field-height;
      background-color: #fff;
      cursor: pointer;
    }
    .search.btn {
      width: 105px;
      height: $search-field-height;
      margin-left: 2px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
    .sort-order {
      margin-top: 20px;
      color: white;

      span.sort-by {
        margin-right: 15px;
        font-size: 15px;
        color: white;
      }
    }
  }

  .toggler {
    display: none;
    background: $blue-light;
    color: #FFF;
    margin-left: -15px;
    margin-right: -15px;
  }

  .results {
    padding: 0 10px 0 10px;

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }

    p.rating {
      color: $blue-light;
      font-size: 25px;
      @media (max-width: $screen-xs-max) {
            padding-left: 0;
      }      
    }

    .badges_row {
      color: #ababab;
      font-size: 15px;
      margin-top: 2px;
      @media (max-width: $screen-xs-max) {
            padding-bottom: 15px
      } 
    }

    .media-body {
      width: 100%;
      padding-left: 5px;

      .first_name {
        display: inline-block;
        padding-right:10px;
        padding-top: 5px;
        margin-top: 0;
        margin: 0;
      }

      .display_inline {
        display: inline-block;
        padding-top: 5px;
        margin-top: 0;
        margin: 0;
      }

      .display_inline.section_group {
        padding: 0 10px 0 0;
        vertical-align: middle;  
        min-width: 52px;
      }

      .for_charity {
        width: 50px;
      }

      .for_charity_sm {
        width: 26px;
      }
        
      .title {
        color: $grey-dark;
        font-size: 15px;
        margin-top: 2px;
      }

    .cost-per-night-2x {
        strong {
          background: $orange;
          color: $grey-lighter;
          padding: 7px;
          font-size:21px;
          @media (max-width: $screen-sm-max) {
            float: right;
          }
        }

      }

      .cost-per-night {
        strong {
          background: $orange;
          color: $grey-lighter;
          padding: 7px;
          font-size:16px;
          @media (max-width: $screen-xs-max) {
            float: right;
          }
        }

      }
    }
    .media {
      margin: 25px 15px;
      background: $grey-light;
      @media (max-width: $screen-xs-max) {
        padding: 15px 15px 0 15px;
        margin:  15px -10px;
        &:nth-child(even) {
          background-color: transparent;
        }

        .media-left {
          display: table-cell;
        }
      }
    }
  }
  .sidebar-search {
    padding: 0;
    .search-map-wrapper {
      width: 100%;
      height: 100vh;
      #search-map {
        height: 100%;
        min-height: 300px;
      }
      &.fixed {
        position: fixed;
        top: 0;
      }
      &.fixed-bottom {
        position: absolute;
      }
      &.on-mobile {
        max-height: 500px;
      }
    }
  }

  ul.pagination {
    width: 100%;

    li {
      display: none;

      &.prev,
      &.next {
        display: inline;
        text-transform: uppercase;

        &.disabled {
          display: none;
        }
      }

      &.next {
        float: right;
      }
    }
  }
}


// Homestay Form

._item_base {
  padding: 5px;
  background: #fff !important;
  background-color: #f2f2f2 !important;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
}

._item_con {
  padding: 5px;
  background: #fff !important;
  background-color: #f2f2f2 !important;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  margin-right: -15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

._inline_icons_left {
  float: left;
  margin-right: 15px;
}

._form_con_lg {
  padding: 25px;
  font-size: 25px;
  font-weight: 800;
}

.form_con_add_lg {
  font-size: 25px;
}

// this is for custom checkboxes
.collection_cb {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-weight: 400;
    cursor: pointer;
}
.boolean_cb {
    display: block !important;
    margin-left:-30px !important;
    cursor: pointer;
 }
// this is for collection checkboxes 
.phs_cb_cont {
  padding-left: 30px;
}

.phs_cb_sp {
  margin-left: -30px !important;
}

.form-group.boolean {
  margin-bottom:0px;
  margin-left:-5px;
}   

.hs_mhs_s_tabc {
  padding:10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius-bottom-left: 4px;
  border-radius-bottom-right: 4px;
}
.hs_mhs_s_tabicons {
  color: #ec5c3b;
  margin-left: 10px;
}
.hs_mhs_s_hide {
  display: none;
}
.hs_mhs_s_bg-info {
  background-color: #5cc1c0;
  color: white;
}
.hs_mhs_s_btn-info {
  border: none;
  display: inline-block;
}
.hs_mhs_s_btn-info:hover{
  background-color: white;
}
.phs_help_section {
  width: 100%;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 300;
}
.hs_mhs_50 {
  margin-left: 50px;
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #404040;
}

.hs_mhs_title {
  font-weight: bold;
  color: #404040;
  font-size: 16px;
}
.hs_mhs_link:hover {
  color: #5cc1c0;
  cursor: pointer;
}

p.hs_rating {
  color: $blue-light;
  font-size: 20px;
  @media (max-width: $screen-sm-max) {
        padding-left: 0;
        font-size: 15px;
  }      
}

.bar_top {
  background-color: #fff; 
  z-index:10;
  top: 54px;
  border: 0;
  opacity: 1;
  width:100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;

}

.bar_top_sticky {
  position: fixed;
  top:0;
  background-color: #fff; 
  z-index:10;
  border: 0;
  opacity: 1;
  width:100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.btn-book {
  height: 54px !important;
  padding-top: 15px !important;
}