$secondary-text-color: #50a19e;
$search-field-height: 36px;

.search-alert {
  margin: 0 -15px 0 -15px;
  border-radius: 0px;
}

.search_item_container {
  border: 1px solid #ccc;
  padding-bottom: 5px;
  padding: 15px;
  background: #fff !important;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.35);
  box-shadow: 0 1px 6px rgba(0,0,0,.35);
}

.first_name-sa {
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 0;
  margin: 0;
}

.stars-sa {
  color: #5cc1c0;
}

.homestay_highlights {
  font-size: 15.6px;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
}

.homestay_icons {
  color: #ec5c3b;
}
.homestay_icons_lg {
  color: #ec5c3b;
  margin-top:-20px;
}

.homestay_images_lg {
  margin-top:-43px !important;
}

.homestay_expand_desc_option {
  text-align: right;
  float:right;
}

.homestay_expand_desc_option:hover {
  color: #5cc1c0 !important;
  transition: all .5s ease-in-out !important;
}

.search_item_container:hover {
  border: 1px solid #5cc1c0;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.85);
  box-shadow: 0 1px 6px rgba(0,0,0,.85);
}

.search_item_profile_picture {
  border: 1px solid #eee;
  padding: 0 !important;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

.search_item_profile_picture:hover {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.85);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.85);
  transition: all .5s ease-in-out;
}

.search_item_media_body {
  padding-left: 15px !important;
  width: 100%;
}

.search_item_media_desc {
  background-color:white;
  padding: 15px;
  margin: -15px -15px -25px -15px;
  border-top: 1px solid #ccc;
}

.search_item_review_container {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 15px -15px -15px -15px;
  border-top: 1px solid #ccc;
}

.item_review_container {
  padding: 15px;
  margin: -15px -15px -15px -15px;
  border-bottom: 1px solid #ccc;
}

.stay-costs {
    background: $orange;
    color: white;
    padding: 7px;
    font-size:1.8em;
  @media (max-width: $screen-sm-max) {
      float: right;
    }
}

.stay-costs-2x {
    background: $orange;
    color: white;
    padding: 7px;
    font-size:2em;
  @media (max-width: $screen-sm-max) {
      float: right;
    }
}

.stay-costs {
  .lower {
    color: #c04d33;;
    font-size:12px;
  }
}

.stay-costs-2x {
  .lower {
    color: #c04d33;;
    font-size:16px;
  }
}

p.ta {
  margin: 0;
}

.homestay_icon_wrapper{
  cursor:pointer;
}

.truncated_text  {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 15px;
  line-height: 1.45;
  color: #434343;
  word-wrap: break-word;
  text-align: left !important;
}

.text_right {
  float: right;
  text-align: right;
}

.homestay-index {
  .search-box {
    background: $blue-light;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    margin: 0 -15px 20px;
    padding: 18px 12px;

    .referer {
      align-items: center;
      background: transparent image-url('nabo.png') no-repeat 5px center;
      cursor: default;
      display: flex;
      margin-bottom: 10px;
      min-height: 53px;
      padding-bottom: 10px;

      h3 {
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        line-height: 24px;
        margin: 0;
        padding-left: 215px;

        a {
          color: #fff;
        }

        br.desktop {
          display: none;
        }
      }
    }

    @media (min-width: 1024px) {
      .referer h3 br.desktop {
        display: block;
      }
    }

    // @media (min-width: $screen-sm-min) {
    //   padding-top: 50px;
    //   padding-left: 40px;
    //   padding-bottom: 30px;
    // }

    form {
      border-collapse: collapse;
      border-spacing: 5px 0;
      display: table;
    }

    .form-group {
      display: table-cell;
      margin: 0;
      white-space: nowrap;

      &.location-container {
        width: 50%;
      }

      .input-group {
        .form-control {
          float: none;
        }
      }
    }

    .toggle-switch {
      background-color: #fff;
      border-radius: 32px;
      display: inline-block;
      height: 36px;
      position: relative;
      width: 50px;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;

      .toggle-switch-checkbox {
        display: none;
      }

      label.toggle-switch-label {
        border: 2px solid #fff;
        border-radius: 32px;
        cursor: pointer;
        display: block;
        overflow: hidden;
      }

      .toggle-switch-inner {
        display: block;
        margin-left: -100%;
        width: 200%;
      }

      .toggle-switch-inner:before,
      .toggle-switch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 32px;
        padding: 0;
        line-height: 32px;
        font-size: 16px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
      }

      .toggle-switch-inner:before {
        color: #fff;
        content: "";
        padding-left: 10px;
      }

      .toggle-switch-inner:after {
        color: #666;
        content: "";
        padding-right: 10px;
        text-align: right;
      }

      .toggle-switch-switch {
        background: #fff;
        background-color: #5cc1c0;
        background-color: #ade0e0;
        background-color: #ddd;
        border: 2px solid #fff;
        border-radius: 32px;
        bottom: 0;
        color: #555;
        display: block;
        font-size: 12px;
        margin: 0px;
        position: absolute;
        right: 14px;
        top: 0;
        transition: right 0.2s;
        width: 36px;

        i.fa {
          color: #aaa;
          font-size: 19px;
          left: 7px;
          top: 7px;
        }
      }

      .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
        margin-left: 0;
      }

      .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
        right: 0px;
      }
    }

    .home-or-away {
      line-height: 36px;

      .off {
        color: #fff;
        display: inline-block;
        line-height: normal;
        margin-right: 6px;
        vertical-align: middle;
      }

      .toggle-switch {
        vertical-align: middle;
      }

      .on {
        color: #fff;
        display: inline-block;
        line-height: normal;
        margin-left: 6px;
        vertical-align: middle;
      }
    }

    .input-group {
      width: 100%;

      input[type="text"] {
        background-color: rgba(255,255,255,1);
        border: 2px solid #fff;
        border-radius: 18px;
        font-size: 14px;
        height: $search-field-height;
        padding-left: 16px;
        padding-right: 16px;
        text-align: right;
        transition: background-color .3s;
      }

      i.fa {
        color: #bbb;
        left: 21px;
        font-size: 18px;
        position: absolute;
        top: 10px;
        transition: color .3s;
        z-index: 3;
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        i.fa.fa-calendar {
          display: none;
        }
      }

      input[type="text"]:focus + i.fa,
      input[type="text"]:hover + i.fa {
        color: #5cc1c0;
      }

      input[type="text"]:focus {
        background-color: rgba(255,255,255,0.8);
      }

      &.active {
        input[type="text"] {
          background-color: rgba(255,255,255,0.8) !important;
        }

        i.fa {
          color: #5cc1c0;
        }
      }
    }

    .search_location_container {
      padding-right: 0 !important;
      position: relative;

      // @media (min-width: $screen-sm-min) {
      //   width: 200px;
      // }
    }

    .search_check_in_date_container,
    .search_check_out_date_container {
      @media (min-width: 768px) {
        min-width: 110px;
      }

      @media (min-width: 992px) {
        min-width: 110px;
      }

      @media (min-width: 1200px) {
        min-width: 150px;
      }
    }

    #search_check_in_date,
    #search_check_out_date {
      background-color: #fff;
      cursor: pointer;
      height: $search-field-height;
    }

    .search.btn {
      background-color: #ec5d3c;
      border: 2px solid #ec5d3c;
      border-radius: 18px;
      box-shadow: none;
      font-size: 14px;
      height: $search-field-height;
      outline: none;
      padding: 6px 16px;
      text-align: center;
      text-transform: uppercase;
      -webkit-appearance: none;

      &:active {
        border-color: #fff;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    .sort-order {
      color: #fff;
      margin-top: 20px;

      span.sort-by {
        color: #fff;
        font-size: 15px;
        margin-right: 15px;
      }
    }
  }

  @media (max-width: 992px) {
    .search-box {
      padding: 19px 17px;

      form {
        width: 100%;
      }

      .form-group {
        display: block;

        .input-group {
          display: block;

          .form-control {
            display: block;
          }
        }

        &.home-or-away {
          width: 100%;
        }

        &.location-container {
          margin: 10px 0;
          width: 100%;
        }

        &.search_check_in_date {
          margin-right: 10px;
        }

        &.search_check_in_date, &.search_check_out_date {
          float: left;
          width: 35%;

          .input-group {
            width: 100%;
          }
        }

        &.go {
          float: right;
        }
      }
    }
  }

  .below-search-box {
    background-color: #eee;
  }

  .results {
    padding: 0 15px;

    ul.homestays {
      list-style: none;

      li.homestay {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: none;
        box-shadow: none;
        color: #404040;
        cursor: pointer;
        margin-bottom: 15px;
        min-height: 136px;
        padding: 15px;
        position: relative;

        .avatar {
          left: 17px;
          position: absolute;
          top: 17px;

          img {
            border: 1px solid #fff;
            box-shadow: 0 0 0 2px #ddd;
            display: block;
          }
        }

        @media (max-width: 600px) {
          .avatar {
            img {
              height: 50px;
              width: 50px;
            }
          }
        }

        .details {
          margin-left: 120px;
          padding-right: 150px;

          .homestay {
            .host {
              font-size: 24px;
              font-weight: normal;
              line-height: 26px;
              margin: 0;
              padding: 0 8px;
              position: relative;

              a {
                color: #404040;
                float: left;
                text-decoration: none;

                span.position {
                  color: #aaa;
                  display: none;
                }
              }

              .response-rate {
                bottom: 2px;
                color: #5cc1c0;
                font-size: 14px;
                line-height: 16px;
                position: absolute;
                right: 0;
              }
            }

            .title {
              background-color: rgba(92,193,192,0.1);
              font-size: 16px;
              font-weight: normal;
              height: 26px;
              line-height: 26px;
              margin: 4px 0 6px;
              padding: 0 8px;
              display: table;
              table-layout: fixed;
              white-space: nowrap;
              width: 100%;

              span {
                display: table-cell;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .location {
              font-size: 14px;
              font-weight: normal;
              line-height: 16px;
              margin: 0;
              padding: 0 8px;

              .address {
                color: #999;
                float: left;
              }

              .distance {
                color: #5cc1c0;
                float: right;
              }

              @media (max-width: 992px) {
                .distance {
                  display: none;
                }
              }
            }

            @media (max-width: 992px) {
              .reviews {
                display: none;
              }
            }

            .review-summary {
              display: none;
              margin-top: 10px;
              padding: 0 8px;

              .rating {
                i.fa {
                  color: #5cc1c0;
                }
              }

              .count {
                color: #999;
                padding-left: 4px;
              }
            }

            @media (max-width: 992px) {
              .review-summary {
                display: block;
              }
            }

            .reviews {
              margin-top: 15px;
              padding: 0 8px;

              .public-reviews {
                height: 42px;

                .public-review {
                  display: none;
                  float: left;
                  min-height: 42px;
                  position: relative;

                  .reviewer-avatar {
                    left: 1px;
                    position: absolute;
                    top: 1px;

                    img {
                      border: 1px solid #fff;
                      box-shadow: 0 0 0 1px #ddd;
                      display: block;
                    }
                  }

                  .review-details {
                    margin-left: 50px;

                    .review {
                      display: table;
                      table-layout: fixed;
                      white-space: nowrap;
                      width: 100%;

                      span {
                        display: table-cell;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        em {
                          visibility: hidden;
                        }
                      }
                    }

                    .meta {
                      .reviewer {
                        color: #999;
                        float: left;

                        em {
                          visibility: hidden;
                        }

                        @media (max-width: 1200px) {
                          .date {
                            display: none;
                          }
                        }
                      }

                      .rating {
                        float: right;

                        i.fa {
                          color: #bbb;
                          font-size: 10px;
                        }
                      }
                    }
                  }
                }
              }

              .slick-initialized {
                .public-review {
                  display: block;
                }
              }

              span.nav {
                bottom: 0;
                color: #bbb;
                cursor: pointer;
                display: inline-block;
                margin: 0;
                padding: 0;
                position: absolute;
                text-align: center;

                &:hover {
                  color: #5cc1c0;
                }

                &.prev {
                  left: -38px;
                }

                &.next {
                  left: -24px;
                }

                i.fa {
                  padding: 0 2px;
                  text-align: center;
                  width: 14px;
                }
              }
            }
          }

          .service {
            border-left: 1px solid #eee;
            bottom: 15px;
            padding: 0 15px;
            position: absolute;
            right: 0;
            top: 15px;
            width: 150px;

            .cost {
              text-align: right;

              span {
                display: inline-block;
              }

              .from {
                color: #999;
              }

              .plus {
                display: none;
              }

              @media (max-width: 992px) {
                .from {
                  display: none;
                }

                .plus {
                  display: inline;
                }
              }

              .amount {
                color: #ec5d3c;
                font-size: 24px;
                line-height: 26px;
                padding-left: 4px;
              }
            }

            @media (max-width: 600px) {
              .cost {
                margin-right: 8px;
              }
            }

            ul.services {
              list-style: none;
              margin: 10px 0 0;
              padding: 0;

              li {
                color: #999;
                font-size: 12px;
                text-align: right;

                i.fa {
                  margin-left: 2px;
                }

                i.yes {
                  display: none;
                }

                &.active {
                  color: #5cc1c0;

                  i.no {
                    display: none;
                  }

                  i.yes {
                    display: inline-block;
                  }
                }
              }
            }
          }

          @media (max-width: 600px) {
            .service {
              border: none;
            }
          }

          @media (max-width: 992px) {
            .service {
              width: 100px;

              .services {
                display: none;
              }
            }
          }
        }

        @media (max-width: 992px) {
          .details {
            padding-right: 100px;
          }
        }

        @media (max-width: 600px) {
          .details {
            margin-left: 65px;
            padding-right: 0;
          }
        }
      }

      li.homestay:hover {
        border-color: #5cc1c0;

        .avatar {
          img {
            box-shadow: 0 0 0 2px #5cc1c0;;
          }
        }

      }
    }
  }

  @media (max-width: 1200px) {
    .results {

    }
  }









  // .results {
  //   background-color: #e8ebf0;
  //   padding: 0 15px;
  //
  //   .panel {
  //     border-radius: none;
  //     box-shadow: none;
  //     margin-bottom: 15px;
  //   }
  //
  //   a {
  //     color: $black;
  //
  //     &:hover {
  //       text-decoration: none;
  //     }
  //   }
  //
  //   p.rating {
  //     color: $blue-light;
  //     @media (max-width: $screen-xs-max) {
  //       padding-left: 0;
  //     }
  //   }
  //
  //   .badges_row {
  //     color: #ababab;
  //     font-size: 15px;
  //     margin-top: 2px;
  //     @media (max-width: $screen-xs-max) {
  //           padding-bottom: 15px
  //     }
  //   }
  //
  //   .media-body {
  //     width: 100%;
  //     padding-left: 5px;
  //
  //     p.host-responsiveness {
  //       display: none;
  //     }
  //
  //     .first_name {
  //       display: inline-block;
  //       padding-right:10px;
  //       padding-top: 5px;
  //       margin-top: 0;
  //       margin: 0;
  //     }
  //
  //     .display_inline {
  //       display: inline-block;
  //       padding-top: 5px;
  //       margin-top: 0;
  //       margin: 0;
  //     }
  //
  //     .display_inline.section_group {
  //       padding: 0 0 0 15px;
  //       vertical-align: middle;
  //       min-width: 52px;
  //     }
  //
  //     .for_charity {
  //       width: 50px;
  //     }
  //
  //     .for_charity_sm {
  //       width: 26px;
  //     }
  //
  //     .title {
  //       color: $grey-dark;
  //       font-size: 15px;
  //       margin-top: 2px;
  //     }
  //
  //   .cost-per-night-2x {
  //       strong {
  //         background: $orange;
  //         color: $grey-lighter;
  //         padding: 7px;
  //         font-size:21px;
  //         @media (max-width: $screen-sm-max) {
  //           float: right;
  //         }
  //       }
  //
  //     }
  //
  //     .cost-per-night {
  //       strong {
  //         background: $orange;
  //         color: $grey-lighter;
  //         padding: 7px;
  //         font-size:16px;
  //         @media (max-width: $screen-xs-max) {
  //           float: right;
  //         }
  //       }
  //
  //     }
  //   }
  //
  //   .media {
  //     margin: 25px 15px;
  //     background: $grey-light;
  //     @media (max-width: $screen-xs-max) {
  //       padding: 15px 15px 0 15px;
  //       margin:  15px -10px;
  //       &:nth-child(even) {
  //         background-color: transparent;
  //       }
  //
  //       .media-left {
  //         display: table-cell;
  //       }
  //     }
  //   }
  // }

  .sidebar-search {
    padding: 0;

    .search-map-wrapper {
      border-left: 2px solid #fff;
      height: 100vh;
      width: 100%;

      #search-map {
        height: 100%;
        min-height: 300px;
      }

      &.fixed {
        position: fixed;
        top: 0;
      }

      &.fixed-bottom {
        position: absolute;
      }

      &.on-mobile {
        max-height: 500px;
      }
    }
  }

  ul.pagination {
    width: 100%;

    li {
      display: none;

      &.prev,
      &.next {
        display: inline;
        text-transform: uppercase;

        &.disabled {
          display: none;
        }
      }

      &.next {
        float: right;
      }
    }
  }
}


// Homestay Form

._item_base {
  padding: 5px;
  background: #fff !important;
  background-color: #f2f2f2 !important;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
}

._item_con {
  padding: 5px;
  background: #fff !important;
  background-color: #f2f2f2 !important;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  margin-right: -15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

._inline_icons_left {
  float: left;
  margin-right: 15px;
}

._form_con_lg {
  height: 50px;
  font-size: 25px;
  font-weight: 800;
}

.form_con_add_lg {
  font-size: 25px;
}

// this is for custom checkboxes
.collection_cb {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-weight: 400;
    cursor: pointer;
}
.boolean_cb {
    display: block !important;
    margin-left:-30px !important;
    cursor: pointer;
 }
// this is for collection checkboxes
.phs_cb_cont {
  padding-left: 30px;
}

.phs_cb_sp {
  margin-left: -30px !important;
}

// this is for custom radio buttons
.collection_rb {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-weight: 400;
    cursor: pointer;
}
.boolean_rb {
    display: block !important;
    margin-left:-30px !important;
    cursor: pointer;
 }

// this is for collection checkboxes
.phs_rb_cont {
  padding-left: 35px;
}

.phs_rb_sp {
  margin-left: -30px !important;
}

.form-group.boolean {
  margin-bottom:0px;
  margin-left:-5px;
}

.hs_mhs_s_tabc {
  padding:10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius-bottom-left: 4px;
  border-radius-bottom-right: 4px;
}
.hs_mhs_s_tabicons {
  color: #ec5c3b;
  margin-left: 10px;
}
.hs_mhs_s_hide {
  display: none;
}
.hs_mhs_s_bg-info {
  background-color: #5cc1c0;
  color: white;
}
.hs_mhs_s_btn-info {
  border: none;
  display: inline-block;
}
.hs_mhs_s_btn-info:hover{
  background-color: white;
}
.phs_help_section {
  width: 100%;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 300;
}
.hs_mhs_50 {
  margin-left: 50px;
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #404040;
}

.hs_mhs_title {
  font-weight: bold;
  color: #404040;
  font-size: 16px;
}
.hs_mhs_link:hover {
  color: #5cc1c0;
  cursor: pointer;
}

p.hs_rating {
  color: $blue-light;
  font-size: 20px;
  @media (max-width: $screen-sm-max) {
        padding-left: 0;
        font-size: 15px;
  }
}

.bar_top {
  background-color: #fff;
  z-index:10;
  top: 54px;
  border: 0;
  opacity: 1;
  width:100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;

}

.bar_top_sticky {
  position: fixed;
  top:0;
  background-color: #fff;
  z-index:10;
  border: 0;
  opacity: 1;
  width:100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.btn-book {
  height: 54px !important;
  padding-top: 15px !important;
}
