.homestay-show {
  .section-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .carousel {
    ol li {
      margin-left: 5px;
    }
    img {
      width:  100%; // Fill screen with photo
      height: auto; // Keep photo's original ratio
      max-height: 568px;
    }
    .carousel-control {
      .chevron {
        display: inline-block;
        width: 37px;
        position: absolute;
        top: 45%;
        z-index: 5;
      }
    }
    .price-tag {
      width: 18%;
      max-width: 160px;
      height: 40px;
      position: absolute;
      left: 21.5686275%;
      bottom: 0;
      padding-left: 10px;
      background-color: $orange;
      span {
        font-weight: 700;
        &.price {
          font-size: 26px;
          color: $grey-lighter;
        }
        &.per-night {
          font-size: 16px;
          color: #c04d33;
        }
      }
    }
  }

  .hs-upper-section {
    padding-top: 10px;
    padding-left: 10%;
    .basic-info .info {
      .title,
      .suburb,
      .ratings {
        display: block;
      }
      .title {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
      }
      .suburb {
        font-size: 14px;
        font-weight: 500;
        color: $grey-dark;
      }
      .ratings {
        color: $blue-light;
        .count {
          color: $grey-dark;
        }
      }
    }
    .details-title {
      padding-top: 15px;
    }
    .details {
      line-height: 1.5;
      .entries span {
        font-weight: 500;
      }
      .info {
        .after-work,
        .emergency {
          color: $blue-light;
        }
      }
    }
    a.inquiry.btn {
      position: relative;
      left: 70%;
      bottom: 10px;
    }
  }
  .map-container {
    padding: 0;
    #map {
      display: block;
      width: 100%;
      height: 330px;
    }
  }
  .hs-lower-section {
    padding-left: 10%;
    padding-right: 8%;
    p {
      font-size: 14px;
      color: #333333;
    }

    .rating {
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      padding-top: 10px;
      padding-bottom: 10px;
      .count,
      .stars {
        display: inline-block;
      }
      .count {
        font-size: 16px;
        font-weight: 700;
        margin-right: 20px;
      }
      .stars {
        color: $blue-light;
      }
    }

    .review {
      .left,
      .right {
        padding-top: 20px;
      }
      .left {
        padding-bottom: 20px;
        .reviewer {
          display: block;
          text-align: center;
        }
      }
      .hr {
        border-bottom: 1px solid $grey;
      }
    }
  }
}
