.homestay-pictures {
  tr td {
    vertical-align: middle;
  }
}

.new-picture {
  margin-top: -18px;
  td {
    text-align: center;
  }
}

.carousel-control {
  margin-top: 0px;
}

.homestay-share-buttons {
  margin-bottom: 20px;

  .facebook-share, .twitter-share {
    float: left;
  }

  .facebook-share {
    width: 290px;
  }

  .twitter-share {
    margin-top: 2px;
  }

  &.top {
    padding-bottom: 10px;
  }
}

#new_homestay_modal {
  width: 600px;
  .modal-body {
    height: 170px;
  }
}

.favourite-unheart {
  color: gray;
  font-size: 30px;
  cursor: pointer;
}


.favourite-heart{
  color: gray;
  font-size: 30px;
  cursor: pointer;
}

.fav-homestay-action{
  margin-bottom: 3px;
}

.show-favourite-listings{
  padding-bottom: 90px;
}

.calendar-updation-date{
  height: 40px;
  margin-top: 20px;
  display: block;
  padding: 4px;
  line-height: 18px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cal-date-span{
  margin-top: 10px;
  font-weight: bold;
}
