$secondary-text-color: #50a19e;
$search-field-height: 40px;

.homestay-index {
  .search-box {
    margin: 0 -15px;
    background: $blue-light;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @media (min-width: $screen-sm-min) {
      padding-top: 50px;
      padding-left: 40px;
      padding-bottom: 30px;
    }

    .search_location_container {
      @media (min-width: $screen-sm-min) {
        width: 200px;
      }

      #search_location {
        height: $search-field-height;
      }
    }

    .search_check_in_date_container,
    .search_check_out_date_container {
      @media (min-width: $screen-sm-min) {
        width: 140px;
      }
    }
    #search_check_in_date,
    #search_check_out_date {
      margin-left: 2px;
      height: $search-field-height;
      background-color: #fff;
      cursor: pointer;
    }
    .search.btn {
      width: 105px;
      height: $search-field-height;
      margin-left: 2px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
    .sort-order {
      margin-top: 20px;
      color: $grey-lighter;

      span.sort-by {
        margin-right: 15px;
        color: $secondary-text-color;
      }
    }
  }

  .toggler {
    display: none;
    background: $blue-light;
    color: #FFF;
    margin-left: -15px;
    margin-right: -15px;
  }

  .results {
    padding: 0 10px 0 10px;

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }

    p.rating {
      color: $blue-light;
    }

    .media-body {
      width: 100%;
      padding-left: 5px;

      .first_name {
        display: inline-block;
        padding-top: 5px;
        margin-top: 0;
        margin: 0;
      }

      .for_charity {
        float: right;
        width: 50px;

        @media (min-width: $screen-sm-min) {
          width: 80px;
          position: relative;
          right: 10px;
          top: 10px;
        }
      }

      .title {
        color: $grey-dark;
        font-size: 15px;
        margin-top: 2px;
      }

      .cost-per-night {
        strong {
          background: $orange;
          color: $grey-lighter;
          padding: 2px 5px;
          @media (max-width: $screen-xs-max) {
            float: right;
          }
        }

      }
    }

    .media {
      margin: 25px 15px;
      background: $grey-light;
      @media (max-width: $screen-xs-max) {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin:  0 -10px;
        &:nth-child(even) {
          background-color: transparent;
        }

        .media-left {
          display: table-cell;
        }
      }
    }
  }
  .sidebar-search {
    padding: 0;
    .search-map-wrapper {
      width: 100%;
      height: 100vh;
      #search-map {
        height: 100%;
        min-height: 300px;
      }
      &.fixed {
        position: fixed;
        top: 0;
      }
      &.fixed-bottom {
        position: absolute;
      }
      &.on-mobile {
        max-height: 500px;
      }
    }
  }

  ul.pagination {
    width: 100%;

    li {
      display: none;

      &.prev,
      &.next {
        display: inline;
        text-transform: uppercase;

        &.disabled {
          display: none;
        }
      }

      &.next {
        float: right;
      }
    }
  }
}
