.homestay-pictures {
  tr td {
    vertical-align: middle;
  }
}

.new-picture {
  margin-top: -18px;
  td {
    text-align: center;
  }
}

.carousel-control {
  margin-top: 0px;
}

.homestay-share-buttons {
  margin-bottom: 20px;

  .facebook-share, .twitter-share {
    float: left;
  }

  .facebook-share {
    width: 290px;
  }

  .twitter-share {
    margin-top: 2px;
  }

  &.top {
    padding-bottom: 10px;
  }
}

#new_homestay_modal {
  width: 600px;
  .modal-body {
    height: 170px;
  }
}

.favourite-unheart {
  color: gray;
  font-size: 40px;
  cursor: pointer;
}


.favourite-heart{
  color: gray;
  font-size: 40px;
  cursor: pointer;
}

.fav-homestay-action{
  margin-bottom: 3px;
}

.show-favourite-listings{
  padding-bottom: 90px;
}