.homestay-index {
  .search-box {
    margin: 0 -15px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .search.btn {
      margin-bottom: 15px;
    }
    .sort-order {
      span.sort-by {
        margin-right: 15px;
      }
    }
  }
  .results {
    padding: 0;
  }
  .sidebar-search {
    padding: 0;
    .search-map-wrapper {
      width: 100%;
      height: 100vh;
      #search-map {
        height: 100%;
        min-height: 300px;
      }
      &.fixed {
        position: fixed;
        top: 0;
      }
      &.fixed-bottom {
        position: absolute;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #new_search {
    .form-group {
      margin-bottom: 15px;
      input {
        &#search_location {
          width: 300px;
        }
        &#search_check_in_date,
        &#search_check_out_date {
          width: 200px;
          margin-left: 20px;
        }
      }
    }
    .search.btn {
      margin-left: 20px;
    }
  }
}
