.homestay-show {
  .carousel {
    ol li {
      margin-left: 5px;
    }
    img {
      width:  100%; // Fill screen with photo
      height: auto; // Keep photo's original ratio
      max-height: 568px;
    }
    .carousel-control {
      .chevron {
        display: inline-block;
        width: 37px;
        position: absolute;
        top: 45%;
        z-index: 5;
      }
    }
    .price-tag {
      width: 18%;
      max-width: 160px;
      height: 40px;
      position: absolute;
      left: 21.5686275%;
      bottom: 0;
      padding-left: 10px;
      background-color: $orange;
      span {
        font-weight: 700;
        &.price {
          font-size: 26px;
          color: $grey-lighter;
        }
        &.per-night {
          font-size: 16px;
          color: #c04d33;
        }
      }
    }
  }

  .map-container {
    padding: 0;
    #map {
      display: block;
      width: 100%;
      height: 330px;
    }
  }
}
