.messages-panel {
  margin: -20px;
  .panel-header {
    padding: 20px;
    background-color: $grey;
    p {
      font-size: 14px;
      .unread-count {
        color: $orange-light;
      }
    }
  }

  .conversation {
    opacity: .6;
    .header {
      height: 110px;
      padding: 15px 30px;
      border-bottom: 1px solid $grey;
      cursor: pointer;
      .profile {
        display: inline-block;
        position: relative;
        img {
          width: 60px;
          height: 60px;
          margin-top: 10px;
        }
        span {
          position: absolute;
          top: 50px;
          left: 40px;
          .fa-square {
            color: $grey-dark;
          }
          .fa-phone {
            color: white;
          }
        }
      }
      .host-info,
      .guest-info {
        display: inline-block;
        .name {
          margin-left: 20px;
        }
      }
      .right span {
        display: block;
        text-align: right;
        .booking-status {
          font-weight: 700;
          &.confirmed {
            color: $blue;
          }
          &.canceled {
            color: $orange;
          }
          &.requested {
            color: $blue-light;
          }
        }
        .chevron {
          margin-top: 10px;
          color: $grey;
        }
      }
    }

    .message {
      display: none;
      .from {
        height: 48px;
        padding: 13px 20px;
        border-bottom: 1px solid $grey;
        .sender {
          color: $blue-light;
        }
        i.fa-reply {
          margin-top: 5px;
          &.disabled {
            color: $grey;
          }
        }
      }
      .body {
        padding: 23px;
        border-bottom: 1px solid $grey;
        pre {
          border: none;
          background-color: transparent;
        }
      }
    }
    .new-msg-form-container {
      padding: 23px;
      border-bottom: 1px solid $grey;
    }
    &.expanded {
      opacity: 1;
      .header {
        background-color: $blue-light;
        color: white;
        .booking-status {
          color: white;
        }
        .message-count {
          background-color: white;
          color: $blue-light;
        }
        .chevron {
          color: white;
        }
      }
    }
    &.unread {
      opacity: 1;
    }
  }
}
