.messages-panel {
  margin: -20px;
  .panel-header {
    padding: 20px;
    background-color: $grey;
    p {
      font-size: 14px;
      .unread-count {
        color: $orange-light;
      }
    }
  }

  .conversation {
    opacity: .6;
    .header {
      height: 65px;
      padding: 15px 30px;
      border-bottom: 1px solid $grey;
      .profile {
        position: relative;
        img {
          width: 38px;
          height: 38px;
        }
        span {
          position: absolute;
          top: 50px;
          left: 40px;
          .fa-square {
            color: $grey-dark;
          }
          .fa-phone {
            color: white;
          }
        }
      }
      .name {
        margin-left: 20px;
        display: inline-block;
      }
      .right span {
        float: right;
        clear: right;
      }
      &:first-child {
        height: 110px;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          margin-top: 10px;
        }
        .booking-status {
          font-weight: 700;
          &.confirmed {
            color: $blue;
          }
          &.canceled {
            color: $orange;
          }
          &.requested {
            color: $blue-light;
          }
        }
        // Message count has been depreciated
        /*
        .message-count {
          width: 25px;
          height: 20px;
          border-radius: 3px;
          background-color: $grey-dark;
          color: white;
          font-weight: 700;
          text-align: center;
        }
        */
        .chevron {
          margin-top: 10px;
          color: $grey;
        }
      }
    }
    .actions {
      height: 48px;
      padding: 13px 20px;
      border-bottom: 1px solid $grey;
      .sender,
      .receiver {
        color: $blue-light;
      }
      i.fa-reply {
        margin-top: 5px;
        color: $grey;
      }
    }
    .body {
      padding: 23px;
      border-bottom: 1px solid $grey;
    }
    .new-msg-form-container {
      padding: 23px;
      border-bottom: 1px solid $grey;
    }
    &.expanded {
      opacity: 1;
      .header:first-child {
        background-color: $blue-light;
        color: white;
        .booking-status {
          color: white;
        }
        .message-count {
          background-color: white;
          color: $blue-light;
        }
        .chevron {
          color: white;
        }
      }
    }
    &.unread {
      opacity: 1;
    }
  }
}
