.nav-custom {
  background-color: rgba(57,60,61,0.5);
  color: #FFFFFF;
  border-radius: 0;
  border: none;
  margin-bottom: 0;

  &.bordered {
    border-bottom: 2px solid #fff;
  }

  #brand {
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    text-shadow: none;
  }

  .btns {
    padding: 0 15px;
  }

  @media (min-width: 768px) {
    .btns {
      margin-right: -15px;
    }
  }

  .buttons {
    font-weight: 500;
    background: none;
    color: inherit;
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .buttons:hover {
    color: rgba(255,255,255,0.8);
  }

  .buttons.primary {
    border: 2px solid #fff;
    border-radius: 18px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .buttons.primary:hover {
    border-color: rgba(255,255,255,0.8);
  }
}

@media (max-width: 500px) {
  #become-a-host, #find-a-host {
    display: none;
  }

  .nav-custom #brand {
    // font-size: 18px;
  }
}

@media (max-width: 350px) {
  .nav-custom .buttons {
    margin-left: 0;
    margin-right: 1px;
  }

  #my {
    display: none;
  }
}
