img.page-image {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

p.first {
  margin-top: 20px;
}
.picture {
  margin: 10px 0;
}
.big-search {
  background: url('subtle.png');
  margin-top:-12px;
  height:351px;
  margin-bottom: -40px;
  .container {
    background:url('hero.jpg');
    height:351px;
  }
  .search-container {
    position: relative;
    z-index: 15;
    margin: 0 auto;
    width:500px;
    color: #fff;
    margin-top:70px;
    margin-left:420px;
    h2 {
      font-size: 36px;
      margin-bottom: -6px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
    h3 {
      margin-top: 10px;
      font-size:18px;
      line-height:27px;
      font-weight: normal;
      margin-bottom: 67px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
    h4 {
      font-size: 14px;
      position: absolute;
      margin-top: -40px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
  }
  .beta {
    z-index: 5;
    background: url('beta.png');
    width: 122px;
    height: 123px;
    position: absolute;
    margin-top: -42px;
    margin-left: 823px;
    a {
      width:100%;
      height: 100%;
      display:block;
    }
  }
  input {
    width: 350px;
    height: 42px;
    font-size:22px;
    margin-right:-3px;
  }
  button {
    font-size: 22px;
    height: 52px;
  }
}

.header-boxes {
  .well {
    height: 270px;
  }
  .well.half {
    height: 105px;
  }
  .tagline {
    padding-top:60px;
    h1 {
      font-size:30px;
      font-weight:100;
      line-height:36px;
      strong {
        color: $orange;
      }
    }
  }
}

.footer-boxes {
  margin-top:50px;
  .short {
    p {
      height: 60px;
    }
  }
  p {
    height:130px;
  }
  a {
    float:right;
  }
}
