img.page-image {
  float: right;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

p.first {
  margin-top: 20px;
}
.picture {
  margin: 10px 0;
}

.confirmed-block {
  text-align:center;
  width:100%;
  display:block;
}

.big-search {
  background-color : transparent;
  margin-top:-13px;
  height:700px;
  margin-bottom: -40px;
  .picture-container {
    background: url('home_back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -20;
    background-size: cover;

    height:700px;
  }
  .form-search .input-append .search-query {
    @media screen and (-webkit-min-device-pixel-ratio:0) {
    max-height: 36px;
    padding-top: 10px;
    };
  }
  .phsorange {
    color: #E77817;
  }
  .search-container {
    background-color : transparent;
    width:500px;
    color: rgb(105, 102, 109);
    margin-right: 200px;
    margin-top: 100px;
    float: right;
    h2 {
      font-size: 36px;
      margin-bottom: -6px;
    }
    h3 {
      margin-top: 10px;
      font-size:18px;
      line-height:27px;
      font-weight: normal;
      margin-bottom: 27px;
    }
    h4 {
      font-size: 14px;
      position: absolute;
      margin-top: -40px;
      text-shadow: 3px 3px 3spx rgba(0,0,0,0.8);
    }
  }
  input {
    width: 435px;
    height: 42px;
    font-size:22px;
    margin-right:-3px;
  }
  button {
    font-size: 22px;
    height: 52px;
  }

  .input-date-range{
    margin-top: 4px;
  }

  .input-check-in-date {
    width: 190px;
    height: 30px;
    font-size:14px;
    margin-right:-3px;
    border-radius: 6px;
    cursor: pointer;
  }

  .input-check-out-date {
    width: 190px;
    height: 30px;
    font-size:14px;
    margin-left:5px;
    border-radius: 6px;
    cursor: pointer;
  }

  .check_in_date{
    position: relative;
    margin-right: 5px;
  }

  .check_out_date{
    position: relative;
  }

 .check_in_calendar_icon {
   z-index: 20;
   position: absolute;
   top: 12px;
   display: block;
   right: 0;
   width: 20px;
   height: 21px;
   cursor: pointer;
 }

 .check_out_calendar_icon {
   z-index: 20;
   position: absolute;
   top: 12px;
   display: block;
   right: 0;
   width: 20px;
   height: 21px;
   cursor: pointer;
 }
}

.header-boxes {
  .well {
    height: 270px;
  }
  .well.half {
    height: 105px;
  }
  .tagline {
    padding-top:60px;
    h1 {
      font-size:30px;
      font-weight:100;
      line-height:36px;
      strong {
        color: $orange;
      }
    }
  }
}

.footer-boxes {
  margin-top:50px;
  .short {
    p {
      height: 60px;
    }
  }
  p {
    height:130px;
  }
  a {
    float:right;
  }
}

.font-italic {
  font-style: italic;
}
.font-bold {
  font-weight: bold;
}

.font-underline {
  text-decoration: underline;
}

.list-roman-blue {
  list-style-type: lower-roman;
  color: darkslateblue;
}

.font-color-blue {
  color: steelblue;
}

.list-roman {
  list-style-type: lower-roman;
}
