img.page-image {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

p.first {
  margin-top: 20px;
}
.picture {
  margin: 10px 0;
}
.big-search {
  background: url('subtle.png');
  margin-top:-13px;
  height:600px;
  margin-bottom: -40px;
  .picture-container {
    background: url('home_back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height:600px;
  }
  .form-search .input-append .search-query {
    @media screen and (-webkit-min-device-pixel-ratio:0) {
    max-height: 36px;
    padding-top: 10px;
    };
  }
  .search-container {


    z-index: 15;

    width:500px;
    color: #fff;
    margin-right: 200px;
    margin-top: 100px;
    float: right;
    h2 {
      font-size: 36px;
      margin-bottom: -6px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
    h3 {
      margin-top: 10px;
      font-size:18px;
      line-height:27px;
      font-weight: normal;
      margin-bottom: 67px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
    h4 {
      font-size: 14px;
      position: absolute;
      margin-top: -40px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
  }
  .beta {
    z-index: 5;
    background: url('beta.png');
    width: 122px;
    height: 123px;
    position: absolute;
    margin-top: -42px;
    margin-left: 823px;
    a {
      width:100%;
      height: 100%;
      display:block;
    }
  }
  input {
    width: 350px;
    height: 42px;
    font-size:22px;
    margin-right:-3px;
  }
  button {
    font-size: 22px;
    height: 52px;
  }
}

.header-boxes {
  .well {
    height: 270px;
  }
  .well.half {
    height: 105px;
  }
  .tagline {
    padding-top:60px;
    h1 {
      font-size:30px;
      font-weight:100;
      line-height:36px;
      strong {
        color: $orange;
      }
    }
  }
}

.footer-boxes {
  margin-top:50px;
  .short {
    p {
      height: 60px;
    }
  }
  p {
    height:130px;
  }
  a {
    float:right;
  }
}

.font-italic {
  font-style: italic;
}
.font-bold {
  font-weight: bold;
}

.font-underline {
  text-decoration: underline;
}

.list-roman-blue {
  list-style-type: lower-roman;
  color: darkslateblue;
}

.font-color-blue {
  color: steelblue;
}

.list-roman {
  list-style-type: lower-roman;
}
