$margins: 20px;
$orange:  #EA6E28;

.table .thumbnails{
  margin-left: 0;
}

.span4 .thumbnails{
  margin-left: 0;
}

.description{
  margin-top: $margins;
  margin-bottom: 20px;
}

.row .pricing{
  margin-left: 0;
  padding-right: 15px;
  text-align: right;
}

.map{
  margin-top: $margins;
}

.listing-form {
  height: 250px;
  overflow: hidden;
  .left, .right {
    width: 250px;
    height: 250px;
    float:left;
  }
  .left.or {
    padding-right:20px;
    border-right: 1px solid #ddd;
    margin-right:-1px;
    &:before {
      content: "OR";
      position: absolute;
      left:270px;
      margin-left:-15px;
      width:30px;
      height:30px;
      background-color: #F5F5F5;
      top:50%;
      margin-top:-15px;
      line-height:30px;
      text-align:center;
      color:#aaa;
    }
  }
  #sign-in, #sign-up {
    position: absolute;
    width:100%;
  }
  #sign-up {
    display: none;
  }
  .right .btn {
    position: relative;
    left:50%;
    top:50%;
    margin-top:-22px;
    margin-left:-46px;
    &.facebook {
      margin-left:-96px;
    }
  }
}

.edit-listing, .enquire-listing, .booking-listing {
  .btn {
    margin-right:20px;
  }

  p {
    margin-top: 9px;
  }
}

.rating {
  i {
    margin-top: 1px;
  }

  span {
    font-size:85%;
  }
}

.rater {
  margin: 0 auto;
  width: 100px;
  text-align:center;
  i {
    cursor: pointer;
  }
}

#review-modal {
  textarea {
    width:520px;
  }
}

.return {
  margin-left:10px;
}

.enquire-datepicker {
  margin: 0 auto -15px;
  width: 250px;
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-image: -webkit-linear-gradient(top, #EA6E28, #EA8E28);
    background-image: -o-linear-gradient(top, #EA6E28, #EA8E28);
    background-image: linear-gradient(top, #EA6E28, #EA8E28);
    border: 1px solid #aaa;
    color: #fff;
  }
}

.enquire-table {
  width: 100%;
  margin-bottom: 20px;
  &>tbody {
    &>tr {
      width: 100%;
      &>td {
        width: 50%;
        vertical-align: top;
        label {
          font-weight: bold;
        }
        &.message {
          text-align: center;
          padding-top:10px;
        }
      }
    }
  }
  textarea {
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

form#new_enquiry {
  margin: 0;
}
