
.notify {
  margin-left: -10px;
  input, label {
    margin-left: 10px;
  }
}

.woman-dog-banner {
  margin-bottom: 10px;
}

.listing{
  &.highlight {
    td {
      background: #FFFB89 !important;
    }
    td.main-info {
      border-left: 1px solid darken(#FFFB89, 35%) !important
    }
  }
  td.main-info table {
    min-width: 100%
  }
  .image-cell {
    width:120px;
    height:142px;
    img {
      width: 100%;
    }
    .rating {
      height:20px;
      width:90px;
      margin: 6px auto -4px;
      font-size: 11px;
      text-align: center;
      line-height: 10px;
    }
  }
  .excerpt {
    height:72px;
    font-size:14px;
    word-break: break-word;
  }
  .view {
    text-align:right;
    margin: 0;
  }
  table {
    td {
      background: none !important;
      border:0 !important;
      padding: 0 0 4px 0 !important;
    }
    .cost-per-night, .location {
      text-align:right;
      margin-bottom: 2px;
    }
  }
}

.sidebar-search {
  .control-group {
    margin-bottom: 5px;
  }
  .sort-by {
    .radio {
      margin-left:12px;
    }
    label {
      vertical-align: bottom;
    }
  }
}

.results {
  min-height: 350px;
}

.search-box {

  .location input{
    height: 30px;
    width: 260px;
    font-size: 18px;
    border-radius: 6px;
  }

  .input-check-in-date {
    width: 190px;
    height: 30px;
    font-size:14px;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
  }

  .input-check-out-date {
    width: 190px;
    height: 30px;
    font-size:14px;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
  }

  .check_in_date{
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
  }

  .check_out_date{
    position: relative;
    margin-right: 20px;
  }

 .check_in_calendar_icon {
   z-index: 20;
   position: absolute;
   top: 12px;
   display: block;
   right: 0;
   width: 20px;
   height: 21px;
   cursor: pointer;
 }

 .check_out_calendar_icon {
   z-index: 20;
   position: absolute;
   top: 12px;
   display: block;
   right: 0;
   width: 20px;
   height: 21px;
   cursor: pointer;
 }

 .search-btn{
   width: 100px;
   height: 40px;
 }

 .sort-by{
   margin-top: 15px;
 }
 
 .sort-text{
   margin-right: 10px;
 }
}
