.sign-in {
  .container {
    padding-top: 20px;
    .btn-facebook-sign-in {
      display: inline-block;
      text-indent: -9999px;
      min-width: 198px;
      min-height: 38px;
      background: url('facebook-sign-in.png') no-repeat;
      padding: 0;
    }
  }
}
