.sign-up {
    .mobile-icon {
        padding-left: 9px;
        padding-right: 9px;
    }
    .no-right-border {
        border-right: none;
    }
    .input-group-addon.custom {
        background-color: white;
        border-left: none;
    }
    .why-sign-up {
        position: absolute;
        top: 185px;
        right: 0;
        max-width: 300px;
        background-color: #f7f7f7;
        padding: 40px 20px;
    }
}
