.sign-in {
  .container {
    .panel {
      .panel-heading {
        background-color: white;
        background-image: none;
        text-align: center;
        border: none;
        img {
          height: 85px;
          margin-bottom: 10px;
        }
      }
      .panel-body{
        label {
          color: #3c3835;
        }
      }
    }
  }
}
