// This is only a temporary fix
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: white !important;
    background-color: #ea6e28 !important;
}


.nav-custom {
    div.container {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-btn {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
}
.buttons {
    display: inline-block !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    border: 0px solid transparent;
    text-shadow: none;
    box-shadow: none !important;
}
.buttons:hover {
    background-color: #5f5753;
}

.btn-facebook-sign-in {
  display:inline-block;
  text-indent: -9999px;
  min-width: 198px;
  min-height: 38px;
  background: url('facebook-sign-in.png') no-repeat;
  margin-left: 7px;
  margin-bottom: 10px;
  padding: 0;
}

section.footer .container {
    width: 1170px;
}

.search-filters .sort-by {
    margin-top: 5px;
    margin-bottom: 0;
    .radio {
        margin-top: 0;
        margin-right: 5px;
        padding-top: 0;
    }
}
