
@import "bootstrap_overrides";
@import "bootstrap";
@import 'bootstrap-datetimepicker.min';
@import "feedback";
@import "forms";
@import "homestays";
@import "maps";
@import "navigation";
@import "pages";
@import "pet";
@import "popup";
@import "provider";
@import "search";
@import "users";
@import "bookings";
@import "gmaps4rails";
@import "chosen";
@import "tablesorter";
@import "admin";

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.tb { text-align: block }

.red {color: red;}

#new_blog_post_link { margin-top: 20px; }
#post_title, #post_tag_list { width: 506px; }

.btn-facebook-sign-up {
  display:inline-block;
  text-indent: -9999px;
  min-width: 230px;
  min-height: 42px;
  background: url('fb_sign_up.png') no-repeat;
  margin-left: 120px;
  margin-bottom: 30px;
  padding: 0;
}

.alert.info {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  background-image: linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  background-image: -moz-linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  background-image: -ms-linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  background-image: -o-linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  border: 1px solid rgba(234, 110, 40, 0.6);
  color: rgba(255, 255, 255, 0.9);
}

.container-home .pull-right {
  margin-right: 20px !important;
}

.hidden {
  display: none;
}

.indent-alert {
  margin-left: 180px;
}

.main{
	margin-top: $margins * 3;
}

.main-changes {
  float: left;
  padding-left: 20px;
}

.row-margin-top { margin-top: 20px;}

.fixed{
  position: fixed;
}

.clear{
  clear: both;
}

.home-search {
  margin-top: 10px;
}

.sidebar-nav {
  padding-top: 138px; float: left; padding-left: 10px;
}

h1 {
  font-size: 30px;
  small {
    font-size: 18px;
  }
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

caption {
  font-size: 16px;
}

a.admin {
  color: $gray;
  font-size: smaller;
  margin-left:20px;
}

footer {
  overflow: hidden;
  margin-left:20px;
  margin-right: 20px;
  .social-links {
    float: left;
    li {
      margin-bottom: 14px;
    }
  }
  .pull-right {
    text-align:right;
  }
  .city-menu {
    margin-top: 10px;
      a {
      color: gray;
      &:hover {
        color: $orange;
      }
    }
  }
  .copyright {
    margin-top: 8px;
  }
  .footer-menu {
    margin-right: -7px;
    li {
    float: right;
    margin-left:5px;
    &:after {
      content: " |";
    }
  }
}
}

footer[type="comment"] {
  padding-bottom: 20px !important;
}

.chzn-container-single .chzn-single div b {
  background: url("chosen-sprite.png") no-repeat 0 0;
}

.control-content { padding-top: 5px; }

.space-for-navbar-fixed {
  padding-top: 40px;
}
