/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.slider
 *= require jquery.ui.datepicker
 *= require_tree .
*/

@margins: 20px;
@orange:  #EA6E28;

.navbar {
  .navbar-inner {
    min-height: 42px;
    .nav li a {
      line-height: 22px;
    }
  }
  .brand {
    background: url('header-logo.png') 22px 0 no-repeat;
    width: 175px;
    text-indent: -9999px;
  }
}

.alert.info {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  border: 1px solid rgba(234, 110, 40, 0.6);
  color: rgba(255, 255, 255, 0.9);
}

.main{
	margin-top: @margins * 3;
}

.fixed{
  position: fixed;
}

.clear{
  clear: both;
}

.home-search {
  margin-top: 10px;
}

footer {
  overflow: hidden;
  .social-links {
    float: left;
    li {
      margin-bottom: 14px;
    }
  }
  .pull-right {
    text-align:right;
  }
  .city-menu {
    margin-top: 10px;
      a {
      color: gray;
      &:hover {
        color: @orange;
      }
    }
  }
  .copyright {
    margin-top: 8px;
  }
  .footer-menu {
    margin-right: -7px;
    li {
    float: right;
    margin-left:5px;
    &:after {
      content: " |";
    }
  }
}
}
