
@import "bootstrap_overrides";
@import "bootstrap";
@import "feedback";
@import "forms";
@import "homestays";
@import "maps";
@import "navigation";
@import "pages";
@import "pet";
@import "popup";
@import "provider";
@import "search";
@import "users";
@import "gmaps4rails";
@import "chosen";
@import "tablesorter";

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.tb { text-align: block }

.red {color: red;}

.alert.info {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, rgba(234, 110, 40, 0.8), rgba(234, 142, 40, 0.7));
  border: 1px solid rgba(234, 110, 40, 0.6);
  color: rgba(255, 255, 255, 0.9);
}

.main{
	margin-top: $margins * 3;
}

.fixed{
  position: fixed;
}

.clear{
  clear: both;
}

.home-search {
  margin-top: 10px;
}

h1 {
  font-size: 30px;
  small {
    font-size: 18px;
  }
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

caption {
  font-size: 16px;
}

a.admin {
  color: $gray;
  font-size: smaller;
  margin-left:20px;
}

footer {
  overflow: hidden;
  padding-bottom: 180px;
  width:940px;
  margin:auto;
  .social-links {
    float: left;
    li {
      margin-bottom: 14px;
    }
  }
  .pull-right {
    text-align:right;
  }
  .city-menu {
    margin-top: 10px;
      a {
      color: gray;
      &:hover {
        color: $orange;
      }
    }
  }
  .copyright {
    margin-top: 8px;
  }
  .footer-menu {
    margin-right: -7px;
    li {
    float: right;
    margin-left:5px;
    &:after {
      content: " |";
    }
  }
}
}

.chzn-container-single .chzn-single div b {
  background: url("chosen-sprite.png") no-repeat 0 0;
}
