.input-prepend.input-append .add-on:first-child {
  margin-right: -6px;
}

.input-prepend.input-append .add-on:last-child {
  margin-left: -6px;
}

form {
  h3 {
    margin-bottom:10px;
  }

  .required label {
    font-weight: bold;
  }
}