.homestay-pictures {
  tr td {
    vertical-align: middle;
  }
}

.new-picture {
  margin-top: -18px;
  td {
    text-align: center;
  }
}

.carousel-control {
  margin-top: 0px;
}

.homestay-share-buttons {
  margin-bottom: 20px;

  .facebook-share, .twitter-share {
    float: left;
  }

  .facebook-share {
    width: 290px;
  }

  .twitter-share {
    margin-top: 2px;
  }

  &.top {
    position: absolute;
    margin-top: -30px;
    margin-left: 152px;

    .facebook-share {
      margin-left: -10px;
    }
  }
}
