// Font
body {
    font-family: 'Ubuntu', sans-serif;

    p {
        font-size: 15.6px;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
    }
}

// Nav bar
.nav-custom {
    background-color: rgba(57,60,61,0.5);
    margin-bottom: 0;
    border-radius: 0;
    color: #FFFFFF;

    #brand {
        color: inherit;
        text-shadow: none;
        font-size: 24px;
        font-weight: 500;
    }

    .buttons {
        font-weight: bold;
        background: none;
        margin-left:  7px;
        margin-right: 7px;
    }
    #sign-up {
        border: 2px solid #FFFFFF;
    }
    .buttons:hover {
        color: inherit;
    }
}

// Jumbotron
.bg {
    background: image-url("home/jumbotron_bg.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 550px; // Must be the height of jumbotron plus the height of nav bar
    top: 0;
    left: 0;
    z-index: -1;
}
.jumbotron {
    margin-bottom: 0;
    height: 498px; // Must be the height of bg minus the height of nav bar
    background: rgba(18, 18, 18, 0.2);
    // text
    color: #FFFFFF;
    text-shadow: black 0.03em 0.03em 0.03em;
    text-align: center;
}
// Greeting
.jumbotron h1 {
    margin: 50px 0 0.7em 0;
}
// Host search bar
#host-search-form {
    display: inline-block; // reduce the width to only what is necessary
    margin: 0px auto;
    background-color: rgba(57,60,61,0.5);
    padding: 13px;
}
// Input field
.left-merged .input-group-addon {
    border-right: 0;
    background-color: #FFFFFF;
    border-radius: 0;
}
#postcode input {
    border-left: 0;
    background-color: #FFFFFF;
    border-radius: 0;
}
.right-merged .input-group-addon {
    border-left: 0;
    background-color: #FFFFFF;
    border-radius: 0;
}
#drop-off input,
#pick-up input {
    border-right: 0;
    background-color: #FFFFFF;
    border-radius: 0;
    width: 155px;
}
#search-btn {
    color: #FFFFFF;
    background-color: #eb5b3a;
    width: 7em;
    border-radius: 0;
}
#search-btn:focus,
#search-btn:hover {
    background-color: #eb5b1a;
    color: #FFFFFF;
}
// Media
.media {
    margin-top: 110px;

    img {
        margin: 0 15px;
    }
}

// Sections shared
#why-phs h2,
.three-steps h2,
.meet-community h2 {
    font-size: 35px;
    margin-top: 35px;
}

// Three steps
.three-steps {
    .row {
        padding-bottom: 25px;
    }

    img {
        width: 130px;
        // center graphics
        display: block;
        margin: 15px auto;
    }

    .steps {
        padding-left:  3em;
        padding-right: 3em;
    }
}

// Why PHS
#why-phs {
    background-color: rgb(247, 247, 247);
}
#why-phs img {
    width: 90%;
}
#why-phs h3 {
    margin-top: 55px;
}
#first-row {
    margin-top: 70px;
}
#last-row {
    margin-bottom: 70px;
}

// Meet the Community
.meet-community .story {
    position: relative;
    background-color: black;
    padding: 0 0;
    height: 340px;
    overflow: hidden;
    text-shadow: black 0.03em 0.03em 0.03em;
}
.meet-community .row {
    margin-top: 45px;
    margin-bottom: 45px;
}
.meet-community .story img {
    position: relative;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.meet-community .story img:hover {
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.meet-community .story .caption {
    color: #FFFFFF;
    position: absolute;
    top: 35%;
    left: 33%;
    pointer-events: none;
}
.meet-community p {
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
}

// Bottome search
section.bottom-search {
    background-color: rgb(93, 193, 191);
    padding-bottom: 60px;
}
.bottom-search h3 {
    color: #FFFFFF;
    margin-top: 45px;
}

// Footer
section.footer {
    background-color: rgb(60, 56, 53);
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 30px;

    a {color: #FFFFFF;}
    a:hover {text-decoration: none;}
}
.footer .connect {
    margin-top: 20px;
}

// Responsive
@media (max-width: 500px) {
    // Nav bar
    #become-a-host {
        display: none;
    }
}
@media (max-width: 767px) {
    // Jumbotron
    #drop-off input,
    #pick-up input {
        display: block;
        width: 100%;
    }
    // Why PHS
    #why-phs h3 {
        margin-top: 10px;
    }
    // Meet the Community
    #second-story,
    #second-story-description {
        display: none;
    }
    // Footer
    .footer .sitemap {
        display: none;
    }
}
@media (max-width: 991px) {
    #postcode {
        display: block;
    }
    #postcode .input-group {
        width: 100%;
    }
    #search-btn {
        display: block;
        width: 100%;
    }
    #postcode,
    #drop-off,
    #pick-up {
        margin-bottom: 5px;
    }
    // Meet the Community
    #third-story,
    #third-story-description {
        display: none;
    }
}
