@import url('//fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import "bootstrap_3_3_0.min";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import "bootstrap-datepicker";
@import "bootstrap-slider";
@import "owl.carousel";
@import "owl.theme";
@import "animate";
@import "chosen"; // jQuery chosen
@import "definations";
@import "my_account/calendar";
@import "nav_bar";
@import "footer";
@import "homepage";
@import "sign_in";
@import "sign_up";
@import "welcome";
@import "homestay_index";
@import "homestay_show";
// Guest View and Host View
@import "my_account/sub_nav";
@import "my_account/left_nav";
@import "my_account/right_panel";
@import "my_account/messages_panel";
@import "bookings/edit";
// Guest View
@import "my_account/guest/pet_panel";
@import "my_account/guest/favorites_panel";

// Font
body {
    font-family: 'Ubuntu', sans-serif;

    p {
        font-size: 15.6px;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
    }
}
// Alert
.alert {
  .alert-info {
    background-image: none;
    background-color: #5cc1c0;
    color: #ffffff;
    border: none;
    & > span:nth-last-child(2) {
      margin-right: 15px;
    }
  }
}
// Datepicker
.datepicker {
  z-index: 9999 !important;
}
// Sign in and Sign out
.sign-in,
.sign-up {
  .container {
    padding-top: 20px;
  }
  .panel {
    background-color: #e5e5e5;
    border: none;
    box-shadow: none;
    margin-bottom: 80px;
    .panel-heading {
      background-color: white;
      background-image: none;
      text-align: center;
      border: none;
      img {
        height: 85px;
        margin-bottom: 10px;
      }
    }
    .panel-body {
      .hr {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #3c3835;
        line-height: 0.1em;
        margin: 20px 0;
        span {
          background-color: #e5e5e5;
          color: #3c3835;
          padding: 0 10px;
        }
      }
      .btn-primary {
          background-color: #ec5c3b;
          color: #f7f7f7;
          background-image: none;
          border: none;
          font-size: 16px;
        }
        .submit {
          margin-bottom: 20px;
        }
    }
  }
}
.btn-facebook-sign-up {
  background-color: #3B5998;
  background-image: none;
  color: #f7f7f7;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  &:hover,
  &:focus {
    color: #f7f7f7;
  }
}
// Guest View and Host View
.main-panel {
  padding: 0 20px 20px 20px;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
}
span.booking-status {
  font-weight: 700;
  &.enquiry {
    color: $black-light;
  }
  &.booked {
    color: $blue;
  }
  &.cancelled {
    color: $grey-dark;
  }
  &.requested {
    color: $orange;
  }
}

// Guest View
// Avatar with phone
a.profile {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .phone-icon {
    position: absolute;
    top: 50px;
    left: 40px;
    .fa-square {
      color: $grey-dark;
    }
    .fa-phone {
      color: white;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: 1075px) {
  .right-panel .calendar-container {
    padding-left:  10px;
    padding-right: 10px;
  }
}
