@import 'home/meet_community';

// Font
body {
    font-family: 'Ubuntu', sans-serif;

    p {
        font-size: 15.6px;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
    }
}

// Jumbotron
.bg {
    background: image-url("home/jumbotron_bg.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 550px; // Must be the height of jumbotron plus the height of nav bar
    top: 0;
    left: 0;
    z-index: -1;
}
.jumbotron {
    margin-bottom: 0;
    height: 498px; // Must be the height of bg minus the height of nav bar
    background: rgba(18, 18, 18, 0.2);
    // text
    color: #FFFFFF;
    text-shadow: black 0.03em 0.03em 0.03em;
    text-align: center;
}
// Greeting
.jumbotron h1 {
    margin: 50px 0 0.7em 0;

    #line-breaker {
        display: none;
    }
}
// Host search bar
#host-search-form {
    display: inline-block; // reduce the width to only what is necessary
    margin: 0px auto;
    background-color: rgba(57,60,61,0.5);
    padding: 13px;
}
// Input field
.left-merged .input-group-addon {
    border-right: 0;
    background-color: #FFFFFF;
    border-radius: 0;
}
#postcode input {
    border-left: 0;
    background-color: #FFFFFF;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.left-merged .input-group-addon {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.right-merged .input-group-addon {
    border-left: 0;
    background-color: #FFFFFF;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#drop-off input,
#pick-up input {
    border-right: 0;
    background-color: #FFFFFF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 155px;
}
#search-btn {
    color: #FFFFFF;
    background-color: #eb5b3a;
    width: 7em;
    height: 46px;
    border-radius: 4px;
}
#search-btn:focus,
#search-btn:hover {
    background-color: #eb5b1a;
    color: #FFFFFF;
}
// Media
.media {
    margin-top: 110px;

    img {
        margin: 0 15px;
    }
}

// Sections shared
#why-phs h2,
.three-steps h2,
.meet-community h2 {
    font-size: 35px;
    margin-top: 35px;
}

// Three steps
.three-steps {
    .row {
        padding-bottom: 25px;
    }

    img {
        width: 130px;
        // center graphics
        display: block;
        margin: 15px auto;
    }

    .steps {
        padding-left:  3em;
        padding-right: 3em;
    }
}

// Three features
#why-phs {
    background-color: rgb(247, 247, 247);
}
#why-phs img {
    width: 280px;
    // center graphics
    display: block;
    margin-left:  auto;
    margin-right: auto;
}
#why-phs h3 {
    margin-top: 55px;
}
#first-row {
    margin-top: 70px;
}
#last-row {
    margin-bottom: 70px;
}

// Bottome search
section.bottom-search {
    background-color: rgb(93, 193, 191);
    padding-bottom: 60px;
}
.bottom-search h3 {
    color: #FFFFFF;
    margin-top: 45px;
}

// Responsive
@media (max-width: 991px) {
    #postcode {
        display: block;
    }
    #postcode .input-group {
        width: 100%;
    }
    #search-btn {
        display: block;
        width: 100%;
    }
    #postcode,
    #drop-off,
    #pick-up {
        margin-bottom: 5px;
    }
}
@media (max-width: 767px) {
    // Jumbotron
    #drop-off input,
    #pick-up input {
        display: block;
        width: 100%;
    }
    // Why PHS
    #why-phs {
        h3 {
            margin-top: 10px;
        }
        img {
            width: 180px;
        }
    }
}
@media (max-width: 500px) {
    // Nav bar
    #become-a-host,
    #find-a-host {
        display: none;
    }
    .nav-custom #brand {
        font-size: 18px;
    }
    // Jumbotron
    .bg {
        background-size: 1000px 100%;
    }
    .jumbotron {
        padding-left:  0;
        padding-right: 0;
    }
    // Three features
    #why-phs{

        img {
            width: 100px;
        }

        #first-row {
            margin-top: 30px;
        }
        #last-row {
            margin-bottom: 30px;
        }
    }
    // Three stories
    .meet-community .story .caption {
        left: 25%;
    }
}
@media (max-width: 350px) {
    #my {
        display: none;
    }
}
// iPhone horizontal
@media only screen and (min-width: 480px) and (max-width: 766px) {
    .jumbotron{
        h1 {
            font-size: 30px;
            margin-top: 5px;
        }
        #drop-off,
        {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .media {
            margin-top: 20px;
        }
    }
}
// iPad horizontal
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .jumbotron h1 #line-breaker {
        display: inline;
    }
}
