@import url('//fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import "bootstrap_3_3_0.min";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import "nifty";
@import "themes/blue/pace-theme-flash";
@import "bootstrap-datepicker";
@import "bootstrap-slider";
@import "animate";
@import "chosen"; // jQuery chosen
@import "definations";
@import "my_account/calendar";
@import "nav_bar";
@import "slick";
@import "footer";
@import "homepage";
@import "sign_in";
@import "sign_up";
@import "welcome";
@import "homestay_index";
@import "homestay_show";
// Guest View and Host View
@import "my_account/sub_nav";
@import "my_account/left_nav";
@import "my_account/right_panel";
@import "my_account/messages_panel";
@import "bookings/edit";
// Guest View
@import "my_account/guest/pet_panel";
@import "my_account/guest/favorites_panel";


// Font
body {
    font-family: 'Ubuntu', sans-serif;
    color: #404040;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;

    p {
        font-size: 15.6px;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
    }
}
// Alert
.alert {
  .alert-info {
    background-image: none;
    background-color: #5cc1c0;
    color: #ffffff;
    border: none;
    & > span:nth-last-child(2) {
      margin-right: 15px;
    }
  }
}
// Datepicker
.datepicker {
  z-index: 9999 !important;
}
// Sign in and Sign out
.sign-in,
.sign-up {
  .container {
    padding-top: 20px;
  }
  .panel {
    background-color: #e5e5e5;
    border: none;
    box-shadow: none;
    margin-bottom: 80px;
    .panel-heading {
      background-color: white;
      background-image: none;
      text-align: center;
      border: none;
      img {
        height: 85px;
        margin-bottom: 10px;
      }
    }
    .panel-body {
      .hr {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #3c3835;
        line-height: 0.1em;
        margin: 20px 0;
        span {
          background-color: #e5e5e5;
          color: #3c3835;
          padding: 0 10px;
        }
      }
      .btn-primary {
          background-color: #ec5c3b;
          color: #f7f7f7;
          background-image: none;
          border: none;
          font-size: 16px;
        }
        .submit {
          margin-bottom: 20px;
        }
    }
  }
}
.btn-facebook-sign-up {
  background-color: #3B5998;
  background-image: none;
  color: #f7f7f7;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  &:hover,
  &:focus {
    color: #f7f7f7;
  }
}
// Guest View and Host View
.main-panel {
  padding: 0 20px 20px 20px;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
}
span.booking-status {
  font-weight: 700;
  &.enquiry {
    color: $black-light;
  }
  &.booked {
    color: $blue;
  }
  &.cancelled {
    color: $grey-dark;
  }
  &.requested {
    color: $orange;
  }
}

// Guest View
// Avatar with phone
a.profile {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .phone-icon {
    position: absolute;
    top: 50px;
    left: 40px;
    .fa-square {
      color: $grey-dark;
    }
    .fa-phone {
      color: white;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: 1075px) {
  .right-panel .calendar-container {
    padding-left:  10px;
    padding-right: 10px;
  }
}

.searchbox > .input-group input:focus {
  border-color: #458fd2;
}

.chzn-container {
  width: 100% !important;
}

.chzn-drop {
  width: 100% !important;
}

.chzn-container .chzn-results li {
  color: #000;   
}
.chzn-container .chzn-drop, .chzn-container-single .chzn-single {
  background-color: #fff;
  color: #000;
  border-radius:2px;
}
/* Some IE 7-9 fun with this next one - filter likes to override background */
.chzn-container-single .chzn-single {
  background-color: #fff;
  background-image: none;
  background: #fff none top left no-repeat;
  filter: none;
  border: 1px solid #dcdcdc;
  display: block;
  height: 30px;
}
.chzn-choices {
  border-radius:2px !important;
}
.chzn-container .chzn-drop {
  border: 1px solid #dcdcdc;     
}
.chzn-container-single .chzn-single div {
  background-image: -webkit-gradient(linear, left bottom, left top, 
    color-stop(0, #fff), color-stop(0.6, #fff));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #fff 60%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #fff 60%);
  background-image: -o-linear-gradient(bottom, #fff 0%, #fff 60%);
  background-image: -ms-linear-gradient(top, #fff 0%,#fff 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', 
    endColorstr='#fff',GradientType=0 );
  background-image: linear-gradient(top, #fff 0%,#fff 60%);
  border-left: 1px solid #dcdcdc;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666666;
  background: transparent !important;
  border: 0 !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  height: 34px;
  padding: 6px 12px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.chzn-container-multi .chzn-choices {
  background-color: white;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  border: 1px solid #dcdcdc;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}

.chzn-container-multi .chzn-choices .search-choice {
  background-color: #3bb5e8;
  color: white;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333333;
  border: 1px solid #dcdcdc;
  line-height: 22px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.chzn-container-active .chzn-single-with-drop {
  box-shadow: none; 
}
.chzn-container .chzn-results .highlighted {
  background: #149bdf;
  color: #fff;
}
.chzn-container .chzn-results .no-results {
  background: #fff;
}
.chzn-container .chzn-results li em {
  background: none;
}