@import 'bootstrap_3.2.0.min';
@import 'bootstrap-theme_3.2.0.min';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import 'animate';
@import 'nav_bar';
@import 'footer';
@import 'sign_in';

.btn-facebook-sign-up {
  background-color: rgb(81, 124, 193);
  background-image: none;
  color: #f7f7f7;
  width: 100%;
  height: 40px;
  padding-top: 10px;
}
// Font
body {
    font-family: 'Ubuntu', sans-serif;

    p {
        font-size: 15.6px;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
    }
}
// Alert
.alert-info {
  background-image: none;
  background-color: #5cc1c0;
  color: #ffffff;
  border: none;
  & > span:nth-last-child(2) {
    margin-right: 15px;
  }
}
