@import 'bootstrap_3.2.0.min';
@import 'bootstrap-theme_3.2.0.min';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import 'nav_bar';
@import 'footer';
