@import 'bootstrap_3.2.0.min';
@import 'bootstrap-theme_3.2.0.min';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import 'nav_bar';
@import 'footer';
@import 'sign_in';

// Font
body {
    font-family: 'Ubuntu', sans-serif;

    p {
        font-size: 15.6px;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
    }
}
