@orange:  #EA6E28;

.header-boxes {
  .well {
    height: 270px;
  }
  .well.half {
    height: 105px;
  }
  .tagline {
    padding-top:60px;
    h1 {
      font-size:30px;
      font-weight:100;
      line-height:36px;
      strong {
        color: @orange;
      }
    }
  }
}

.footer-boxes {
  p {
    height:130px;
  }
  a {
    float:right;
  }
}
