@orange:  #EA6E28;

.big-search {
  background: url('subtle.png');
  margin-top:40px;
  box-shadow: 0px 0px 8px #222;
  height:370px;
  margin-bottom: -40px;
  .container {
    box-shadow: 0px 0px 12px #222;
    background:url('puppy.jpg');
    height:100%;
  }
  .search-container {
    margin: 0 auto;
    width:466px;
    color: #fff;
    margin-top:120px;
    margin-left:450px;
    text-align: right;
  }
  input {
    width: 340px;
    height: 42px;
    font-size:22px;
    margin-right:-3px;
  }
  button {
    font-size: 22px;
    height: 52px;
  }
}

.header-boxes {
  .well {
    height: 270px;
  }
  .well.half {
    height: 105px;
  }
  .tagline {
    padding-top:60px;
    h1 {
      font-size:30px;
      font-weight:100;
      line-height:36px;
      strong {
        color: @orange;
      }
    }
  }
}

.footer-boxes {
  p {
    height:130px;
  }
  a {
    float:right;
  }
}
