.popup {
  position: absolute;
  display: none;
  width:250px;
  padding:0;
  .popover-inner {
    padding:0;
    form{
      margin:0;
    }
  }
}

.active-popup {
  i {
    z-index:200;
    background:#eee;
    border: 0 solid #ccc;
    border-right-width:1px;
  }
}

.behaviour-popup-trigger{
  margin-right:-9px;
  padding:5px;
}