@margins: 20px;

.table .thumbnails{
  margin-left: 0;
}

.span4 .thumbnails{
  margin-left: 0;
}

.description{
  margin-top: @margins;
}

.row .pricing{
  margin-left: 0;
  padding-right: 15px;
  text-align: right;
}

.map{
  margin-top: @margins;
}

.quick-contact{
  margin-top: @margins;
  margin-bottom: 0;
  textarea{
    width: 488px;
  } 
}
