@margins: 20px;

.listing{
  .image-cell {
    width:120px;
    height:142px;
    .rating {
      height:20px;
      width:86px;
      margin: 6px auto -4px;
    }
  }
  .excerpt {
    height:72px;
    font-size:14px;
  }
  .view {
    text-align:right;
    margin: 0;
  }
  table {
    width: 100%;
    td {
      background: none !important;
      border:0 !important;
      padding: 0 0 4px 0 !important;
    }
    .cost-per-night, .location {
      text-align:right;
      margin-bottom: 2px;
    }
  }
}

.sidebar-search {
  #search_location {
    width: 190px;
    margin-right: -4px;
  }
  .sort-by {
    margin-top:10px;
    .radio {
      margin-left:10px;
      margin-top:-8px;
    }
  }
}

.results {
  min-height: 350px;
}
