@import 'search-row';
#expand-search-bar{
	position:relative;
}
.advanced-search{
  padding-top:0;
  padding-bottom: 0; 
	display: none;
}


.advanced-search.active{
	display: block;
}

.advanced-search:after {
  position:absolute;
  left:150px;
  color: #5cc1c0;
  content: "\25bc";
  font-size: 1.4em;
  pointer-events: none;
  bottom: -0.9em;
}

.filter-btn.popup {
  position: relative;
  overflow: visible !important;
}
.filter-btn.popup .popup-content {
  display: none;
  position: absolute;
  top:5%;
  width:100px;
  background-color: #fff;
  padding: .5em;

}
.filter-btn.popup:hover .popup-content {
  display: block;
}