.reviews-slider-container{
  @extend .noselect;
  clear:left;
  width:100%;
  overflow: hidden;
  border-left:5px solid #eee;
  
  .prev-arrow, .next-arrow{
    width:10%;
    color:#ABABAB;
    padding:30px 15px 15px 15px;
  }
  .timeline:after, .timeline:before{
    display:none;
  }
}

.reviews-slider-container >* {
  float: left;
}

ul.slideshow > li> .timeline-entry{
  margin-bottom: 15px;
  blockquote{
    border-left: none;
  }
}


@media (max-width: $screen-xs-max){
  .timeline-label.nomargin-xs{
    margin-left:0;
  }
}




/********** slider of review in result row ***********/
.slideshow {
  width:80%;
  list-style-type: none;
  padding: 0;
  @media (max-width: $screen-xs-max){
    width:70%;
  }
}

.slideshow li {
    display: none;
}

.slideshow li:first-child {
    display: list-item;
}
/************ end of css for hiding the rest *********/