.reviews-slider-container{
	clear:left;
	width:100%;

	.timeline:after, .timeline:before{
		display:none;
	}


}

.timeline-entry.slick-cloned{
	display:none !important;
}

.timeline-label.nomargin-xs{
	@media (max-width: $screen-xs-max){
		margin-left:0;
	}
}