.reviews-slider-container{
	clear:left;
	width:100%;

	.timeline:after, .timeline:before{
		display:none;
	}


}

.timeline-label.nomargin-xs{
	@media (max-width: $screen-xs-max){
		margin-left:0;
	}
}


.slideshow {
    list-style-type: none;
    padding: 0;
}

.slideshow li {
    display: none;
}

.slideshow li:first-child {
    display: block;
}