%p
Welcome #{@resource.name}!
%p Thank you for signing up with PetHomeStay.com! We are excited to welcome you to our community.
%p Please click the link below to confirm your email address below:
%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p If you have any questions we're here to help! Please don't hesitate to contact us though the link below:
%p= link_to 'PetHomeStay contact page', 'http://www.pethomestay.com/contacts/new'
%p The PetHomeStay Team
