= link_to 'New User', new_admin_user_path, class: 'btn btn-primary pull-right'
%h1 Listing Users
%table.table.tablesorter
  %thead
    %tr
      %th Name
      %th Email
      %th Joined
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.created_at.to_formatted_s(:year_month_day)
        %td
          =link_to 'Show', admin_user_path(user)
          =link_to 'Edit', edit_admin_user_path(user)
          =link_to 'Destroy', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(document).ready(function(){
    $('table.tablesorter').tablesorter({headers:{3:{sorter:false}}});
  });
