.right-panel {
  padding: 0;
  .upcoming {
    padding: 15px 20px 0 20px;
    .event {
      .date-widget {
        width: 66px;
        display: inline-block;
        text-align: center;
        position: absolute;
        .decoration {
          width: 4px;
          height: 12px;
          background-color: black;
          position: absolute;
          z-index: 2;
          &.left {
            left: 9px;
          }
          &.right {
            right: 9px;
          }
        }
        .month {
          height: 20px;
          line-height: 20px;
          font-size: 11px;
          font-weight: 700;
          color: white;
          background-color: $orange;
          position: relative;
          top: 4px;
        }
        .day {
          height: 45px;
          line-height: 45px;
          font-size: 26px;
          font-weight: 700;
          color: $black-light;
          background-color: $grey-light;
        }
      }
      .info {
        margin-left: 100px;
        display: inline-block;
        span {
          display: block;
          &.booking-status {
            font-weight: 700;
            &.accepted {
              color: $blue-light;
            }
            &.inquiry {
              color: $grey-dark;
            }
          }
        }
      }
      .leave-feedback.btn {
        margin-top: 10px;
      }
      .hr {
        height: 1px;
        margin: 20px 5px;
        background-color: $grey;
      }
    }
  }
}
