%h2 Enter your pet hotel details
%p Please complete your hotel profile
.progress
  .bar{style: "width: 66%"} 
%h3 
= render layout: 'form' do |f|
  .control-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title
