- if @enquiry.valid?
  $('#request-modal').modal('hide')
  $('#confirm-modal').modal('show')
- else
  - if @pet_present
    $('#flash_error_with_pet').html('#{ @message[:msg] }')
    $('#flash_error_with_pet').addClass('text-danger')
  - else
    $('#flash_error').html('#{ @message[:msg] }')
    $('#flash_error').addClass('text-danger')

