.big-search
  .container
    .search-container
      %h2 Looking for pet care?
      %h3 Find trusted local people who love looking after pets!
      = form_for Search.new, url: homestays_path, method: 'GET', html: {class: 'form-search'} do |f|
        .input-append
          = f.text_field :location, class: 'search-query input-xlarge', placeholder: 'enter your postcode'
          %button.btn.btn-large.btn-primary{type: "submit"} Search
        .clear
