.big-search
  .picture-container
    .search-container
      %h2
        Trusted, Local Pet Boarding & Sitting
      %h3 PetHomeStay has hundreds of amazing Hosts who love looking after pets!
      = form_for Search.new, url: homestays_path, method: 'GET', html: {class: 'form-search'} do |f|
        .input-append
          = f.text_field :location, class: 'search-query input-xlarge', placeholder: 'enter your postcode to find Hosts near you!'
          %button.btn.btn-large.btn-primary{type: "submit"} Search
        .input-append.input-date-range
          = f.text_field :check_in_date, id: "check_in_datepicker", class: "input-check-in-date", placeholder: "Select start date"
          = f.text_field :check_out_date, id: "check_out_datepicker", class: "input-check-out-date", placeholder: "Select end date"
        .clear
      %h3#bottom-home-text
        Free to View & Contact All PetHomeStay Hosts
        %br Peace of Mind with Exclusive Insurance
        Book & Pay Securely Online

