.big-search
  .container
    .search-container
      %h2 Taking a trip?
      %h2 Looking for pet care?
      %h3 Start your search for a pet sitter or pet hotel and be worry-free!
      = form_for Search.new, method: 'GET', html: {class: 'form-search'} do |f|
        = f.hidden_field 'provider_types', name: 'search[provider_types][hotel]', value: 1
        = f.hidden_field 'provider_types', name: 'search[provider_types][sitter]', value: 1 
        .input-append
          = f.text_field :location, class: 'search-query input-xlarge'
          %button.btn.btn-large.btn-primary{type: "submit"} Search
        .clear
