:javascript
  document.write('<scr' + 'ipt src="' + document.location.protocol + '//fby.s3.amazonaws.com/fby.js?100"></scr' + 'ipt>');
:javascript
  FBY.showTab({id: '2763', position: 'right', color: '#EA6E28'});
