- if current_user_present
  = render 'layouts/top_navigaton'
= render 'layouts/flash_messages', :locals => {:flash => flash}
%div{ :class => if @homepage.blank? or !@homepage then 'row' else 'arow' end }
  = yield
%hr
= render partial: 'layouts/feedbackify' if @homepage.blank?
