<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
  	<div class="container">
  		<a class="brand" href="/">
  			Pet Homestay
  		</a>
			<ul class="nav">
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
			</ul>
		</div>
	</div>
</div>
