%ul.nav.nav-pills
  %li.favourites
    = link_to 'Favourites', favourites_homestays_path
  %li.bookings
    = link_to 'My Bookings', bookings_path
  %li.trips
    = link_to 'My Trips', trips_bookings_path
  -if current_user.homestay.present? && current_user.homestay.persisted?
    %li.availability
      = link_to 'My Calendar', availability_path(current_user.homestay)
