= simple_form_for @account, html: { class: 'form-horizontal' } do |f|
  - @f = f
  = render :partial => "account_fields"

  .form-actions
    = f.submit 'Save', id: 'account-save-btn', class: 'btn btn-primary'
